<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monsterAglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,184},{35,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>monsterBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,52},{14,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,34}}</string>
                <key>sourceSize</key>
                <string>{14,34}</string>
            </dict>
            <key>monsterGoldlv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>monster_skill_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>monster_skill_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>monster_skill_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>monster_skill_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>monsterattack.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,192},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>monsterlife.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,88},{102,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,8}}</string>
                <key>sourceSize</key>
                <string>{102,8}</string>
            </dict>
            <key>monsterwhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterArr.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:458a86fc7858ccb5a86d8fd6a2c2d86f:8de2b6c001c1f6ff86f27f5b4a72d3ad:8960efffc9054acdfba7cb11fbdea9dc$</string>
            <key>textureFileName</key>
            <string>monsterArr.png</string>
        </dict>
    </dict>
</plist>
