<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>openmask_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,383},{40,46}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,176},{40,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{398,392}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{398,392}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{384,380}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{384,380}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{222,222}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{222,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,275},{230,254}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{230,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,755},{242,262}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{242,262}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,531},{222,268}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,74},{222,268}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,755},{222,258}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,66},{222,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1},{234,272}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{234,272}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,383},{256,290}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,37},{256,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,755},{222,222}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{222,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>openmask_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,641},{222,222}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{222,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openmask.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d4aa18472364776c291ffe1315d5dfd:1/1$</string>
            <key>textureFileName</key>
            <string>openmask.png</string>
        </dict>
    </dict>
</plist>
