<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,197},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,189},{44,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{48,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,101},{48,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,99},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{48,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,99},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,195},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{44,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,101},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{46,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{46,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>buff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,149},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,53},{48,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,145},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,147},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,51},{48,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,193},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,53},{48,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,1},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{36,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,51},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,145},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>debuff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f18ce77d329844f65ff58eaa6defd2:1/1$</string>
            <key>textureFileName</key>
            <string>buff.png</string>
        </dict>
    </dict>
</plist>
