<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_020f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,148},{130,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{130,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{136,68}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{136,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,68}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{150,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{130,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{130,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{144,66}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{144,66}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,68}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{144,68}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_020f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{136,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{136,64}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_020f.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd17fcda30ce769f2c8d1ec23b6bfa3:1/1$</string>
            <key>textureFileName</key>
            <string>effect_020f.png</string>
        </dict>
    </dict>
</plist>
