<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_027d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,550},{196,116}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,241},{196,116}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,366},{246,182}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,197},{246,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{312,220}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,187},{312,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{352,232}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,181},{352,232}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{362,236}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,180},{362,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,256},{372,242}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,176},{372,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{386,252}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,171},{386,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,256}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,169},{390,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{320,190}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,205},{320,190}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,686},{312,178}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,211},{312,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,652},{232,150}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,227},{232,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,550},{232,150}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,227},{232,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_027d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,500},{232,150}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,227},{232,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_027d.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf694378e0cae7e063fd97cdb59137c:1/1$</string>
            <key>textureFileName</key>
            <string>effect_027d.png</string>
        </dict>
    </dict>
</plist>
