<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_030h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{184,186}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,85},{184,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,790},{224,226}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{224,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{262,264}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{262,264}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{292,294}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,32},{292,294}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{304,302}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,27},{304,302}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,308}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{310,308}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,296},{284,278}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,40},{284,278}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,576},{238,236}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{238,236}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,576},{250,236}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,51},{250,236}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{262,240}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{262,240}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,546},{264,242}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{264,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_030h_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{268,238}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{268,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_030h.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c6c3f0a2a6b22155e40095e48a7706:1/1$</string>
            <key>textureFileName</key>
            <string>effect_030h.png</string>
        </dict>
    </dict>
</plist>
