<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_045_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,483},{132,192}}</string>
                <key>offset</key>
                <string>{-71,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,50},{132,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,617},{144,186}}</string>
                <key>offset</key>
                <string>{-66,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,45},{144,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{218,220}}</string>
                <key>offset</key>
                <string>{-35,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,36},{218,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,775},{236,252}}</string>
                <key>offset</key>
                <string>{-27,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,36},{236,252}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,775},{240,250}}</string>
                <key>offset</key>
                <string>{-22,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,40},{240,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{250,274}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,46},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{250,278}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,46},{250,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,278}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,48},{268,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_045_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,221},{214,260}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,63},{214,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_045.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8750518716b57cc1c04df8e89707adc:1/1$</string>
            <key>textureFileName</key>
            <string>effect_045.png</string>
        </dict>
    </dict>
</plist>
