<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_022_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,180},{118,124}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,148},{118,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,180},{200,200}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,119},{200,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,556},{236,236}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,101},{236,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,314},{240,236}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,101},{240,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,314},{254,244}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,93},{254,244}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,652},{286,276}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,68},{286,276}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{320,320}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{320,320}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{310,306}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{310,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,326}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{310,326}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{294,302}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,61},{294,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_022_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{176,210}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,109},{176,210}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_022.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:732f385567f19277b1e90367c026b7ff:1/1$</string>
            <key>textureFileName</key>
            <string>effect_022.png</string>
        </dict>
    </dict>
</plist>
