<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_089_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,568},{252,258}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{252,258}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,296},{278,270}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,59},{278,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,286},{288,280}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{288,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{294,282}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{294,282}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{278,270}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{278,270}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,594},{260,254}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{260,254}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,568},{218,210}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{218,210}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,828},{196,184}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{196,184}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{130,98}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{130,98}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,296},{118,138}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,111},{118,138}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,780},{206,206}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,79},{206,206}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{292,292}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{292,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,318}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{320,318}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_089_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{262,262}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,51},{262,262}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_089.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd94e6a81878c2829ccfb3f129850c45:1/1$</string>
            <key>textureFileName</key>
            <string>effect_089.png</string>
        </dict>
    </dict>
</plist>
