<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_208_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,271},{77,79}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,105},{77,79}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,168},{111,101}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,102},{111,101}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1},{165,117}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,106},{165,117}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,871},{195,139}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,104},{195,139}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{221,151}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,102},{221,151}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,855},{235,161}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,105},{235,161}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,857},{239,165}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,108},{239,165}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,628},{241,171}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,108},{241,171}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,628},{241,175}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,111},{241,175}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,433},{239,179}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,113},{239,179}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,433},{239,181}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,116},{239,181}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,614},{239,179}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,121},{239,179}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,616},{239,181}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,124},{239,181}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,614},{239,179}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,129},{239,179}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{245,205}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{245,205}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1},{313,233}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,136},{313,233}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{315,207}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,144},{315,207}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,210},{297,209}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,140},{297,209}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,236},{263,195}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,128},{263,195}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,208},{269,199}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,122},{269,199}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
            <key>effect_208_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{271,205}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,119},{271,205}}</string>
                <key>sourceSize</key>
                <string>{405,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_208.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:780319b6bdc8e8be84f4fbb268188761:d27500d63fd8a0a8171491aae36dcbe4:2074c4a67648c3f73e39cd2a9c39649f$</string>
            <key>textureFileName</key>
            <string>effect_208.png</string>
        </dict>
    </dict>
</plist>
