<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_029_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,270},{266,244}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,39},{266,244}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,516},{264,240}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{264,240}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,758},{262,232}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{262,232}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,532},{224,200}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,60},{224,200}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,532},{220,194}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,62},{220,194}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{278,256}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,31},{278,256}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{276,286}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{276,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{276,286}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{276,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,286}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{276,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{266,286}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,32},{266,286}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,260},{276,270}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{276,270}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,758},{246,232}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,86},{246,232}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,728},{212,216}}</string>
                <key>offset</key>
                <string>{-31,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,102},{212,216}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>effect_029_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,728},{212,216}}</string>
                <key>offset</key>
                <string>{-31,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,102},{212,216}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_029.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957a957734904620b47ac8b0e8d6e79f:1/1$</string>
            <key>textureFileName</key>
            <string>effect_029.png</string>
        </dict>
    </dict>
</plist>
