<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_088f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,419},{202,76}}</string>
                <key>offset</key>
                <string>{33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,62},{202,76}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,73},{194,76}}</string>
                <key>offset</key>
                <string>{37,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,64},{194,76}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,337},{198,80}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,61},{198,80}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{264,70}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,67},{264,70}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{228,70}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{228,70}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{172,72}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,67},{172,72}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,419},{192,80}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,63},{192,80}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_088f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{262,88}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,57},{262,88}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_088f.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a670e0691fe47173a4afb3dd7e37bbe:1/1$</string>
            <key>textureFileName</key>
            <string>effect_088f.png</string>
        </dict>
    </dict>
</plist>
