<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_213_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,885},{216,82}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,272},{216,82}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,885},{222,94}}</string>
                <key>offset</key>
                <string>{9,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,269},{222,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{274,274}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,86},{274,274}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{290,322}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,94},{290,322}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{282,270}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,105},{282,270}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1},{258,224}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,118},{258,224}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,439},{218,210}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,138},{218,210}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,519},{190,190}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,155},{190,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1},{226,250}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,129},{226,250}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,595},{248,262}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,130},{248,262}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,261},{256,240}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,152},{256,240}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{256,226}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,158},{256,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,325},{268,218}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,162},{268,218}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_213_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,229},{246,208}}</string>
                <key>offset</key>
                <string>{-10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,171},{246,208}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_213.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1159adbe763704222f25bc291302a97:a1bad0862cd8a3e03980bd12aa74164f:15bb634ee935b99fe46fe7bd4428016e$</string>
            <key>textureFileName</key>
            <string>effect_213.png</string>
        </dict>
    </dict>
</plist>
