<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_020h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{184,132}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,89},{184,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{244,162}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,74},{244,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,148}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,81},{278,148}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,310},{158,166}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,72},{158,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{172,182}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,65},{172,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,592},{118,118}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,94},{118,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,470},{120,122}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,91},{120,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{124,126}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,89},{124,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,470},{128,132}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,86},{128,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{132,136}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,84},{132,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_020h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{138,126}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{138,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_020h.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0381bba66ff49bdac6a21a9e090cd024:1/1$</string>
            <key>textureFileName</key>
            <string>effect_020h.png</string>
        </dict>
    </dict>
</plist>
