<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_065h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{372,374}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{372,374}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,382}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{382,382}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{376,378}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{376,378}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,672},{272,278}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{272,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,378},{284,292}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,59},{284,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,664},{286,298}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{286,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,378},{284,300}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{284,300}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{240,278}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{240,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{214,144}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,133},{214,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_065h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,148},{214,136}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,148},{214,136}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_065h.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b71fade3c0a0f9e0f9cdcde42e3e15ea:1/1$</string>
            <key>textureFileName</key>
            <string>effect_065h.png</string>
        </dict>
    </dict>
</plist>
