<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_081f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{320,120}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{320,120}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{326,120}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{326,120}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{330,124}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,17},{330,124}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,334},{318,122}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,16},{318,122}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{330,120}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,17},{330,120}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,126}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{338,126}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{322,114}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{322,114}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
            <key>effect_081f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{304,114}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,18},{304,114}}</string>
                <key>sourceSize</key>
                <string>{400,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_081f.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05bb46691e7476092046087c101d62b5:1/1$</string>
            <key>textureFileName</key>
            <string>effect_081f.png</string>
        </dict>
    </dict>
</plist>
