<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_074_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,963},{44,80}}</string>
                <key>offset</key>
                <string>{46,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,200},{44,80}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{172,228}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,88},{172,228}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,467},{196,228}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{196,228}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,242}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{200,242}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,377},{200,224}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,95},{200,224}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{196,230}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{196,230}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,485},{184,238}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{184,238}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,481},{200,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,84},{200,232}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,245},{200,234}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{200,234}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,377},{200,224}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,95},{200,224}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,235},{196,230}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{196,230}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{184,238}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,82},{184,238}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{200,232}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,84},{200,232}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{200,236}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,74},{200,236}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,175},{200,224}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,95},{200,224}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,715},{196,230}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,90},{196,230}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_074_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,697},{184,228}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,91},{184,228}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_074.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3012505811b1c17ed4e7aaf743d7410b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_074.png</string>
        </dict>
    </dict>
</plist>
