<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_061f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{160,52}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{160,52}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_061f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{158,54}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{158,54}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_061f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{160,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{160,58}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_061f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{162,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{162,58}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>effect_061f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{160,52}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{160,52}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_061f.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b787a42a3bc240ae958311a26cbcc8:1/1$</string>
            <key>textureFileName</key>
            <string>effect_061f.png</string>
        </dict>
    </dict>
</plist>
