<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_211_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,853},{226,98}}</string>
                <key>offset</key>
                <string>{12,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,256},{226,98}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,853},{226,100}}</string>
                <key>offset</key>
                <string>{12,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,254},{226,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{248,274}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,80},{248,274}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,569},{230,282}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,72},{230,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,285},{228,282}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,72},{228,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,569},{236,282}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,72},{236,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{244,282}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,72},{244,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,285},{236,282}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,72},{236,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{240,282}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,72},{240,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,285},{242,282}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,72},{242,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{236,282}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,72},{236,282}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1},{234,278}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,76},{234,278}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_211_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,251},{230,246}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,108},{230,246}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_211.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47df28465bd22585cde0c858c39877b9:de75b10675fec6fdaffd6d8482be6aa7:18ee38435601d5fd7e901a111e601712$</string>
            <key>textureFileName</key>
            <string>effect_211.png</string>
        </dict>
    </dict>
</plist>
