<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_066d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,123},{226,118}}</string>
                <key>offset</key>
                <string>{10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,143},{226,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{226,120}}</string>
                <key>offset</key>
                <string>{10,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,144},{226,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,361},{246,134}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,140},{246,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{252,136}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,139},{252,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,497},{256,142}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,136},{256,142}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{262,162}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,132},{262,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{268,170}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,130},{268,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,172}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,128},{278,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,243},{216,116}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,144},{216,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_066d.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be682108ac68a93d33dc5d5eb87f55e:1/1$</string>
            <key>textureFileName</key>
            <string>effect_066d.png</string>
        </dict>
    </dict>
</plist>
