<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_047u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{234,220}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{234,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{230,222}}</string>
                <key>offset</key>
                <string>{21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,24},{230,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,232},{228,222}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{228,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,700},{220,222}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,24},{220,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,462},{214,222}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,24},{214,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,686},{204,222}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{204,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,232},{198,222}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,25},{198,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,462},{202,222}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{202,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{200,224}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,25},{200,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{234,228}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{234,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{234,228}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{234,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{240,228}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{240,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_047u_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,228}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{246,228}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_047u.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010b6a05989ec36f67687e736e76a44b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_047u.png</string>
        </dict>
    </dict>
</plist>
