<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_035_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,304},{180,254}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,112},{180,254}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,610},{198,254}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,108},{198,254}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,294},{204,268}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,91},{204,268}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{204,290}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,75},{204,290}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{202,304}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{202,304}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,632},{200,304}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,55},{200,304}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{192,306}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{192,306}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{200,320}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,55},{200,320}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{204,314}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{204,314}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,320}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,58},{204,320}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,308},{202,300}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,74},{202,300}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,324},{200,306}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,62},{200,306}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{192,300}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{192,300}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,560},{120,290}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,50},{120,290}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,794},{118,280}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,52},{118,280}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,564},{116,290}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,38},{116,290}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_035_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,682},{110,290}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,34},{110,290}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_035.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58d7b9cd54e548888755a869a6d6fabe:1/1$</string>
            <key>textureFileName</key>
            <string>effect_035.png</string>
        </dict>
    </dict>
</plist>
