<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_003_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1205},{234,228}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,176},{234,228}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1179},{270,304}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,100},{270,304}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,871},{274,332}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,72},{274,332}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,871},{306,362}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,46},{306,362}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,857},{324,364}}</string>
                <key>offset</key>
                <string>{7,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,47},{324,364}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{352,374}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,43},{352,374}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,491},{382,378}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,45},{382,378}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,261},{400,228}}</string>
                <key>offset</key>
                <string>{9,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,200},{400,228}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{430,248}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,186},{430,248}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1},{438,258}}</string>
                <key>offset</key>
                <string>{11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,181},{438,258}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
            <key>effect_003_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{444,250}}</string>
                <key>offset</key>
                <string>{17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,193},{444,250}}</string>
                <key>sourceSize</key>
                <string>{600,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_003.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b2682993f9ea964e62185541713a1e:1/1$</string>
            <key>textureFileName</key>
            <string>effect_003.png</string>
        </dict>
    </dict>
</plist>
