<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_080_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{164,170}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,116},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,478},{218,216}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,99},{218,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,714},{254,264}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{254,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,452},{306,260}}</string>
                <key>offset</key>
                <string>{36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{306,260}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,714},{302,264}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,74},{302,264}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,254}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{316,254}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{308,242}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,75},{308,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{306,242}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,76},{306,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{314,226}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,93},{314,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,232}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,79},{316,232}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,714},{306,238}}</string>
                <key>offset</key>
                <string>{35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,78},{306,238}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,236},{310,240}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,76},{310,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_080_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,230},{312,220}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,84},{312,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_080.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2970e22107cf768706d28661eebffa2b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_080.png</string>
        </dict>
    </dict>
</plist>
