<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_101_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,199.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{260,318}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,30},{260,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1078},{282,318}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{282,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1112},{280,318}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{280,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{274,318}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,30},{274,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,250},{258,332}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,16},{258,332}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1362},{256,318}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,30},{256,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{282,318}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,30},{282,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{288,318}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,30},{288,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,790},{286,318}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,30},{286,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,828},{282,318}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,30},{282,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,532},{294,318}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,30},{294,318}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,510},{278,322}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,26},{278,322}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{272,328}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,20},{272,328}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,258},{272,330}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,18},{272,330}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,338}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,12},{262,338}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{254,336}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,12},{254,336}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_101_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{246,334}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,14},{246,334}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_101.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5be08d73498dfee9bfd7e8c61f00665a:1/1$</string>
            <key>textureFileName</key>
            <string>effect_101.png</string>
        </dict>
    </dict>
</plist>
