<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_101f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,46}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{192,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{190,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{190,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,287},{180,46}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{180,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{184,46}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,81},{184,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{190,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{190,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,49},{192,44}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,81},{192,44}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,193},{184,46}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,80},{184,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{178,46}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,80},{178,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{184,46}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,80},{184,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>effect_101f_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1},{190,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{190,46}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_101f.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d35ebf1a6163313819c81418187433e:1/1$</string>
            <key>textureFileName</key>
            <string>effect_101f.png</string>
        </dict>
    </dict>
</plist>
