<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_218_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{190,156}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,168},{190,156}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,869},{192,144}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,183},{192,144}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,199},{192,142}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,185},{192,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,619},{190,142}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,185},{190,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{196,142}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,185},{196,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,869},{198,142}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,185},{198,142}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{198,156}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,171},{198,156}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,223},{198,160}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,166},{198,160}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,657},{198,164}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,162},{198,164}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,220}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,105},{200,220}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{198,216}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,108},{198,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{198,214}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,110},{198,214}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,657},{196,210}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,114},{196,210}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,423},{192,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,129},{192,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_218_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,811},{186,180}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,141},{186,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_218.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a3b59fd91f86facecd08173a34b12ae:8386bc3fa9b73b2710fc07540c4068f0:c41754be66bacb633cac46ee9be26111$</string>
            <key>textureFileName</key>
            <string>effect_218.png</string>
        </dict>
    </dict>
</plist>
