<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_104_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{248,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,251},{220,216}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,69},{220,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,229},{218,216}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,69},{218,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,1},{222,222}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{222,222}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{226,226}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{226,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{226,226}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,64},{226,226}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1},{222,224}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,65},{222,224}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,227},{188,174}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,92},{188,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_104_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,225},{174,170}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,87},{174,170}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_104.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba23196d0c8f2c51e8652f9d9c2c09c7:1/1$</string>
            <key>textureFileName</key>
            <string>effect_104.png</string>
        </dict>
    </dict>
</plist>
