<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_024_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,294},{256,248}}</string>
                <key>offset</key>
                <string>{-2,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{256,248}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,540},{206,240}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,0},{206,240}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,656},{134,182}}</string>
                <key>offset</key>
                <string>{-3,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,9},{134,182}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,792},{130,190}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,32},{130,190}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,282},{122,184}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,63},{122,184}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,544},{134,208}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,75},{134,208}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,468},{120,186}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,114},{120,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,282},{256,256}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,135},{256,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{282,278}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{282,278}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{306,290}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,110},{306,290}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,302}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,98},{330,302}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,792},{208,166}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,186},{208,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,748},{204,200}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,171},{204,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,792},{214,220}}</string>
                <key>offset</key>
                <string>{-10,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,161},{214,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{226,226}}</string>
                <key>offset</key>
                <string>{-11,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,159},{226,226}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{170,148}}</string>
                <key>offset</key>
                <string>{-4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,195},{170,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_024_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{138,72}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,229},{138,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_024.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b1956a6cb8a542ecaecf5b004f65d03:1/1$</string>
            <key>textureFileName</key>
            <string>effect_024.png</string>
        </dict>
    </dict>
</plist>
