<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_067_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,777},{196,188}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,51},{196,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,551},{196,182}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,55},{196,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,513},{192,184}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{192,184}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,685},{192,182}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,55},{192,182}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,513},{186,170}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{186,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,551},{224,218}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,53},{224,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,294}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{300,294}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{296,288}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{296,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1},{286,270}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{286,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,291},{266,258}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{266,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{244,236}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{244,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,779},{238,242}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,41},{238,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{242,264}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{242,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,273},{238,272}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{238,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_067_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,779},{222,226}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{222,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_067.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c3458fd9d47c1b9c3f3df6bfbffcb7a:1/1$</string>
            <key>textureFileName</key>
            <string>effect_067.png</string>
        </dict>
    </dict>
</plist>
