<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_210_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{286,270}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,105},{286,270}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,272}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,118},{292,272}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,705},{212,192}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,159},{212,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,197},{210,152}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,179},{210,152}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1},{194,168}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,171},{194,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,457},{246,216}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,150},{246,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{268,224}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,138},{268,224}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,227},{262,228}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,135},{262,228}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,273},{250,234}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,129},{250,234}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{250,232}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,128},{250,232}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,457},{224,216}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,144},{224,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,675},{214,214}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,146},{214,214}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_210_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,509},{212,194}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,153},{212,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_210.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc5b71731589f5a97ca69b34ca77e09c:79e8887aa8584cd377046193f79b818c:01484a485d707728f8696d547159b430$</string>
            <key>textureFileName</key>
            <string>effect_210.png</string>
        </dict>
    </dict>
</plist>
