<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_057_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,808},{204,266}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,45},{204,266}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,276},{218,262}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,50},{218,262}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,434},{210,270}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,42},{210,270}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,540},{214,266}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{214,266}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,646},{234,268}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{234,268}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,282},{242,274}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{242,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{258,272}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{258,272}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{224,272}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{224,272}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,562},{220,276}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,37},{220,276}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,278}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{218,278}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{210,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,36},{210,278}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{204,278}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{204,278}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,228},{204,272}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,44},{204,272}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_057_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{206,274}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{206,274}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_057.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da65e8014b07e1a6239e93451585df4b:1/1$</string>
            <key>textureFileName</key>
            <string>effect_057.png</string>
        </dict>
    </dict>
</plist>
