<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{930,916}}</string>
                <key>offset</key>
                <string>{-46,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{930,916}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>effect_001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1253},{228,172}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,115},{228,172}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1235},{258,248}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,50},{258,248}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,961},{310,310}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,6},{310,310}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,961},{364,326}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,0},{364,326}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,919},{390,314}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,15},{390,314}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,919},{438,332}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,5},{438,332}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,635},{490,342}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,3},{490,342}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,1},{516,340}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{516,340}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,647},{564,312}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{564,312}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,329},{576,316}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,50},{576,316}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1},{580,326}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{580,326}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>effect_001_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,343},{534,290}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,76},{534,290}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_001.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766b5feb2f1a746b743e641a76c7a369:1/1$</string>
            <key>textureFileName</key>
            <string>effect_001.png</string>
        </dict>
    </dict>
</plist>
