<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_206_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,349},{158,194}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,139},{158,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,175},{170,224}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,137},{170,224}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{172,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,135},{172,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1},{172,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,135},{172,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{172,230}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,131},{172,230}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,175},{172,226}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,135},{172,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{174,226}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{174,226}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,461},{174,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,229},{174,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{174,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,689},{174,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,135},{174,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{176,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,135},{176,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{176,226}}</string>
                <key>offset</key>
                <string>{10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,135},{176,226}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,347},{176,204}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,136},{176,204}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_206_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,229},{172,194}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,139},{172,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_206.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3e2961acccc5d6c277353ceee0cc29:14bdf461c79b111af16a87cfb163f1c0:97759851ce2063ed02695f1ecb962ec7$</string>
            <key>textureFileName</key>
            <string>effect_206.png</string>
        </dict>
    </dict>
</plist>
