<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_085_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,508},{152,216}}</string>
                <key>offset</key>
                <string>{4,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,180},{152,216}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,760},{196,226}}</string>
                <key>offset</key>
                <string>{-5,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,174},{196,226}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,988},{240,232}}</string>
                <key>offset</key>
                <string>{3,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,168},{240,232}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,746},{264,236}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,164},{264,236}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,508},{268,250}}</string>
                <key>offset</key>
                <string>{8,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,150},{268,250}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{276,256}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,126},{276,256}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{276,264}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,113},{276,264}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,472},{272,276}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,97},{272,276}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,240},{266,294}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,80},{266,294}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{254,294}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,78},{254,294}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{236,306}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,62},{236,306}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,346}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,15},{216,346}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{240,338}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{240,338}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,244},{226,280}}</string>
                <key>offset</key>
                <string>{7,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{226,280}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,760},{226,254}}</string>
                <key>offset</key>
                <string>{6,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{226,254}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{226,242}}</string>
                <key>offset</key>
                <string>{9,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,7},{226,242}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,984},{244,236}}</string>
                <key>offset</key>
                <string>{6,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{244,236}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_085_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,988},{234,226}}</string>
                <key>offset</key>
                <string>{5,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{234,226}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_085.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19c32667350efd6bec0643a7e4362e6d:1/1$</string>
            <key>textureFileName</key>
            <string>effect_085.png</string>
        </dict>
    </dict>
</plist>
