<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_217_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,385},{204,186}}</string>
                <key>offset</key>
                <string>{18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,160},{204,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,193},{224,188}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,158},{224,188}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,193},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,649},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,649},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,193},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,193},{226,190}}</string>
                <key>offset</key>
                <string>{25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,156},{226,190}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,383},{224,188}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,158},{224,188}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_217_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,573},{224,186}}</string>
                <key>offset</key>
                <string>{26,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,160},{224,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_217.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:252ccf24c09cce8304128f54c04cdadc:0676e04c5a6f005dba9f8a58f854796b:9c634ad00220cbf286178178e063e10a$</string>
            <key>textureFileName</key>
            <string>effect_217.png</string>
        </dict>
    </dict>
</plist>
