<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_044h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,286},{254,256}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,140},{254,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,542},{304,306}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,114},{304,306}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{342,334}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,101},{342,334}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{348,338}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,100},{348,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{356,340}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,101},{356,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,342}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,100},{358,342}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,344},{354,338}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,101},{354,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>effect_044h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{282,296}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,116},{282,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_044h.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0023afca28898d529f9c2d6590b26916:1/1$</string>
            <key>textureFileName</key>
            <string>effect_044h.png</string>
        </dict>
    </dict>
</plist>
