<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_068u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,660},{240,164}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,98},{240,164}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,444},{258,214}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,89},{258,214}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{284,232}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{284,232}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,306},{296,262}}</string>
                <key>offset</key>
                <string>{26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{296,262}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,322}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{306,322}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,648},{306,198}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,81},{306,198}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{312,218}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,61},{312,218}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,326},{304,222}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,58},{304,222}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{320,242}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,39},{320,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{302,190}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,90},{302,190}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,632},{298,196}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,84},{298,196}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{292,200}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{292,200}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068u_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,236},{284,206}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,73},{284,206}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_068u.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4e9a6ab13cf397521fde7a17afb78fd:1/1$</string>
            <key>textureFileName</key>
            <string>effect_068u.png</string>
        </dict>
    </dict>
</plist>
