<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_058_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,784},{228,280}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,25},{228,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,534},{248,280}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,25},{248,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{228,292}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,13},{228,292}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,284},{248,280}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,25},{248,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{252,280}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,25},{252,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{248,280}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,25},{248,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,292},{260,280}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,25},{260,280}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,590},{244,284}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,21},{244,284}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{238,288}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,17},{238,288}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,298},{240,290}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,15},{240,290}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,294}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{224,294}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_058_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{216,294}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,11},{216,294}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_058.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4fa5a653fe0f4df09601e8f4b833a43:1/1$</string>
            <key>textureFileName</key>
            <string>effect_058.png</string>
        </dict>
    </dict>
</plist>
