<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_088h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,165},{152,164}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,74},{152,164}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,303},{186,202}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,54},{186,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,581},{220,240}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{220,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{254,276}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{254,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{286,300}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{286,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,799},{214,214}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{214,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,581},{214,216}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{214,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,823},{180,196}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,41},{180,196}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,507},{176,192}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,42},{176,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,823},{176,194}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,39},{176,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1},{162,186}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{162,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1},{156,188}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{156,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,303},{156,188}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,57},{156,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{154,190}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{154,190}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{126,192}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,58},{126,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,193},{108,134}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,91},{108,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_088h_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,701},{76,102}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,99},{76,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_088h.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8acd2bc8cb340eb4919351b97565e696:1/1$</string>
            <key>textureFileName</key>
            <string>effect_088h.png</string>
        </dict>
    </dict>
</plist>
