<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poison_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,725},{202,158}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,93},{202,158}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,513},{210,166}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,87},{210,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,731},{210,166}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,87},{210,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,345},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,339},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,339},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,177},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1},{228,168}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,85},{228,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{228,174}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,79},{228,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{228,174}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,79},{228,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{228,168}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,85},{228,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,171},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,171},{228,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,87},{228,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,513},{216,166}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,87},{216,166}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,725},{192,154}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{192,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,513},{166,122}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,103},{166,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>poison_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1},{122,92}}</string>
                <key>offset</key>
                <string>{-17,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,115},{122,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poison.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f352f168aede0051ba4e1c887a90f70:1/1$</string>
            <key>textureFileName</key>
            <string>poison.png</string>
        </dict>
    </dict>
</plist>
