<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster216_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,224},{100,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,121},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,326},{100,126}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,122},{100,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,130}}</string>
                <key>offset</key>
                <string>{34,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,118},{102,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,386},{120,120}}</string>
                <key>offset</key>
                <string>{43,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,127},{120,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,130}}</string>
                <key>offset</key>
                <string>{-39,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,119},{136,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,118}}</string>
                <key>offset</key>
                <string>{-38,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,131},{134,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{130,110}}</string>
                <key>offset</key>
                <string>{-36,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,139},{130,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,134},{104,122}}</string>
                <key>offset</key>
                <string>{-14,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,127},{104,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,224},{100,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,121},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,428},{114,114}}</string>
                <key>offset</key>
                <string>{40,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,135},{114,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,420},{114,114}}</string>
                <key>offset</key>
                <string>{40,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,135},{114,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{100,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,121},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,318},{100,126}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,122},{100,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,216},{100,128}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,120},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,122},{100,128}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,120},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,114},{100,128}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,120},{100,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,258},{100,126}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,122},{100,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{98,126}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,122},{98,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster216_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{100,126}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,122},{100,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster216.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c8bf99d2e6bf5d1f0b4bbc272d7306c:1/1$</string>
            <key>textureFileName</key>
            <string>monster216.png</string>
        </dict>
    </dict>
</plist>
