<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster005_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,617},{112,140}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{112,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{130,164}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,86},{130,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,135},{138,168}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,82},{138,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{134,168}}</string>
                <key>offset</key>
                <string>{-6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,82},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,249},{134,168}}</string>
                <key>offset</key>
                <string>{-10,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,82},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{138,170}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,80},{138,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,275},{132,168}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,82},{132,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{132,170}}</string>
                <key>offset</key>
                <string>{-9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,80},{132,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,617},{112,140}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{112,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{114,152}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{114,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,133},{114,152}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{114,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,617},{112,140}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{112,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,527},{114,140}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,110},{114,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,501},{114,140}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,109},{114,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{114,140}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,109},{114,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{116,142}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,107},{116,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,409},{116,140}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,109},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,385},{114,142}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,108},{114,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster005_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,627},{112,140}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,109},{112,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster005.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c012605af46d3a03f69c22bf53b001a0:1/1$</string>
            <key>textureFileName</key>
            <string>monster005.png</string>
        </dict>
    </dict>
</plist>
