<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster175_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,870},{112,128}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,120},{112,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{100,134}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,114},{100,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,524},{108,146}}</string>
                <key>offset</key>
                <string>{12,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,101},{108,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,268},{122,144}}</string>
                <key>offset</key>
                <string>{23,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,103},{122,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,500},{112,146}}</string>
                <key>offset</key>
                <string>{23,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,101},{112,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,118},{102,148}}</string>
                <key>offset</key>
                <string>{21,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{102,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,376},{150,146}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,104},{150,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,234},{176,140}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,110},{176,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,118},{194,114}}</string>
                <key>offset</key>
                <string>{-20,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,136},{194,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{200,114}}</string>
                <key>offset</key>
                <string>{-24,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,136},{200,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,138}}</string>
                <key>offset</key>
                <string>{-24,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,111},{206,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{184,136}}</string>
                <key>offset</key>
                <string>{-33,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,112},{184,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,740},{102,126}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,121},{102,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{140,150}}</string>
                <key>offset</key>
                <string>{38,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,97},{140,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,738},{116,134}}</string>
                <key>offset</key>
                <string>{27,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,113},{116,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,856},{102,126}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,121},{102,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,392},{106,148}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,99},{106,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{116,144}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,103},{116,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{114,136}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,110},{114,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,634},{102,140}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,106},{102,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{110,152}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,94},{110,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,614},{124,140}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,107},{124,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster175_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{114,130}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,117},{114,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster175.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ec0b32e5b769674ddcfac540d985c9:1/1$</string>
            <key>textureFileName</key>
            <string>monster175.png</string>
        </dict>
    </dict>
</plist>
