<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster155_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,138},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,82},{76,110}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,140},{76,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,344},{76,108}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,142},{76,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,120},{82,114}}</string>
                <key>offset</key>
                <string>{18,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,136},{82,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,116}}</string>
                <key>offset</key>
                <string>{23,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,133},{92,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{90,116}}</string>
                <key>offset</key>
                <string>{15,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,133},{90,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{112,110}}</string>
                <key>offset</key>
                <string>{-15,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,139},{112,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,236},{108,112}}</string>
                <key>offset</key>
                <string>{-14,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,137},{108,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,138},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{90,114}}</string>
                <key>offset</key>
                <string>{23,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,136},{90,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{90,114}}</string>
                <key>offset</key>
                <string>{23,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,136},{90,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,138},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,116},{80,112}}</string>
                <key>offset</key>
                <string>{-2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,137},{80,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,116},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,230},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,350},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,350},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster155_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{78,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,137},{78,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster155.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f04ff28a7191028db31e4014e6709c:1/1$</string>
            <key>textureFileName</key>
            <string>monster155.png</string>
        </dict>
    </dict>
</plist>
