<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster183_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,630},{158,152}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,97},{158,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{160,164}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,85},{160,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,168}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,81},{166,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{164,168}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,81},{164,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{156,168}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,81},{156,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,160},{154,166}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,83},{154,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,168},{152,166}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,83},{152,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,322},{156,164}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,85},{156,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{158,152}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,97},{158,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{150,158}}</string>
                <key>offset</key>
                <string>{28,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,91},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,638},{150,158}}</string>
                <key>offset</key>
                <string>{28,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,91},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{158,152}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,97},{158,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,474},{160,154}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,95},{160,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,316},{164,156}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,94},{164,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{160,156}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,94},{160,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,480},{158,156}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,94},{158,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,784},{156,156}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,94},{156,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{154,154}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,95},{154,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster183_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,790},{156,154}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,95},{156,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster183.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85bba41a0ce5a2b7e18edfbe4d0256da:1/1$</string>
            <key>textureFileName</key>
            <string>monster183.png</string>
        </dict>
    </dict>
</plist>
