<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster210_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{108,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{108,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{98,124}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,125},{98,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{96,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,121},{96,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{96,130}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,119},{96,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,512},{126,110}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,138},{126,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,254},{132,112}}</string>
                <key>offset</key>
                <string>{-13,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,136},{132,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{142,112}}</string>
                <key>offset</key>
                <string>{-17,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,136},{142,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,118}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,131},{148,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{108,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{108,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{136,128}}</string>
                <key>offset</key>
                <string>{17,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,121},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{136,128}}</string>
                <key>offset</key>
                <string>{17,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,121},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{108,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{108,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,912},{106,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,127},{106,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{106,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,126},{106,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,752},{108,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,126},{108,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,128},{108,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,126},{108,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{110,124}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,126},{110,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,388},{112,122}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,128},{112,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster210_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,640},{110,122}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{110,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster210.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806d16e2b3d3c38cc4e2fc660b8e8f48:1/1$</string>
            <key>textureFileName</key>
            <string>monster210.png</string>
        </dict>
    </dict>
</plist>
