<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster313_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,507},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,333},{150,158}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,167},{156,152}}</string>
                <key>offset</key>
                <string>{-8,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,98},{156,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{150,150}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,100},{150,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,591},{170,192}}</string>
                <key>offset</key>
                <string>{-30,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,58},{170,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{148,194}}</string>
                <key>offset</key>
                <string>{-44,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{148,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{148,194}}</string>
                <key>offset</key>
                <string>{-47,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{148,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,196}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{178,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{170,190}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,60},{170,190}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,199},{176,156}}</string>
                <key>offset</key>
                <string>{36,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,94},{176,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{172,152}}</string>
                <key>offset</key>
                <string>{36,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,98},{172,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,507},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,875},{148,160}}</string>
                <key>offset</key>
                <string>{-20,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,89},{148,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,875},{148,160}}</string>
                <key>offset</key>
                <string>{-20,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,89},{148,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,167},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,341},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,875},{136,164}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,709},{136,164}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1},{138,164}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{138,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,175},{138,164}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{138,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,377},{140,164}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{140,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,377},{138,164}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{138,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,543},{138,164}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,86},{138,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,543},{136,164}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,709},{136,164}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster313_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,709},{136,164}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{136,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster313.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7f3be7dcf21d262524d370bd98374d:1/1$</string>
            <key>textureFileName</key>
            <string>monster313.png</string>
        </dict>
    </dict>
</plist>
