<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster241_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,85},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,224},{162,194}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,54},{162,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{156,210}}</string>
                <key>offset</key>
                <string>{24,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,37},{156,210}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,160},{164,196}}</string>
                <key>offset</key>
                <string>{31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,51},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,242}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{252,242}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{252,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{220,242}}</string>
                <key>offset</key>
                <string>{-34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{220,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,85},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,85},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{146,172}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{146,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{156,172}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,75},{156,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,580},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,85},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,420},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,84},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,388},{166,164}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,84},{166,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,414},{172,164}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,83},{172,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,246},{180,166}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,81},{180,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,326},{186,164}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{186,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{182,164}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,84},{182,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{172,164}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,84},{172,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster241.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5723f946d742b3af01fbfc457b19b147:1/1$</string>
            <key>textureFileName</key>
            <string>monster241.png</string>
        </dict>
    </dict>
</plist>
