<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster206_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,506},{118,132}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,506},{118,130}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,118},{118,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{122,124}}</string>
                <key>offset</key>
                <string>{16,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,125},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{116,120}}</string>
                <key>offset</key>
                <string>{23,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,129},{116,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{146,138}}</string>
                <key>offset</key>
                <string>{-36,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,109},{146,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{160,138}}</string>
                <key>offset</key>
                <string>{-43,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,109},{160,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,138}}</string>
                <key>offset</key>
                <string>{-46,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,108},{164,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{122,136}}</string>
                <key>offset</key>
                <string>{-10,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,111},{122,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{118,132}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,874},{110,118}}</string>
                <key>offset</key>
                <string>{36,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,131},{110,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{110,118}}</string>
                <key>offset</key>
                <string>{36,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,131},{110,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,386},{118,132}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{120,134}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,113},{120,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,142},{122,134}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,113},{122,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,264},{120,134}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{120,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,142},{120,134}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{120,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,386},{118,134}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,113},{118,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{116,134}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,113},{116,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster206_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,266},{118,134}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{118,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster206.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca36688002b6d3009997294e92d8ce5a:1/1$</string>
            <key>textureFileName</key>
            <string>monster206.png</string>
        </dict>
    </dict>
</plist>
