<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster104_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,498},{118,132}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{100,130}}</string>
                <key>offset</key>
                <string>{16,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,119},{100,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,418},{104,126}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,123},{104,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,546},{104,124}}</string>
                <key>offset</key>
                <string>{27,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,125},{104,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{174,132}}</string>
                <key>offset</key>
                <string>{-54,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,117},{174,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{174,132}}</string>
                <key>offset</key>
                <string>{-49,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,117},{174,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{176,132}}</string>
                <key>offset</key>
                <string>{-44,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,117},{176,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,132}}</string>
                <key>offset</key>
                <string>{-45,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,117},{194,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,498},{118,132}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,538},{122,124}}</string>
                <key>offset</key>
                <string>{43,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,125},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{122,124}}</string>
                <key>offset</key>
                <string>{43,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,125},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{118,132}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{118,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,378},{118,132}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,298},{118,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,136},{120,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,116},{120,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{118,132}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{118,132}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster104_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,178},{118,132}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,116},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster104.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:377c25080046ba8cc4b0d120e7953126:1/1$</string>
            <key>textureFileName</key>
            <string>monster104.png</string>
        </dict>
    </dict>
</plist>
