<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster184_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,498},{98,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,188},{110,102}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,146},{110,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,82},{132,98}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,150},{132,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,292},{108,102}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,144},{108,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{90,150}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{90,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{78,156}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,85},{78,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,164}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,78},{98,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,94},{124,92}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,152},{124,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{114,92}}</string>
                <key>offset</key>
                <string>{4,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,156},{114,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{130,96}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,152},{130,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,182},{118,108}}</string>
                <key>offset</key>
                <string>{-7,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,140},{118,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{116,106}}</string>
                <key>offset</key>
                <string>{-7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,142},{116,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,496},{98,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,292},{106,116}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,131},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,188},{106,116}}</string>
                <key>offset</key>
                <string>{11,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,131},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{98,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{96,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,141},{96,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,596},{96,104}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{96,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,500},{96,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,141},{96,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,400},{98,106}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,142},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,398},{98,106}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,142},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,296},{100,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{100,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster184_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,396},{98,106}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{98,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster184.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e9e90a69f2ef86f1cc304cd6fabc04:1/1$</string>
            <key>textureFileName</key>
            <string>monster184.png</string>
        </dict>
    </dict>
</plist>
