<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster310_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,391},{138,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{138,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,395},{126,172}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{126,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{106,176}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,74},{106,176}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,281},{112,174}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,76},{112,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,533},{108,166}}</string>
                <key>offset</key>
                <string>{-2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,81},{108,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,569},{106,162}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,85},{106,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{214,166}}</string>
                <key>offset</key>
                <string>{37,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{214,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,164}}</string>
                <key>offset</key>
                <string>{35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,83},{218,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{198,162}}</string>
                <key>offset</key>
                <string>{27,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,85},{198,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,589},{142,162}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,85},{142,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,531},{98,166}}</string>
                <key>offset</key>
                <string>{10,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,80},{98,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,423},{122,172}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{122,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,283},{138,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{138,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,547},{138,154}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,93},{138,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{138,154}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,93},{138,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,331},{138,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{138,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,311},{138,172}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{138,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,251},{138,172}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{138,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,169},{140,172}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{140,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,109},{140,174}}</string>
                <key>offset</key>
                <string>{17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,143},{138,174}}</string>
                <key>offset</key>
                <string>{17,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1},{140,174}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,141},{138,174}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1},{138,174}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,395},{136,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{136,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,471},{136,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{136,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster310_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,451},{136,172}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,73},{136,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster310.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644d433b8fe647f86c75c6d03a939f8e:1/1$</string>
            <key>textureFileName</key>
            <string>monster310.png</string>
        </dict>
    </dict>
</plist>
