<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster121_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{76,108}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,142},{76,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,384},{74,106}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,143},{74,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,324},{72,106}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,143},{72,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,178},{86,114}}</string>
                <key>offset</key>
                <string>{11,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,134},{86,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,112},{80,120}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,128},{80,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{126,118}}</string>
                <key>offset</key>
                <string>{-33,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,130},{126,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{132,108}}</string>
                <key>offset</key>
                <string>{-34,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,141},{132,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,106}}</string>
                <key>offset</key>
                <string>{-26,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,143},{142,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,84},{80,108}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,142},{80,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{86,120}}</string>
                <key>offset</key>
                <string>{16,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,130},{86,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{86,120}}</string>
                <key>offset</key>
                <string>{16,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,130},{86,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{78,108}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,142},{78,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,194},{78,108}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,142},{78,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{80,108}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,141},{80,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,166},{78,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,141},{78,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,274},{74,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,141},{74,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{72,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,141},{72,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{72,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,141},{72,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster121_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,266},{74,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,141},{74,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster121.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3437bb84ff7cc1d3d31233b12e4aefdb:1/1$</string>
            <key>textureFileName</key>
            <string>monster121.png</string>
        </dict>
    </dict>
</plist>
