<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster215_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{90,124}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,125},{90,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,420},{86,118}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,131},{86,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{88,116}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,133},{88,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{106,128}}</string>
                <key>offset</key>
                <string>{-17,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,119},{106,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{114,128}}</string>
                <key>offset</key>
                <string>{-21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,119},{114,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,128}}</string>
                <key>offset</key>
                <string>{-30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,119},{130,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,110},{104,128}}</string>
                <key>offset</key>
                <string>{-9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,120},{104,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,202},{110,108}}</string>
                <key>offset</key>
                <string>{36,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,140},{110,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,92},{110,108}}</string>
                <key>offset</key>
                <string>{36,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,140},{110,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{94,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,310},{94,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,216},{94,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{94,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,120},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{94,126}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,121},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,214},{94,126}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,121},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{94,126}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,122},{94,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster215_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,406},{92,126}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,122},{92,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster215.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a3caa34f30dc14e8be397655bd7695b:1/1$</string>
            <key>textureFileName</key>
            <string>monster215.png</string>
        </dict>
    </dict>
</plist>
