<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster186_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,100},{148,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,800},{154,148}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,101},{154,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{168,142}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,108},{168,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,876},{146,146}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,101},{146,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{136,198}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,46},{136,198}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{134,206}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,35},{134,206}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,224}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{160,224}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,228},{186,126}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,119},{186,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{168,132}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,118},{168,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,326},{152,136}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,113},{152,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,572},{150,152}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,97},{150,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,416},{150,154}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,96},{150,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,150},{146,148}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{146,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,636},{162,150}}</string>
                <key>offset</key>
                <string>{16,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,98},{162,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{162,150}}</string>
                <key>offset</key>
                <string>{16,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,98},{162,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,726},{144,148}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,100},{144,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{146,148}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,100},{146,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,154},{148,148}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,101},{148,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,150}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,99},{150,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,172},{152,150}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,99},{152,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,156},{150,150}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,99},{150,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{148,152}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,97},{148,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster186_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,308},{146,150}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,98},{146,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster186.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c1d9da17dcc0649aec0ef927d646e52:1/1$</string>
            <key>textureFileName</key>
            <string>monster186.png</string>
        </dict>
    </dict>
</plist>
