<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster191_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,478},{172,166}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{172,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,136},{190,158}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,91},{190,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{206,148}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,101},{206,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{146,200}}</string>
                <key>offset</key>
                <string>{28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,48},{146,200}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{132,208}}</string>
                <key>offset</key>
                <string>{33,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,40},{132,208}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{216,206}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{216,206}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{222,194}}</string>
                <key>offset</key>
                <string>{-31,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{222,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,160}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,88},{230,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,360},{172,166}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{172,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,204},{154,182}}</string>
                <key>offset</key>
                <string>{52,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,66},{154,182}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,152},{154,182}}</string>
                <key>offset</key>
                <string>{52,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,66},{154,182}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{172,166}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{172,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,538},{172,166}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,82},{172,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{174,166}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,82},{174,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,368},{174,168}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{174,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,296},{174,168}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,81},{174,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,198},{174,168}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,81},{174,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,466},{172,168}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{172,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster191_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,308},{172,168}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{172,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster191.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0780631158f283bf1d80922bad2eef:1/1$</string>
            <key>textureFileName</key>
            <string>monster191.png</string>
        </dict>
    </dict>
</plist>
