<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster167_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{126,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,220},{138,126}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,123},{138,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,98},{148,120}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,129},{148,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,156},{104,148}}</string>
                <key>offset</key>
                <string>{17,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,100},{104,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{94,152}}</string>
                <key>offset</key>
                <string>{16,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,96},{94,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{164,162}}</string>
                <key>offset</key>
                <string>{-31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,87},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{170,152}}</string>
                <key>offset</key>
                <string>{-29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,97},{170,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,130}}</string>
                <key>offset</key>
                <string>{-26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,119},{174,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{126,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,650},{122,134}}</string>
                <key>offset</key>
                <string>{34,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,115},{122,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,606},{122,134}}</string>
                <key>offset</key>
                <string>{34,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,115},{122,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{126,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,522},{126,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,478},{126,134}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,392},{128,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,115},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,348},{128,136}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,113},{128,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{128,136}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,113},{128,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,262},{128,136}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,113},{128,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster167_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{126,134}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster167.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df5077f33c2b0a95430f3114e1ba52ac:1/1$</string>
            <key>textureFileName</key>
            <string>monster167.png</string>
        </dict>
    </dict>
</plist>
