<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster198_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{132,132}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,116},{132,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,698},{120,124}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,125},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,142},{106,112}}</string>
                <key>offset</key>
                <string>{23,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,138},{106,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{180,136}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,114},{180,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,142},{190,136}}</string>
                <key>offset</key>
                <string>{-34,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,114},{190,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{200,136}}</string>
                <key>offset</key>
                <string>{-39,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,114},{200,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{204,138}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,112},{204,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,132}}</string>
                <key>offset</key>
                <string>{-37,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{214,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{132,132}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,116},{132,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,280},{154,146}}</string>
                <key>offset</key>
                <string>{54,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,102},{154,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,280},{154,146}}</string>
                <key>offset</key>
                <string>{54,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,102},{154,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{132,132}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,116},{132,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,696},{130,132}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,116},{130,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,564},{132,134}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,114},{132,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,562},{132,134}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,114},{132,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{134,136}}</string>
                <key>offset</key>
                <string>{11,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,111},{134,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,428},{134,136}}</string>
                <key>offset</key>
                <string>{11,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,112},{134,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{136,134}}</string>
                <key>offset</key>
                <string>{11,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,114},{136,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster198_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,428},{134,132}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,116},{134,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster198.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87170ca890f3c8c55c707dc6a0974a06:1/1$</string>
            <key>textureFileName</key>
            <string>monster198.png</string>
        </dict>
    </dict>
</plist>
