<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster120_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,378},{84,110}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,139},{84,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,424},{82,108}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,140},{82,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,314},{82,108}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,140},{82,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{90,114}}</string>
                <key>offset</key>
                <string>{11,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,134},{90,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,112},{86,120}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,128},{86,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{126,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,128},{126,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{136,108}}</string>
                <key>offset</key>
                <string>{-33,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,140},{136,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,110}}</string>
                <key>offset</key>
                <string>{-24,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,139},{150,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,218},{88,110}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,139},{88,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{92,114}}</string>
                <key>offset</key>
                <string>{19,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,135},{92,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,124},{92,114}}</string>
                <key>offset</key>
                <string>{19,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,135},{92,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,110}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,139},{88,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,200},{88,110}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,139},{88,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,118},{88,110}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,139},{88,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{86,110}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,138},{86,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,386},{84,110}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,138},{84,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{84,110}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,138},{84,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,230},{82,110}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,139},{82,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster120_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,290},{86,110}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,139},{86,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster120.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fe1fa5b7bebdbb12ed727e975dc866c:1/1$</string>
            <key>textureFileName</key>
            <string>monster120.png</string>
        </dict>
    </dict>
</plist>
