<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster109_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,310},{100,118}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{100,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{84,112}}</string>
                <key>offset</key>
                <string>{-7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,136},{84,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{86,118}}</string>
                <key>offset</key>
                <string>{-14,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,131},{86,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{98,126}}</string>
                <key>offset</key>
                <string>{29,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,120},{98,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{98,126}}</string>
                <key>offset</key>
                <string>{31,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,120},{98,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,136}}</string>
                <key>offset</key>
                <string>{-34,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,114},{124,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{128,122}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,127},{128,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{130,116}}</string>
                <key>offset</key>
                <string>{-32,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,132},{130,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{98,116}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{98,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,814},{100,116}}</string>
                <key>offset</key>
                <string>{32,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,131},{100,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{100,116}}</string>
                <key>offset</key>
                <string>{32,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,131},{100,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,612},{98,118}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,130},{98,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{98,118}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,130},{98,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,916},{96,116}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,131},{96,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,512},{98,118}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,129},{98,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,412},{98,118}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,129},{98,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,208},{100,118}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,129},{100,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,88},{100,118}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,129},{100,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster109_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,712},{100,116}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,131},{100,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster109.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d03c3e27198c1befdc72a841dcbc832:1/1$</string>
            <key>textureFileName</key>
            <string>monster109.png</string>
        </dict>
    </dict>
</plist>
