<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster165_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{114,100}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{114,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,248},{118,98}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,151},{118,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,494},{124,94}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{124,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,122},{124,98}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,151},{124,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,118}}</string>
                <key>offset</key>
                <string>{-28,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,131},{166,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{152,142}}</string>
                <key>offset</key>
                <string>{-23,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,107},{152,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{138,114}}</string>
                <key>offset</key>
                <string>{-12,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,135},{138,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,694},{120,96}}</string>
                <key>offset</key>
                <string>{-4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,153},{120,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{114,100}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{114,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,902},{104,98}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,151},{104,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{104,98}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,151},{104,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{114,100}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{114,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{118,102}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,147},{118,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{124,102}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,147},{124,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,368},{124,104}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,146},{124,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{122,104}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,146},{122,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{124,102}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,148},{124,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,590},{122,102}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,147},{122,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster165_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,792},{118,100}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{118,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster165.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c4c9d1e3ac28954bd2c9d0841251c0:1/1$</string>
            <key>textureFileName</key>
            <string>monster165.png</string>
        </dict>
    </dict>
</plist>
