<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster143_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,199},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{100,96}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,152},{100,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,86}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,163},{98,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{96,86}}</string>
                <key>offset</key>
                <string>{2,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,163},{96,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,299},{128,136}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,112},{128,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,299},{134,142}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,105},{134,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,291},{122,132}}</string>
                <key>offset</key>
                <string>{-9,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{122,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{102,102}}</string>
                <key>offset</key>
                <string>{5,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,145},{102,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,199},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{94,88}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,158},{94,88}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{94,88}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,158},{94,88}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,191},{98,100}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,191},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,99},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,89},{100,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{100,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,99},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,91},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster143_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,91},{98,100}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,148},{98,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster143.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e5bc686c84eaa59c7a093479e9437a:1/1$</string>
            <key>textureFileName</key>
            <string>monster143.png</string>
        </dict>
    </dict>
</plist>
