<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster181_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,502},{118,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{120,128}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,121},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,622},{120,126}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,123},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,116},{118,140}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,109},{118,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,162}}</string>
                <key>offset</key>
                <string>{20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,87},{110,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{112,158}}</string>
                <key>offset</key>
                <string>{-2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,91},{112,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{152,130}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,119},{152,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{152,136}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,113},{152,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{118,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,602},{104,132}}</string>
                <key>offset</key>
                <string>{25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,117},{104,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,380},{104,132}}</string>
                <key>offset</key>
                <string>{25,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{104,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,482},{118,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,117},{118,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,380},{120,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,117},{120,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{120,132}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,118},{120,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,360},{120,132}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,118},{120,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,236},{122,134}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,116},{122,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,134},{122,134}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,116},{122,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{120,134}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,116},{120,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster181_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,258},{120,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,117},{120,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster181.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f50ca899f1dcc02244a6c0c9b5faf194:1/1$</string>
            <key>textureFileName</key>
            <string>monster181.png</string>
        </dict>
    </dict>
</plist>
