<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster230_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,562},{124,108}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,138},{124,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,446},{134,108}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,138},{134,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{142,114}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,132},{142,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,328},{138,116}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,130},{138,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{158,108}}</string>
                <key>offset</key>
                <string>{-21,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,141},{158,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,106},{178,108}}</string>
                <key>offset</key>
                <string>{-23,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,141},{178,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{182,102}}</string>
                <key>offset</key>
                <string>{-23,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,148},{182,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,106}}</string>
                <key>offset</key>
                <string>{-21,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,142},{186,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,562},{124,108}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,138},{124,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,446},{128,114}}</string>
                <key>offset</key>
                <string>{19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,132},{128,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{128,114}}</string>
                <key>offset</key>
                <string>{19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,132},{128,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{124,108}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,138},{124,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,336},{134,108}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,138},{134,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{136,110}}</string>
                <key>offset</key>
                <string>{10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,136},{136,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{134,110}}</string>
                <key>offset</key>
                <string>{9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,136},{134,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,556},{126,110}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,136},{126,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,114},{140,110}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,136},{140,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,216},{146,110}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,136},{146,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster230_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,226},{142,108}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,138},{142,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster230.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:400d9d6b4d2ee3bb9ca69f1cf525339e:1/1$</string>
            <key>textureFileName</key>
            <string>monster230.png</string>
        </dict>
    </dict>
</plist>
