<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster105_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,130},{126,150}}</string>
                <key>offset</key>
                <string>{7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,99},{126,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{130,116}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,133},{130,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{146,130}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,119},{146,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,368},{120,144}}</string>
                <key>offset</key>
                <string>{22,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,105},{120,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{146,154}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,95},{146,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,110}}</string>
                <key>offset</key>
                <string>{-43,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,139},{168,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,258},{150,108}}</string>
                <key>offset</key>
                <string>{-32,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,141},{150,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{112,118}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,131},{112,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,276},{126,148}}</string>
                <key>offset</key>
                <string>{7,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,101},{126,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{140,122}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,127},{140,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,404},{140,122}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,127},{140,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{126,150}}</string>
                <key>offset</key>
                <string>{7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,99},{126,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,490},{136,128}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,121},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{150,124}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,125},{150,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,658},{114,124}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,125},{114,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{126,150}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,99},{126,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,528},{134,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,121},{134,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,150},{150,124}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,125},{150,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster105_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,620},{112,126}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,123},{112,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster105.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6190ed2f97b0f6e61f770f1b01095bc:1/1$</string>
            <key>textureFileName</key>
            <string>monster105.png</string>
        </dict>
    </dict>
</plist>
