<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster219_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,484},{120,126}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,136},{94,134}}</string>
                <key>offset</key>
                <string>{16,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,114},{94,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,232},{128,130}}</string>
                <key>offset</key>
                <string>{47,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,117},{128,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,112},{134,118}}</string>
                <key>offset</key>
                <string>{51,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,129},{134,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,142}}</string>
                <key>offset</key>
                <string>{-47,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,107},{156,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,132}}</string>
                <key>offset</key>
                <string>{-46,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,117},{154,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{150,108}}</string>
                <key>offset</key>
                <string>{-45,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,141},{150,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{132,118}}</string>
                <key>offset</key>
                <string>{-20,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,130},{132,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,478},{120,126}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,346},{112,114}}</string>
                <key>offset</key>
                <string>{41,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,134},{112,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,232},{112,114}}</string>
                <key>offset</key>
                <string>{41,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,134},{112,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{120,126}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,362},{120,126}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,122},{124,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,232},{122,126}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,122},{122,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,356},{120,126}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,121},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,478},{118,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,122},{118,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,600},{116,126}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,122},{116,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster219_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{118,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,122},{118,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster219.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdac55658e3335f4849a44583de578da:1/1$</string>
            <key>textureFileName</key>
            <string>monster219.png</string>
        </dict>
    </dict>
</plist>
