<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster247_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,117},{122,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,536},{116,128}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,121},{116,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,382},{104,120}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,130},{104,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{118,124}}</string>
                <key>offset</key>
                <string>{37,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,124},{118,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,506},{128,120}}</string>
                <key>offset</key>
                <string>{44,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,128},{128,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{156,156}}</string>
                <key>offset</key>
                <string>{-49,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,94},{156,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{148,140}}</string>
                <key>offset</key>
                <string>{-48,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,110},{148,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,128}}</string>
                <key>offset</key>
                <string>{-36,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,121},{170,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,117},{122,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,284},{130,126}}</string>
                <key>offset</key>
                <string>{48,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,123},{130,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,254},{130,126}}</string>
                <key>offset</key>
                <string>{48,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,123},{130,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,117},{122,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,412},{122,130}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{122,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{120,130}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{120,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,382},{122,130}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{122,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,128},{124,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,116},{124,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{124,132}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,116},{124,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{124,130}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{124,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster247_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,160},{122,132}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{122,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster247.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc03c33eaf535f2464046920604b460d:1/1$</string>
            <key>textureFileName</key>
            <string>monster247.png</string>
        </dict>
    </dict>
</plist>
