<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster323_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,232},{226,248}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,90},{226,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,232},{228,248}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{228,248}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,508},{230,250}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,88},{230,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,760},{232,250}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,88},{232,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{234,250}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,88},{234,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,252}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,86},{236,252}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{234,250}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,88},{234,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{232,250}}</string>
                <key>offset</key>
                <string>{-17,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,88},{232,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,256},{230,250}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,88},{230,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{230,248}}</string>
                <key>offset</key>
                <string>{-16,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,90},{230,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster323_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{228,248}}</string>
                <key>offset</key>
                <string>{-15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster323.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242d8c3df0510930c0fec69d70938af5:1/1$</string>
            <key>textureFileName</key>
            <string>monster323.png</string>
        </dict>
    </dict>
</plist>
