<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster208_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,154},{150,154}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,94},{150,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,576},{136,148}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,100},{136,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,840},{106,138}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,111},{106,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,714},{106,136}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,113},{106,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{154,150}}</string>
                <key>offset</key>
                <string>{-26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,96},{154,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,154},{162,150}}</string>
                <key>offset</key>
                <string>{-31,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,96},{162,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{164,150}}</string>
                <key>offset</key>
                <string>{-33,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,96},{164,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,152}}</string>
                <key>offset</key>
                <string>{-28,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,95},{180,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,440},{132,154}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,94},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{134,142}}</string>
                <key>offset</key>
                <string>{50,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,106},{134,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{134,142}}</string>
                <key>offset</key>
                <string>{50,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{134,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{132,154}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,94},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,442},{132,152}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,95},{132,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{132,154}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,93},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,306},{134,154}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,93},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{142,154}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,93},{142,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{136,154}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,93},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,574},{130,152}}</string>
                <key>offset</key>
                <string>{6,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,95},{130,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster208_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{130,152}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,95},{130,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster208.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ed71f782e614b120fc11c9ca5c4d0a2:1/1$</string>
            <key>textureFileName</key>
            <string>monster208.png</string>
        </dict>
    </dict>
</plist>
