<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster207_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,674},{124,134}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{124,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{120,130}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,119},{120,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,148},{116,124}}</string>
                <key>offset</key>
                <string>{23,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,125},{116,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{180,142}}</string>
                <key>offset</key>
                <string>{-28,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,105},{180,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,148},{188,142}}</string>
                <key>offset</key>
                <string>{-32,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,105},{188,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{198,142}}</string>
                <key>offset</key>
                <string>{-36,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,105},{198,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{202,144}}</string>
                <key>offset</key>
                <string>{-38,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,103},{202,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,134}}</string>
                <key>offset</key>
                <string>{-37,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,113},{206,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,674},{124,134}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{124,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,418},{136,128}}</string>
                <key>offset</key>
                <string>{26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,120},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,292},{136,128}}</string>
                <key>offset</key>
                <string>{26,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,120},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,674},{124,134}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{124,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{124,136}}</string>
                <key>offset</key>
                <string>{5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{124,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,548},{122,136}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,112},{122,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,548},{124,136}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,111},{124,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,292},{124,138}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,109},{124,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,422},{124,136}}</string>
                <key>offset</key>
                <string>{6,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,111},{124,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{124,136}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,112},{124,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster207_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,672},{126,134}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,114},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster207.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01343c654650de4b5a60d64025754494:1/1$</string>
            <key>textureFileName</key>
            <string>monster207.png</string>
        </dict>
    </dict>
</plist>
