<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster217_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{108,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,120},{108,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{112,126}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,121},{112,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,142}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,105},{98,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,226},{126,120}}</string>
                <key>offset</key>
                <string>{45,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{126,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{134,130}}</string>
                <key>offset</key>
                <string>{-39,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,119},{134,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{130,120}}</string>
                <key>offset</key>
                <string>{-37,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,129},{130,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{128,110}}</string>
                <key>offset</key>
                <string>{-36,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,139},{128,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,458},{112,122}}</string>
                <key>offset</key>
                <string>{-12,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,126},{112,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{108,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,120},{108,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,342},{114,118}}</string>
                <key>offset</key>
                <string>{39,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,130},{114,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,226},{114,118}}</string>
                <key>offset</key>
                <string>{39,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,130},{114,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{108,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,120},{108,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,460},{108,126}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,121},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{108,126}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,121},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{108,128}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,119},{108,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,114},{110,128}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,119},{110,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{110,126}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,121},{110,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,244},{112,126}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,121},{112,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster217_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,348},{110,126}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,121},{110,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster217.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be7c9de16a05f0f16c0a6d50668b16b4:1/1$</string>
            <key>textureFileName</key>
            <string>monster217.png</string>
        </dict>
    </dict>
</plist>
