<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster253_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,538},{122,128}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,120},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,656},{120,124}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,656},{114,118}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{114,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{126,160}}</string>
                <key>offset</key>
                <string>{26,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,87},{126,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,282},{126,154}}</string>
                <key>offset</key>
                <string>{28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,92},{126,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,162}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,86},{186,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,148}}</string>
                <key>offset</key>
                <string>{-23,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,100},{186,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{182,128}}</string>
                <key>offset</key>
                <string>{-22,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,120},{182,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,538},{122,128}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,120},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,392},{138,152}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{138,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{138,152}}</string>
                <key>offset</key>
                <string>{33,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,96},{138,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,538},{122,128}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,120},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,532},{122,128}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,120},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{120,128}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,120},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{122,130}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,119},{122,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,264},{126,132}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{126,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{128,132}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,117},{128,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{132,130}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,118},{132,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster253_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,410},{126,130}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{126,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster253.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2862efca1abae6fcae6f91a2857f3b99:1/1$</string>
            <key>textureFileName</key>
            <string>monster253.png</string>
        </dict>
    </dict>
</plist>
