<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster164_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,84}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,165},{102,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{106,84}}</string>
                <key>offset</key>
                <string>{4,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,165},{106,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{112,78}}</string>
                <key>offset</key>
                <string>{6,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,171},{112,78}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{110,82}}</string>
                <key>offset</key>
                <string>{2,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,167},{110,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,104}}</string>
                <key>offset</key>
                <string>{-24,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,145},{150,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{138,122}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,127},{138,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{114,94}}</string>
                <key>offset</key>
                <string>{-4,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,155},{114,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,174},{104,80}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,169},{104,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,84}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,165},{102,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,258},{94,84}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,165},{94,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,256},{94,84}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,165},{94,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{102,84}}</string>
                <key>offset</key>
                <string>{3,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,165},{102,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,376},{104,84}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,165},{104,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{108,86}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,164},{108,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,126},{110,86}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{110,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,214},{108,86}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{108,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,82},{110,86}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,164},{110,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,170},{108,86}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,164},{108,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster164_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,88},{104,84}}</string>
                <key>offset</key>
                <string>{5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,165},{104,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster164.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f507410427b8cb0ea88426d163cda9:1/1$</string>
            <key>textureFileName</key>
            <string>monster164.png</string>
        </dict>
    </dict>
</plist>
