<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster244_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,334},{100,82}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,94},{106,80}}</string>
                <key>offset</key>
                <string>{7,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,165},{106,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,88},{108,80}}</string>
                <key>offset</key>
                <string>{7,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,166},{108,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,170},{108,78}}</string>
                <key>offset</key>
                <string>{7,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,168},{108,78}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{90,108}}</string>
                <key>offset</key>
                <string>{6,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,133},{90,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{84,118}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,121},{84,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,96}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,153},{116,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{118,80}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,169},{118,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,88},{118,82}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,167},{118,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{118,84}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,165},{118,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{102,80}}</string>
                <key>offset</key>
                <string>{6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,164},{102,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,172},{102,82}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,162},{102,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,418},{100,82}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,334},{100,82}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,424},{100,82}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,340},{100,82}}</string>
                <key>offset</key>
                <string>{7,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,162},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,260},{100,80}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,163},{100,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{100,82}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,161},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,256},{100,82}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,161},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,418},{98,82}}</string>
                <key>offset</key>
                <string>{7,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,161},{98,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,250},{100,82}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,161},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,176},{100,82}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,161},{100,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster244_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{100,80}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,163},{100,80}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster244.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d98b15ed81c5dca25ed83aad76cf14:1/1$</string>
            <key>textureFileName</key>
            <string>monster244.png</string>
        </dict>
    </dict>
</plist>
