<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster231_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,412},{124,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{124,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,538},{116,120}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,129},{116,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,256},{102,114}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,136},{102,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,144},{110,134}}</string>
                <key>offset</key>
                <string>{24,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,112},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,510},{122,124}}</string>
                <key>offset</key>
                <string>{32,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,121},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{166,146}}</string>
                <key>offset</key>
                <string>{-38,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,104},{166,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{162,140}}</string>
                <key>offset</key>
                <string>{-38,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,110},{162,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,118}}</string>
                <key>offset</key>
                <string>{-30,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,131},{172,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,412},{124,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{124,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,150},{132,132}}</string>
                <key>offset</key>
                <string>{34,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,116},{132,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{132,132}}</string>
                <key>offset</key>
                <string>{34,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,116},{132,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,412},{124,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{124,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{122,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,124},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,384},{122,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,124},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,384},{124,126}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,122},{124,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,256},{128,126}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,121},{128,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{128,126}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,121},{128,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,284},{126,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,122},{126,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster231_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{126,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,124},{126,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster231.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f18d75fab8dbdfa3fdec683ad5a3c6e:1/1$</string>
            <key>textureFileName</key>
            <string>monster231.png</string>
        </dict>
    </dict>
</plist>
