<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster211_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,478},{118,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,358},{112,124}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,125},{112,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,472},{106,124}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,125},{106,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,128},{104,126}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{104,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{128,112}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,137},{128,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{132,112}}</string>
                <key>offset</key>
                <string>{-13,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,137},{132,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,112}}</string>
                <key>offset</key>
                <string>{-17,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,137},{144,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,118}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,131},{150,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,478},{118,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,116},{138,124}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{138,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{138,124}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{138,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,478},{118,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{118,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,486},{116,122}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{116,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,358},{118,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,126},{118,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{120,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,126},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,242},{120,124}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,126},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,234},{122,124}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,126},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster211_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,364},{120,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,127},{120,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster211.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e287c68b023e0c0b20defe0581346ce2:1/1$</string>
            <key>textureFileName</key>
            <string>monster211.png</string>
        </dict>
    </dict>
</plist>
