<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster233_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{122,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,124},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,512},{114,120}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,129},{114,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,522},{100,112}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,138},{100,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,150},{110,134}}</string>
                <key>offset</key>
                <string>{25,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,112},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,402},{120,124}}</string>
                <key>offset</key>
                <string>{33,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,121},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{168,146}}</string>
                <key>offset</key>
                <string>{-38,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,104},{168,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{162,140}}</string>
                <key>offset</key>
                <string>{-38,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,110},{162,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,118}}</string>
                <key>offset</key>
                <string>{-31,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,131},{172,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{122,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,124},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{130,134}}</string>
                <key>offset</key>
                <string>{35,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,114},{130,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,144},{130,134}}</string>
                <key>offset</key>
                <string>{35,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,114},{130,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{122,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,124},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,400},{120,124}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,390},{120,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,122},{120,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,276},{122,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{122,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,262},{126,126}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,121},{126,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{126,126}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,121},{126,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{124,126}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,122},{124,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster233_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,276},{124,124}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{124,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster233.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f857afc79805a2eb8907b46ce2a2f2:1/1$</string>
            <key>textureFileName</key>
            <string>monster233.png</string>
        </dict>
    </dict>
</plist>
