<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster998_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{110,108}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,140},{110,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,493},{110,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,141},{110,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{104,164}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,82},{104,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{122,206}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,37},{122,206}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{142,188}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,58},{142,188}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,145},{156,122}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,127},{156,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{138,90}}</string>
                <key>offset</key>
                <string>{-10,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,159},{138,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,227},{134,98}}</string>
                <key>offset</key>
                <string>{-11,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,151},{134,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,327},{110,110}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,138},{110,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,545},{108,104}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,141},{108,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,439},{108,104}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,141},{108,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,439},{110,108}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{110,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{110,110}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{110,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,115},{110,112}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,135},{110,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,269},{110,114}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,134},{110,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{108,112}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,136},{108,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{112,112}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{112,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,381},{110,110}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{110,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster998_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,327},{110,110}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,137},{110,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster998.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47c51dacfc5b9ea26500269c48876eb:1/1$</string>
            <key>textureFileName</key>
            <string>monster998.png</string>
        </dict>
    </dict>
</plist>
