<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster144_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,371},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{116,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,581},{112,130}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,120},{112,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,355},{106,128}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,122},{106,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{100,144}}</string>
                <key>offset</key>
                <string>{20,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,105},{100,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,135},{116,134}}</string>
                <key>offset</key>
                <string>{36,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,115},{116,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{150,132}}</string>
                <key>offset</key>
                <string>{-17,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,117},{150,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,132}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,117},{150,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,221},{124,132}}</string>
                <key>offset</key>
                <string>{-10,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,117},{124,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{116,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,485},{102,132}}</string>
                <key>offset</key>
                <string>{31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{102,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,221},{102,132}}</string>
                <key>offset</key>
                <string>{31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,117},{102,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,347},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{116,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,253},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{116,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{116,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{116,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,103},{116,134}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,115},{116,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,489},{114,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,117},{114,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{114,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,117},{114,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster144_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,465},{114,132}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,117},{114,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster144.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a6cd95a45fee639989357e007bc1ea:1/1$</string>
            <key>textureFileName</key>
            <string>monster144.png</string>
        </dict>
    </dict>
</plist>
