<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,217},{122,116}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,133},{122,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,335},{120,118}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,131},{120,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{118,120}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,129},{118,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{122,124}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,125},{122,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{120,114}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,135},{120,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1},{148,84}}</string>
                <key>offset</key>
                <string>{-18,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,165},{148,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{160,88}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,161},{160,88}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{164,100}}</string>
                <key>offset</key>
                <string>{-21,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,149},{164,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,451},{120,116}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{120,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,91},{128,124}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,125},{128,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,87},{128,124}}</string>
                <key>offset</key>
                <string>{19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,125},{128,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,451},{120,116}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{120,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,455},{120,114}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,135},{120,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,453},{120,114}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,135},{120,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,333},{120,116}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{120,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,569},{118,118}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,131},{118,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,333},{120,118}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,131},{120,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{120,120}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,129},{120,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,213},{122,118}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,131},{122,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6bf489aa4018ff75dd8caf0b1aa685f:1/1$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
