<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster108_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{120,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,121},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{128,128}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,121},{128,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,140},{130,128}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,121},{130,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{106,134}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{130,146}}</string>
                <key>offset</key>
                <string>{37,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,103},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,134},{122,146}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,103},{122,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,136}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,113},{168,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{164,136}}</string>
                <key>offset</key>
                <string>{-29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,113},{164,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,648},{120,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,121},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{126,128}}</string>
                <key>offset</key>
                <string>{38,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{126,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,270},{126,128}}</string>
                <key>offset</key>
                <string>{38,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,121},{126,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,636},{120,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,121},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{124,128}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,121},{124,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,258},{126,128}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,121},{126,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,398},{124,128}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,121},{124,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,386},{124,128}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,121},{124,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,524},{122,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,121},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,512},{122,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,121},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster108_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{120,128}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,121},{120,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster108.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b1f485bb3b780eb999b5652f7eb0483:1/1$</string>
            <key>textureFileName</key>
            <string>monster108.png</string>
        </dict>
    </dict>
</plist>
