<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster107_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,102},{88,112}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,135},{88,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,276},{96,88}}</string>
                <key>offset</key>
                <string>{-8,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,159},{96,88}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,192},{108,100}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,147},{108,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,182},{92,110}}</string>
                <key>offset</key>
                <string>{16,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,137},{92,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{98,116}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,131},{98,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,84}}</string>
                <key>offset</key>
                <string>{-34,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,163},{130,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{112,84}}</string>
                <key>offset</key>
                <string>{-27,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,163},{112,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,290},{86,90}}</string>
                <key>offset</key>
                <string>{-14,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,157},{86,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,92},{88,112}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,135},{88,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{102,94}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,153},{102,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{102,94}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,153},{102,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{88,112}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,135},{88,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,190},{100,98}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,149},{100,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,92},{110,96}}</string>
                <key>offset</key>
                <string>{-2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,151},{110,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,366},{86,96}}</string>
                <key>offset</key>
                <string>{0,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,151},{86,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{88,112}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,135},{88,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,368},{100,98}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,149},{100,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{112,96}}</string>
                <key>offset</key>
                <string>{-3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,151},{112,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster107_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,366},{86,96}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,151},{86,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster107.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4999a2ce16584f92eac596f7006dc5:1/1$</string>
            <key>textureFileName</key>
            <string>monster107.png</string>
        </dict>
    </dict>
</plist>
