<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster134_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,301},{98,96}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,401},{96,82}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,167},{96,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,401},{96,82}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,167},{96,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{128,120}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,127},{128,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,128}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,119},{134,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{120,124}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,123},{120,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{104,100}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,147},{104,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,401},{96,92}}</string>
                <key>offset</key>
                <string>{-1,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,156},{96,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,301},{98,96}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,395},{92,84}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,162},{92,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,301},{92,84}}</string>
                <key>offset</key>
                <string>{3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,162},{92,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,301},{98,96}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{98,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{98,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{100,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,152},{100,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,103},{100,98}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,151},{100,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,123},{100,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,152},{100,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,203},{98,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster134_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,123},{98,96}}</string>
                <key>offset</key>
                <string>{2,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster134.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92911a0cf6316cd2edc8cdc4026c0790:1/1$</string>
            <key>textureFileName</key>
            <string>monster134.png</string>
        </dict>
    </dict>
</plist>
