<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster145_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,329},{94,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,501},{88,126}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,124},{88,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,393},{86,124}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{86,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,107},{94,132}}</string>
                <key>offset</key>
                <string>{23,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,117},{94,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,136}}</string>
                <key>offset</key>
                <string>{34,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,113},{114,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1},{104,134}}</string>
                <key>offset</key>
                <string>{20,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,115},{104,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1},{132,128}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,121},{132,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,203},{122,128}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,121},{122,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,263},{94,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,131},{100,130}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,119},{100,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{100,130}}</string>
                <key>offset</key>
                <string>{31,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,119},{100,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,405},{94,128}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,327},{94,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,233},{94,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,133},{94,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{94,130}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,119},{94,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{94,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,423},{92,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,121},{92,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster145_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{94,128}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,121},{94,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster145.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:502a53ac156938e7c1125743ca35f187:1/1$</string>
            <key>textureFileName</key>
            <string>monster145.png</string>
        </dict>
    </dict>
</plist>
