<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster317_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{274,314}}</string>
                <key>offset</key>
                <string>{18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,22},{274,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,845},{276,312}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,24},{276,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{280,312}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,24},{280,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,563},{280,312}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,24},{280,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{284,312}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{284,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,851},{286,310}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,26},{286,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{288,310}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,26},{288,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{286,312}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{286,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,277},{284,312}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,24},{284,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,289},{280,312}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,24},{280,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,571},{278,312}}</string>
                <key>offset</key>
                <string>{19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,24},{278,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster317_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{276,314}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,22},{276,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster317.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b07825d5279472f067cd08ee0bae7b9:1/1$</string>
            <key>textureFileName</key>
            <string>monster317.png</string>
        </dict>
    </dict>
</plist>
