<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster256_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{176,162}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,160},{160,204}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{160,204}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{156,220}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,28},{156,220}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,244},{176,194}}</string>
                <key>offset</key>
                <string>{37,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,54},{176,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,242}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{254,240}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{254,240}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{220,240}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{220,240}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{176,162}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{176,162}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,586},{144,172}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,76},{144,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,738},{156,172}}</string>
                <key>offset</key>
                <string>{22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,76},{156,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{176,162}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,88},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{176,162}}</string>
                <key>offset</key>
                <string>{-10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{176,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,422},{178,162}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{178,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,388},{184,162}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{184,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{190,162}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,86},{190,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,224},{198,162}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{198,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{192,162}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,87},{192,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster256_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,322},{184,162}}</string>
                <key>offset</key>
                <string>{-6,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,87},{184,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster256.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11eb55586151485cefd46b2385a4738:1/1$</string>
            <key>textureFileName</key>
            <string>monster256.png</string>
        </dict>
    </dict>
</plist>
