<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster163_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,412},{118,100}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{118,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{120,96}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,153},{120,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{124,94}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,155},{124,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{128,98}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,151},{128,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,120}}</string>
                <key>offset</key>
                <string>{-25,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,129},{166,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{152,136}}</string>
                <key>offset</key>
                <string>{-21,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,113},{152,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{134,112}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,137},{134,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,410},{120,94}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,155},{120,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,308},{118,100}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{118,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{106,96}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,153},{106,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,448},{106,98}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,151},{106,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,206},{118,100}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{118,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,346},{120,100}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{120,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{126,100}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,149},{126,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,140},{126,102}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,148},{126,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,206},{124,102}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,148},{124,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,102},{126,102}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,148},{126,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,244},{124,100}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{124,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster163_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,310},{120,100}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,149},{120,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster163.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425faca6f245344e286cd1b4b75df68e:1/1$</string>
            <key>textureFileName</key>
            <string>monster163.png</string>
        </dict>
    </dict>
</plist>
