<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster259_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,358},{144,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,129},{144,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{152,116}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,133},{152,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,240},{156,116}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,134},{156,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,252},{136,146}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,99},{136,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,114},{124,164}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,78},{124,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,170}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,71},{120,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,118},{158,132}}</string>
                <key>offset</key>
                <string>{-9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,118},{158,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{168,110}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,140},{168,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{166,114}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,136},{166,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{164,118}}</string>
                <key>offset</key>
                <string>{-9,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,132},{164,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{144,116}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,358},{144,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,129},{144,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,478},{144,116}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,390},{144,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{144,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,358},{144,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,129},{144,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{142,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,129},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,716},{142,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,129},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,628},{142,118}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,128},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{140,118}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,128},{140,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{142,118}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,128},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,596},{142,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,129},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster259_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,508},{142,118}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,129},{142,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster259.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd35a07ba8862d5f92a22550fb57117d:1/1$</string>
            <key>textureFileName</key>
            <string>monster259.png</string>
        </dict>
    </dict>
</plist>
