<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster189_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,832},{118,130}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,119},{118,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{114,128}}</string>
                <key>offset</key>
                <string>{1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,121},{114,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{118,130}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,119},{118,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{124,132}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,117},{124,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,692},{126,134}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,115},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,290},{158,136}}</string>
                <key>offset</key>
                <string>{-18,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,113},{158,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{190,136}}</string>
                <key>offset</key>
                <string>{-33,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,113},{190,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,138}}</string>
                <key>offset</key>
                <string>{-37,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,111},{198,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,582},{136,130}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,119},{136,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,566},{148,124}}</string>
                <key>offset</key>
                <string>{38,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,125},{148,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{160,124}}</string>
                <key>offset</key>
                <string>{45,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,125},{160,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,428},{150,136}}</string>
                <key>offset</key>
                <string>{16,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,113},{150,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,442},{148,138}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,111},{148,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{148,140}}</string>
                <key>offset</key>
                <string>{19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,109},{148,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,298},{150,142}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,107},{150,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{152,142}}</string>
                <key>offset</key>
                <string>{19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,106},{152,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,140},{156,144}}</string>
                <key>offset</key>
                <string>{19,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,104},{156,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,140},{160,148}}</string>
                <key>offset</key>
                <string>{18,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,101},{160,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster189_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{158,150}}</string>
                <key>offset</key>
                <string>{19,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,99},{158,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster189.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6ccc2cd42ccae3e6c086bd7b8810f25:1/1$</string>
            <key>textureFileName</key>
            <string>monster189.png</string>
        </dict>
    </dict>
</plist>
