<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster100_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,315},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1},{124,148}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,102},{124,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,663},{120,146}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,104},{120,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,157},{124,148}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,102},{124,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{174,192}}</string>
                <key>offset</key>
                <string>{-27,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{174,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,197},{146,192}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{146,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{146,194}}</string>
                <key>offset</key>
                <string>{-46,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{146,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,194}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,56},{178,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{174,190}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,60},{174,190}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{178,156}}</string>
                <key>offset</key>
                <string>{35,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,94},{178,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,767},{172,150}}</string>
                <key>offset</key>
                <string>{36,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,100},{172,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,315},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,315},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,587},{152,158}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{152,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,767},{152,158}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{152,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,507},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,863},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,707},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,549},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,193},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,391},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,747},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,159},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,351},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster100_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,863},{132,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,96},{132,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster100.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52abb4376fb0bd03b662729d919ad839:1/1$</string>
            <key>textureFileName</key>
            <string>monster100.png</string>
        </dict>
    </dict>
</plist>
