<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster325_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{298,314}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,22},{298,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,913},{298,312}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,24},{298,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,617},{302,312}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,24},{302,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{304,312}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{304,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,301},{306,312}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{306,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,921},{308,310}}</string>
                <key>offset</key>
                <string>{25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,26},{308,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,915},{308,310}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,26},{308,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{308,312}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,24},{308,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{306,312}}</string>
                <key>offset</key>
                <string>{25,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{306,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,311},{304,312}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{304,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,609},{302,312}}</string>
                <key>offset</key>
                <string>{24,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,24},{302,312}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster325_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{298,314}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,22},{298,314}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster325.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c183fecf5dc01c450faee08926ddfc4c:1/1$</string>
            <key>textureFileName</key>
            <string>monster325.png</string>
        </dict>
    </dict>
</plist>
