<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster320_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1},{206,238}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,98},{206,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,481},{214,238}}</string>
                <key>offset</key>
                <string>{16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,98},{214,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,721},{216,238}}</string>
                <key>offset</key>
                <string>{17,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,98},{216,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{222,238}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,98},{222,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{226,238}}</string>
                <key>offset</key>
                <string>{22,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,98},{226,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{230,238}}</string>
                <key>offset</key>
                <string>{25,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,98},{230,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{216,238}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,98},{216,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,241},{216,238}}</string>
                <key>offset</key>
                <string>{19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,98},{216,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,481},{216,238}}</string>
                <key>offset</key>
                <string>{20,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,98},{216,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,721},{218,238}}</string>
                <key>offset</key>
                <string>{20,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,98},{218,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,721},{218,238}}</string>
                <key>offset</key>
                <string>{21,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,98},{218,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster320_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,241},{206,238}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,98},{206,238}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster320.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83807e92c545c69d69914b89d83b1345:1/1$</string>
            <key>textureFileName</key>
            <string>monster320.png</string>
        </dict>
    </dict>
</plist>
