<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster209_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{152,144}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,104},{152,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{140,140}}</string>
                <key>offset</key>
                <string>{28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,107},{140,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{144,144}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,103},{144,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,144},{180,148}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,100},{180,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,148},{182,150}}</string>
                <key>offset</key>
                <string>{-13,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,99},{182,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{184,152}}</string>
                <key>offset</key>
                <string>{-15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,97},{184,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,294},{198,152}}</string>
                <key>offset</key>
                <string>{-22,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,98},{198,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,134}}</string>
                <key>offset</key>
                <string>{-24,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,115},{196,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{152,144}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,104},{152,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,148},{156,148}}</string>
                <key>offset</key>
                <string>{30,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,100},{156,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,298},{156,152}}</string>
                <key>offset</key>
                <string>{29,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,96},{156,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{152,144}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,104},{152,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{150,146}}</string>
                <key>offset</key>
                <string>{10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,103},{150,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,148},{150,148}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{150,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{146,148}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{146,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,300},{152,152}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,97},{152,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,300},{152,154}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,95},{152,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,298},{152,152}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,96},{152,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster209_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{142,136}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,112},{142,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster209.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad770c5fd468ea58b7bf005b0436c470:1/1$</string>
            <key>textureFileName</key>
            <string>monster209.png</string>
        </dict>
    </dict>
</plist>
