<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster111_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,424},{104,116}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,132},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,344},{92,110}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,138},{92,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,438},{82,110}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,139},{82,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{94,130}}</string>
                <key>offset</key>
                <string>{31,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,116},{94,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{94,134}}</string>
                <key>offset</key>
                <string>{32,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,112},{94,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,134}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,115},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{130,122}}</string>
                <key>offset</key>
                <string>{-32,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,127},{130,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,98},{130,114}}</string>
                <key>offset</key>
                <string>{-30,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,134},{130,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,336},{104,116}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,132},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,214},{100,118}}</string>
                <key>offset</key>
                <string>{33,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,130},{100,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,126},{100,118}}</string>
                <key>offset</key>
                <string>{33,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,130},{100,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,238},{104,116}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,132},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{106,116}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,132},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,316},{106,116}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,131},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,228},{106,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,131},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{106,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,131},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,120},{104,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,131},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{102,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,131},{102,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster111_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{104,116}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,131},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster111.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd301ab60f30ff4c8c2496e780494efb:1/1$</string>
            <key>textureFileName</key>
            <string>monster111.png</string>
        </dict>
    </dict>
</plist>
