<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster006_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{104,112}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{104,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,337},{96,114}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,135},{96,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,119},{86,118}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,131},{86,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,119},{108,118}}</string>
                <key>offset</key>
                <string>{-14,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,131},{108,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1},{142,116}}</string>
                <key>offset</key>
                <string>{-22,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,133},{142,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{150,116}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,133},{150,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,134}}</string>
                <key>offset</key>
                <string>{-13,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,115},{160,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,119},{140,138}}</string>
                <key>offset</key>
                <string>{-11,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,111},{140,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,475},{104,112}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{104,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{118,122}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{118,122}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,127},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{104,112}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{104,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,445},{104,112}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{104,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,435},{106,112}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{106,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,367},{106,114}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,135},{106,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,259},{106,116}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,134},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,229},{106,116}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,134},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,337},{106,114}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,136},{106,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster006_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{104,114}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,135},{104,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster006.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f425be3d2331c6f7bb0aadece21bc7ae:1/1$</string>
            <key>textureFileName</key>
            <string>monster006.png</string>
        </dict>
    </dict>
</plist>
