<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster255_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{114,138}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,112},{114,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,634},{112,136}}</string>
                <key>offset</key>
                <string>{-9,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,114},{112,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{114,132}}</string>
                <key>offset</key>
                <string>{-10,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,118},{114,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{132,144}}</string>
                <key>offset</key>
                <string>{-13,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,106},{132,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,160},{136,158}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,92},{136,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{156,158}}</string>
                <key>offset</key>
                <string>{-15,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,92},{156,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,172}}</string>
                <key>offset</key>
                <string>{-15,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,78},{158,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,174}}</string>
                <key>offset</key>
                <string>{-16,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,76},{148,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{114,138}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,112},{114,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,400},{116,140}}</string>
                <key>offset</key>
                <string>{12,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,109},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,298},{116,140}}</string>
                <key>offset</key>
                <string>{12,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,109},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{114,138}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,112},{114,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,416},{116,138}}</string>
                <key>offset</key>
                <string>{-7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,112},{116,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{116,140}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,110},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,162},{118,140}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,110},{118,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,282},{116,140}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,110},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{114,140}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,110},{114,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,518},{114,138}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,112},{114,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster255_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,534},{112,138}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,112},{112,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster255.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12553c06e2432643f5019c092b3a0fee:1/1$</string>
            <key>textureFileName</key>
            <string>monster255.png</string>
        </dict>
    </dict>
</plist>
