<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster240_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,500},{164,162}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,87},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{162,192}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{162,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{156,210}}</string>
                <key>offset</key>
                <string>{24,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,37},{156,210}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,160},{164,196}}</string>
                <key>offset</key>
                <string>{31,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,51},{164,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{258,242}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,242}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,242}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{258,242}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,500},{164,162}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,87},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,500},{164,162}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,87},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,684},{146,172}}</string>
                <key>offset</key>
                <string>{16,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,75},{146,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,246},{156,172}}</string>
                <key>offset</key>
                <string>{22,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,75},{156,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,850},{164,162}}</string>
                <key>offset</key>
                <string>{-5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,87},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,684},{164,162}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,86},{164,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,858},{166,164}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,84},{166,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,510},{172,164}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,83},{172,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{180,166}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,81},{180,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{186,164}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,83},{186,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,326},{182,164}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,84},{182,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster240_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,326},{172,162}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,86},{172,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster240.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30164dc05d0ff7dc9b0db4c80289ed41:1/1$</string>
            <key>textureFileName</key>
            <string>monster240.png</string>
        </dict>
    </dict>
</plist>
