<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster237_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{88,90}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,158},{88,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,292},{88,86}}</string>
                <key>offset</key>
                <string>{5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,162},{88,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{96,84}}</string>
                <key>offset</key>
                <string>{10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,166},{96,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,94},{102,94}}</string>
                <key>offset</key>
                <string>{8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,154},{102,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,98}}</string>
                <key>offset</key>
                <string>{-13,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,150},{146,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{136,108}}</string>
                <key>offset</key>
                <string>{-9,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,140},{136,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{106,100}}</string>
                <key>offset</key>
                <string>{6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,148},{106,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,282},{90,86}}</string>
                <key>offset</key>
                <string>{4,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,162},{90,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,296},{90,90}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,158},{90,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,196},{82,94}}</string>
                <key>offset</key>
                <string>{9,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,154},{82,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,196},{82,94}}</string>
                <key>offset</key>
                <string>{9,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,154},{82,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{90,92}}</string>
                <key>offset</key>
                <string>{6,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,157},{90,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,280},{88,92}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,157},{88,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{96,90}}</string>
                <key>offset</key>
                <string>{10,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,159},{96,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,190},{102,90}}</string>
                <key>offset</key>
                <string>{12,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,159},{102,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{106,90}}</string>
                <key>offset</key>
                <string>{15,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,159},{106,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{108,90}}</string>
                <key>offset</key>
                <string>{15,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,159},{108,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,104},{102,90}}</string>
                <key>offset</key>
                <string>{13,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,159},{102,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster237_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,204},{92,90}}</string>
                <key>offset</key>
                <string>{7,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,159},{92,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster237.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bb4b2a40f794e9cfa7782aa5956924d:1/1$</string>
            <key>textureFileName</key>
            <string>monster237.png</string>
        </dict>
    </dict>
</plist>
