<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster330_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{256,306}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,30},{256,306}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,527},{258,306}}</string>
                <key>offset</key>
                <string>{20,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,31},{258,306}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,527},{260,306}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,30},{260,306}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{260,308}}</string>
                <key>offset</key>
                <string>{23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,28},{260,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,263},{262,308}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{262,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{260,310}}</string>
                <key>offset</key>
                <string>{22,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,26},{260,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{262,310}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{262,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{260,310}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,26},{260,310}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,263},{258,308}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,28},{258,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,523},{256,308}}</string>
                <key>offset</key>
                <string>{19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{256,308}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,787},{256,306}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,30},{256,306}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster330_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,781},{256,306}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,30},{256,306}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster330.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:607d19de2aefbdf52945a488673a0f58:1/1$</string>
            <key>textureFileName</key>
            <string>monster330.png</string>
        </dict>
    </dict>
</plist>
