<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster118_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,786},{98,104}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{98,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,900},{96,102}}</string>
                <key>offset</key>
                <string>{-2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,148},{96,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{102,98}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,152},{102,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{120,112}}</string>
                <key>offset</key>
                <string>{-13,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,137},{120,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{132,144}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,104},{132,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,146}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{126,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{114,142}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,107},{114,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,398},{92,116}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,133},{92,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{96,104}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,145},{96,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,492},{86,108}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{86,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,310},{86,108}}</string>
                <key>offset</key>
                <string>{23,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,141},{86,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{98,104}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{98,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,684},{100,104}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,145},{100,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,104},{100,104}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,145},{100,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,144},{102,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,580},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,144},{102,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,144},{102,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,206},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,144},{102,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster118_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{100,104}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,145},{100,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster118.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:585328aff37bd03e3da47839b1ca9fd3:1/1$</string>
            <key>textureFileName</key>
            <string>monster118.png</string>
        </dict>
    </dict>
</plist>
