<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster302_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,269},{130,146}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,271},{126,146}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,100},{126,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,399},{102,146}}</string>
                <key>offset</key>
                <string>{-11,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{102,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,399},{104,142}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,108},{104,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,533},{106,134}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,113},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,417},{106,134}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,113},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{214,132}}</string>
                <key>offset</key>
                <string>{37,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,115},{214,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{216,132}}</string>
                <key>offset</key>
                <string>{36,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,115},{216,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{196,132}}</string>
                <key>offset</key>
                <string>{27,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,115},{196,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,399},{142,132}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,115},{142,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,401},{100,134}}</string>
                <key>offset</key>
                <string>{9,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,112},{100,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,401},{120,144}}</string>
                <key>offset</key>
                <string>{9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,101},{120,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,269},{130,146}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,505},{124,138}}</string>
                <key>offset</key>
                <string>{-16,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,109},{124,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,401},{124,138}}</string>
                <key>offset</key>
                <string>{-16,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,109},{124,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,267},{130,146}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{130,146}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,137},{132,146}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{132,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,135},{132,146}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,99},{132,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,135},{132,146}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,99},{132,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,135},{132,148}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,97},{132,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{134,148}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,97},{134,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1},{132,148}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{132,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,135},{130,148}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,97},{130,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{130,148}}</string>
                <key>offset</key>
                <string>{12,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,97},{130,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,269},{130,146}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster302_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,269},{130,146}}</string>
                <key>offset</key>
                <string>{12,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,99},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster302.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:290bb894505620fd41ed464d4282bf59:1/1$</string>
            <key>textureFileName</key>
            <string>monster302.png</string>
        </dict>
    </dict>
</plist>
