<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster170_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,372},{116,136}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,114},{116,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,134},{122,136}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,114},{122,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{106,142}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,108},{106,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,492},{112,136}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,114},{112,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,604},{126,130}}</string>
                <key>offset</key>
                <string>{-18,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,120},{126,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{144,130}}</string>
                <key>offset</key>
                <string>{-28,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,120},{144,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,130}}</string>
                <key>offset</key>
                <string>{-28,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,120},{146,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,130}}</string>
                <key>offset</key>
                <string>{-31,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,120},{150,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,490},{112,136}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,114},{112,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{110,128}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,122},{110,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,606},{110,128}}</string>
                <key>offset</key>
                <string>{28,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,122},{110,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{116,136}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,114},{116,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{114,136}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,114},{114,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{114,134}}</string>
                <key>offset</key>
                <string>{-3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,115},{114,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,376},{114,136}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,113},{114,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,258},{116,136}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,113},{116,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,134},{118,136}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,113},{118,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{118,136}}</string>
                <key>offset</key>
                <string>{-5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,113},{118,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster170_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,254},{116,136}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,114},{116,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster170.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d079309ae072b33572f02d33aac524a:1/1$</string>
            <key>textureFileName</key>
            <string>monster170.png</string>
        </dict>
    </dict>
</plist>
