<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster133_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,387},{98,98}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,383},{98,92}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,156},{98,92}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,301},{98,84}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,165},{98,84}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,299},{96,82}}</string>
                <key>offset</key>
                <string>{2,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,167},{96,82}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{126,136}}</string>
                <key>offset</key>
                <string>{-14,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,112},{126,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,142}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,105},{134,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{124,132}}</string>
                <key>offset</key>
                <string>{-10,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,115},{124,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,283},{102,100}}</string>
                <key>offset</key>
                <string>{5,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,147},{102,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,201},{98,98}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,417},{94,86}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,160},{94,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{94,86}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,160},{94,86}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,101},{98,98}}</string>
                <key>offset</key>
                <string>{2,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,101},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,201},{98,96}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,152},{98,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,387},{100,96}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,152},{100,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster133_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,145},{98,98}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,150},{98,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster133.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1675f561cf2c61e5a44fb54f944ba9:1/1$</string>
            <key>textureFileName</key>
            <string>monster133.png</string>
        </dict>
    </dict>
</plist>
