<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster153_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,760},{138,158}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,376},{136,150}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,100},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,162},{134,146}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,104},{134,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,536},{150,150}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,100},{150,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,218}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{160,218}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{170,216}}</string>
                <key>offset</key>
                <string>{-30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{170,216}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,212}}</string>
                <key>offset</key>
                <string>{-24,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{160,212}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{154,200}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{154,200}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{138,158}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,804},{136,160}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{136,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{136,160}}</string>
                <key>offset</key>
                <string>{20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,90},{136,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,216},{138,158}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,376},{138,158}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,802},{140,158}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,92},{140,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,440},{140,158}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,91},{140,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,642},{142,158}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,91},{142,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{140,160}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,216},{138,158}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster153_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,600},{138,158}}</string>
                <key>offset</key>
                <string>{-5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster153.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:522e509e1d7b90322eedd51650b91176:1/1$</string>
            <key>textureFileName</key>
            <string>monster153.png</string>
        </dict>
    </dict>
</plist>
