<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster251_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,310},{94,104}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,144},{94,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,416},{94,102}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,147},{94,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,416},{94,94}}</string>
                <key>offset</key>
                <string>{-6,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,155},{94,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{102,118}}</string>
                <key>offset</key>
                <string>{24,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,130},{102,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{100,112}}</string>
                <key>offset</key>
                <string>{26,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,135},{100,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{146,130}}</string>
                <key>offset</key>
                <string>{-28,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,119},{146,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,118}}</string>
                <key>offset</key>
                <string>{-26,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,131},{150,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{146,98}}</string>
                <key>offset</key>
                <string>{-24,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,151},{146,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,310},{94,104}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,144},{94,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,134},{116,108}}</string>
                <key>offset</key>
                <string>{32,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{116,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,106},{116,108}}</string>
                <key>offset</key>
                <string>{32,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{116,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,310},{94,104}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,144},{94,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,310},{92,104}}</string>
                <key>offset</key>
                <string>{3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,144},{92,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,216},{92,106}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,142},{92,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,216},{92,106}}</string>
                <key>offset</key>
                <string>{3,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,142},{92,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,324},{94,106}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,142},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{96,106}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,142},{96,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,310},{96,104}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,144},{96,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster251_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,416},{94,104}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,144},{94,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster251.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff79feef0f26ee567c68cc241bd84593:1/1$</string>
            <key>textureFileName</key>
            <string>monster251.png</string>
        </dict>
    </dict>
</plist>
