<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster176_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,744},{98,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,844},{98,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,145},{98,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{98,102}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,147},{98,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{102,104}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,145},{102,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,120}}</string>
                <key>offset</key>
                <string>{-25,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,129},{142,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{138,118}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,131},{138,118}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,206},{128,112}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,137},{128,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{102,110}}</string>
                <key>offset</key>
                <string>{1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,139},{102,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,744},{98,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,336},{110,104}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,145},{110,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{110,104}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,145},{110,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{98,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,644},{98,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{98,108}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{100,108}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,142},{100,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,442},{100,108}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,142},{100,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,104},{100,108}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,142},{100,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{100,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,141},{100,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster176_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,544},{98,108}}</string>
                <key>offset</key>
                <string>{1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,141},{98,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster176.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42f2c785d3e21c6d8e8de2702c9483ab:1/1$</string>
            <key>textureFileName</key>
            <string>monster176.png</string>
        </dict>
    </dict>
</plist>
