<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster161_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,232},{98,112}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,137},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,348},{82,108}}</string>
                <key>offset</key>
                <string>{-7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,142},{82,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,116},{82,110}}</string>
                <key>offset</key>
                <string>{-8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,140},{82,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{110,124}}</string>
                <key>offset</key>
                <string>{21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,123},{110,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,120},{96,128}}</string>
                <key>offset</key>
                <string>{29,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,119},{96,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,134}}</string>
                <key>offset</key>
                <string>{-31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,116},{126,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{126,122}}</string>
                <key>offset</key>
                <string>{-31,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,128},{126,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,116}}</string>
                <key>offset</key>
                <string>{-29,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,134},{126,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,234},{96,112}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,137},{96,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{110,114}}</string>
                <key>offset</key>
                <string>{26,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,135},{110,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{110,114}}</string>
                <key>offset</key>
                <string>{26,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,135},{110,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,118},{96,112}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,137},{96,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,364},{98,112}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,137},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,346},{98,110}}</string>
                <key>offset</key>
                <string>{0,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,138},{98,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,250},{98,112}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,136},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,376},{98,112}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,136},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,262},{98,112}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,136},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,120},{96,112}}</string>
                <key>offset</key>
                <string>{-2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,136},{96,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster161_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{98,112}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,137},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster161.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a92b7b8d711667a7b4a4ea21e53a47a8:1/1$</string>
            <key>textureFileName</key>
            <string>monster161.png</string>
        </dict>
    </dict>
</plist>
