<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster200_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,548},{138,146}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{138,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,680},{130,138}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,110},{130,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,688},{114,124}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,124},{114,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,438},{108,148}}</string>
                <key>offset</key>
                <string>{35,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,99},{108,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{118,146}}</string>
                <key>offset</key>
                <string>{41,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,101},{118,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,156}}</string>
                <key>offset</key>
                <string>{-39,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,92},{182,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,148}}</string>
                <key>offset</key>
                <string>{-38,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,100},{180,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,152},{180,144}}</string>
                <key>offset</key>
                <string>{-34,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,104},{180,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,548},{138,146}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{138,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,422},{116,148}}</string>
                <key>offset</key>
                <string>{39,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,100},{116,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,304},{116,148}}</string>
                <key>offset</key>
                <string>{39,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,100},{116,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,548},{138,146}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{138,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,540},{138,146}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,101},{138,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{136,148}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,99},{136,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,298},{138,148}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,99},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{140,150}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,97},{140,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{140,148}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,99},{140,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,154},{140,148}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,99},{140,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster200_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{138,146}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,101},{138,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster200.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf303da138263c0a045b9f88a9102505:1/1$</string>
            <key>textureFileName</key>
            <string>monster200.png</string>
        </dict>
    </dict>
</plist>
