<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster130_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,451},{102,112}}</string>
                <key>offset</key>
                <string>{-6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,136},{102,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,523},{104,108}}</string>
                <key>offset</key>
                <string>{-4,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,141},{104,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,209},{116,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,145},{116,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{92,146}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,101},{92,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{94,142}}</string>
                <key>offset</key>
                <string>{23,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,104},{94,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{144,150}}</string>
                <key>offset</key>
                <string>{-38,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,99},{144,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{142,130}}</string>
                <key>offset</key>
                <string>{-36,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,119},{142,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,95},{142,112}}</string>
                <key>offset</key>
                <string>{-34,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,137},{142,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,449},{102,112}}</string>
                <key>offset</key>
                <string>{-6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,136},{102,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,315},{102,116}}</string>
                <key>offset</key>
                <string>{27,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,132},{102,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,241},{102,116}}</string>
                <key>offset</key>
                <string>{27,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,132},{102,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,345},{102,112}}</string>
                <key>offset</key>
                <string>{-6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,136},{102,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,419},{102,114}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,134},{102,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{100,114}}</string>
                <key>offset</key>
                <string>{-4,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,134},{100,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,241},{102,116}}</string>
                <key>offset</key>
                <string>{-5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,132},{102,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{104,116}}</string>
                <key>offset</key>
                <string>{-6,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{104,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,133},{106,116}}</string>
                <key>offset</key>
                <string>{-7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,132},{106,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{106,114}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,134},{106,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster130_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,345},{104,114}}</string>
                <key>offset</key>
                <string>{-7,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,134},{104,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster130.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab6224de6ac5d4ff79bb610f190f2bad:1/1$</string>
            <key>textureFileName</key>
            <string>monster130.png</string>
        </dict>
    </dict>
</plist>
