<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster126_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,753},{224,246}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,91},{224,246}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1},{224,246}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,91},{224,246}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,503},{226,248}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{226,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1},{228,248}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,253},{228,248}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{230,250}}</string>
                <key>offset</key>
                <string>{-17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{230,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{232,250}}</string>
                <key>offset</key>
                <string>{-18,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,87},{232,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{230,250}}</string>
                <key>offset</key>
                <string>{-17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,87},{230,250}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,757},{228,248}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{228,248}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,89},{228,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,503},{226,248}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{226,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
            <key>monster126_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,251},{224,248}}</string>
                <key>offset</key>
                <string>{-14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,89},{224,248}}</string>
                <key>sourceSize</key>
                <string>{420,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster126.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6e988a2a674056e715d91990380879c:1/1$</string>
            <key>textureFileName</key>
            <string>monster126.png</string>
        </dict>
    </dict>
</plist>
