<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster194_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,776},{170,144}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,104},{170,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,376},{172,144}}</string>
                <key>offset</key>
                <string>{-6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,105},{172,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{190,140}}</string>
                <key>offset</key>
                <string>{-13,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,110},{190,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,220},{140,204}}</string>
                <key>offset</key>
                <string>{22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,40},{140,204}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{150,198}}</string>
                <key>offset</key>
                <string>{27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,45},{150,198}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,216}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{202,216}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{194,204}}</string>
                <key>offset</key>
                <string>{-43,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,45},{194,204}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{208,144}}</string>
                <key>offset</key>
                <string>{-31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,104},{208,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,776},{170,144}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,104},{170,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,636},{150,174}}</string>
                <key>offset</key>
                <string>{51,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,74},{150,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{150,174}}</string>
                <key>offset</key>
                <string>{51,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,74},{150,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,776},{170,144}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,104},{170,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{172,144}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,104},{172,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,202},{172,144}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,103},{172,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,426},{174,146}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,101},{174,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,602},{172,148}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,99},{172,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,812},{172,148}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,99},{172,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,176},{170,148}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,99},{170,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster194_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{170,146}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,101},{170,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster194.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da31ed7c497cafcf890f8d58ca9260a:1/1$</string>
            <key>textureFileName</key>
            <string>monster194.png</string>
        </dict>
    </dict>
</plist>
