<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster010_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,105},{108,102}}</string>
                <key>offset</key>
                <string>{3,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{108,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,313},{102,98}}</string>
                <key>offset</key>
                <string>{5,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,151},{102,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,209},{96,94}}</string>
                <key>offset</key>
                <string>{6,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,155},{96,94}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,307},{88,90}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,159},{88,90}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{120,102}}</string>
                <key>offset</key>
                <string>{-16,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,147},{120,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{134,126}}</string>
                <key>offset</key>
                <string>{-23,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,123},{134,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{138,122}}</string>
                <key>offset</key>
                <string>{-24,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,127},{138,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{120,120}}</string>
                <key>offset</key>
                <string>{-7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,129},{120,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,209},{102,102}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,147},{102,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,105},{102,112}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,137},{102,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{102,112}}</string>
                <key>offset</key>
                <string>{9,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,137},{102,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,209},{102,102}}</string>
                <key>offset</key>
                <string>{1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,147},{102,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,353},{104,102}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,146},{104,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,247},{104,102}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,146},{104,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{104,102}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,146},{104,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,337},{102,102}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,146},{102,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{104,102}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,146},{104,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,233},{102,102}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,146},{102,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster010_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,129},{104,102}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,146},{104,102}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster010.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ce22563734d6dd66d1723da00b542a0:1/1$</string>
            <key>textureFileName</key>
            <string>monster010.png</string>
        </dict>
    </dict>
</plist>
