<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster229_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{98,112}}</string>
                <key>offset</key>
                <string>{24,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,138},{98,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,900},{104,108}}</string>
                <key>offset</key>
                <string>{31,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,142},{104,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,226},{128,122}}</string>
                <key>offset</key>
                <string>{-23,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,128},{128,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{128,122}}</string>
                <key>offset</key>
                <string>{-22,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,128},{128,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{118,122}}</string>
                <key>offset</key>
                <string>{-17,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,128},{118,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,546},{96,122}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,128},{96,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,452},{92,124}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,126},{92,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,356},{94,124}}</string>
                <key>offset</key>
                <string>{-7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{94,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{108,126}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{130,108}}</string>
                <key>offset</key>
                <string>{14,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,142},{130,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,108}}</string>
                <key>offset</key>
                <string>{14,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,142},{130,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{108,126}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{108,126}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,772},{108,126}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{110,126}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{110,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{110,126}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{110,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{110,126}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{110,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{108,126}}</string>
                <key>offset</key>
                <string>{-2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster229_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,644},{108,126}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,124},{108,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster229.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a231ecdac516569a98787bc0c4be0d:1/1$</string>
            <key>textureFileName</key>
            <string>monster229.png</string>
        </dict>
    </dict>
</plist>
