<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster182_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,422},{148,158}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,91},{148,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,466},{154,152}}</string>
                <key>offset</key>
                <string>{-12,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,97},{154,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,188},{164,148}}</string>
                <key>offset</key>
                <string>{-13,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,102},{164,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{118,202}}</string>
                <key>offset</key>
                <string>{17,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,44},{118,202}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{132,208}}</string>
                <key>offset</key>
                <string>{29,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,39},{132,208}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{208,184}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,65},{208,184}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,158}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,92},{212,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{202,150}}</string>
                <key>offset</key>
                <string>{-26,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,99},{202,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,304},{148,158}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,91},{148,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,122},{140,170}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,79},{140,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{140,170}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,79},{140,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,422},{148,158}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,91},{148,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,338},{150,158}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,91},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,264},{156,158}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,91},{156,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{160,158}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{160,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,154},{164,158}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,90},{164,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,144},{158,158}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,90},{158,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,314},{150,158}}</string>
                <key>offset</key>
                <string>{-10,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,91},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster182_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{148,158}}</string>
                <key>offset</key>
                <string>{-11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,91},{148,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster182.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d129d04335af30c379982c894f3a02b:1/1$</string>
            <key>textureFileName</key>
            <string>monster182.png</string>
        </dict>
    </dict>
</plist>
