<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster151_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,589},{110,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{110,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,499},{106,128}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,121},{106,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,693},{106,126}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{106,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{100,154}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,92},{100,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,137},{112,156}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,90},{112,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{158,160}}</string>
                <key>offset</key>
                <string>{-35,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,90},{158,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{168,136}}</string>
                <key>offset</key>
                <string>{-31,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,113},{168,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{168,134}}</string>
                <key>offset</key>
                <string>{-29,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,115},{168,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,499},{110,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{110,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,161},{112,142}}</string>
                <key>offset</key>
                <string>{39,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{112,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{112,142}}</string>
                <key>offset</key>
                <string>{39,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,106},{112,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,581},{110,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{110,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,477},{110,132}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{110,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,387},{110,132}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,116},{110,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,355},{112,134}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,114},{112,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,251},{112,134}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{112,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{110,134}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,114},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,365},{110,134}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,114},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster151_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,275},{110,134}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,114},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster151.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae85b0f74ab7e585a4464fd5149a1af:1/1$</string>
            <key>textureFileName</key>
            <string>monster151.png</string>
        </dict>
    </dict>
</plist>
