<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster220_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,410},{100,122}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,248},{100,124}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,124},{100,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,110},{94,130}}</string>
                <key>offset</key>
                <string>{27,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,117},{94,130}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{118,124}}</string>
                <key>offset</key>
                <string>{39,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,123},{118,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,132}}</string>
                <key>offset</key>
                <string>{-48,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,117},{148,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,124}}</string>
                <key>offset</key>
                <string>{-48,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,125},{148,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,106}}</string>
                <key>offset</key>
                <string>{-47,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,143},{146,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,206},{102,116}}</string>
                <key>offset</key>
                <string>{-13,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,133},{102,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,324},{100,122}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,426},{108,120}}</string>
                <key>offset</key>
                <string>{34,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,128},{108,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{108,120}}</string>
                <key>offset</key>
                <string>{34,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,128},{108,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{100,122}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,350},{100,122}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,452},{98,122}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,126},{98,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,308},{100,122}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,206},{100,124}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,124},{100,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{100,124}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,124},{100,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{102,124}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,124},{102,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster220_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{100,122}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,126},{100,122}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster220.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df7f171337982e57f43abd80eb22ff1b:1/1$</string>
            <key>textureFileName</key>
            <string>monster220.png</string>
        </dict>
    </dict>
</plist>
