<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster116_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,294},{92,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{92,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,388},{94,100}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,149},{94,100}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,388},{96,96}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,153},{96,96}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{88,114}}</string>
                <key>offset</key>
                <string>{10,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,135},{88,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{82,120}}</string>
                <key>offset</key>
                <string>{21,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,129},{82,120}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,86},{82,114}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,135},{82,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,104}}</string>
                <key>offset</key>
                <string>{-19,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,145},{120,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,98}}</string>
                <key>offset</key>
                <string>{-17,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,151},{120,98}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,266},{92,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{92,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{84,104}}</string>
                <key>offset</key>
                <string>{25,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,145},{84,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{84,104}}</string>
                <key>offset</key>
                <string>{25,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,145},{84,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,266},{92,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{92,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,188},{92,104}}</string>
                <key>offset</key>
                <string>{1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,145},{92,104}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,198},{94,106}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,170},{94,106}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,143},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,92},{94,106}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,143},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{94,106}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,143},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,102},{94,106}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{94,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster116_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{92,106}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,143},{92,106}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster116.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee5be439437627dd8d2a5d7e75bc2e95:1/1$</string>
            <key>textureFileName</key>
            <string>monster116.png</string>
        </dict>
    </dict>
</plist>
