<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster187_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{128,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{122,138}}</string>
                <key>offset</key>
                <string>{-8,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,112},{122,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,154}}</string>
                <key>offset</key>
                <string>{35,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,96},{122,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{118,154}}</string>
                <key>offset</key>
                <string>{33,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,96},{118,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,122},{150,148}}</string>
                <key>offset</key>
                <string>{-35,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,102},{150,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{150,148}}</string>
                <key>offset</key>
                <string>{-36,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,102},{150,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,148}}</string>
                <key>offset</key>
                <string>{-36,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,102},{148,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{130,146}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,104},{130,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{128,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,272},{148,140}}</string>
                <key>offset</key>
                <string>{40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{148,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,152},{148,140}}</string>
                <key>offset</key>
                <string>{40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{148,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{128,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,554},{128,132}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,117},{128,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,544},{128,134}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,424},{128,134}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,115},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{128,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,414},{128,134}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,294},{128,134}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,116},{128,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster187_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,792},{128,132}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,118},{128,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster187.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82acb98e66823df257eeb13232e10747:1/1$</string>
            <key>textureFileName</key>
            <string>monster187.png</string>
        </dict>
    </dict>
</plist>
