<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster122_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,580},{106,134}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{104,134}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,114},{104,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,676},{102,134}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,114},{102,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{118,134}}</string>
                <key>offset</key>
                <string>{14,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,113},{118,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{108,142}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,105},{108,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{152,140}}</string>
                <key>offset</key>
                <string>{-39,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,107},{152,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{168,138}}</string>
                <key>offset</key>
                <string>{-37,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,110},{168,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,134}}</string>
                <key>offset</key>
                <string>{-27,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,114},{180,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,568},{106,134}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,142},{114,142}}</string>
                <key>offset</key>
                <string>{18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{114,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{114,142}}</string>
                <key>offset</key>
                <string>{18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{114,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{106,134}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,472},{106,134}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,115},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,460},{106,134}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,114},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,364},{106,134}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,114},{106,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,258},{104,136}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,112},{104,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,250},{104,136}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,112},{104,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,356},{102,136}}</string>
                <key>offset</key>
                <string>{0,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,112},{102,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster122_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{104,136}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,113},{104,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster122.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0a69fa7f21ff6e989adb87ef186510b:1/1$</string>
            <key>textureFileName</key>
            <string>monster122.png</string>
        </dict>
    </dict>
</plist>
