<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster156_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{94,112}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,292},{90,110}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,139},{90,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{86,110}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,140},{86,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,110}}</string>
                <key>offset</key>
                <string>{15,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,139},{84,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{94,114}}</string>
                <key>offset</key>
                <string>{20,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,135},{94,114}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{94,116}}</string>
                <key>offset</key>
                <string>{11,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,133},{94,116}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,110}}</string>
                <key>offset</key>
                <string>{-13,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,139},{118,110}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{112,112}}</string>
                <key>offset</key>
                <string>{-13,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,137},{112,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,196},{94,112}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,384},{90,108}}</string>
                <key>offset</key>
                <string>{20,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,141},{90,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,396},{90,108}}</string>
                <key>offset</key>
                <string>{20,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,141},{90,108}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,196},{94,112}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,194},{94,112}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{96,112}}</string>
                <key>offset</key>
                <string>{-5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,137},{96,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,98},{96,112}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{96,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,116},{94,112}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,290},{92,112}}</string>
                <key>offset</key>
                <string>{-3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{92,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,212},{92,112}}</string>
                <key>offset</key>
                <string>{-3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,137},{92,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster156_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{94,112}}</string>
                <key>offset</key>
                <string>{-4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{94,112}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster156.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7023bde9246164ea2bf5b2ca2f80af:1/1$</string>
            <key>textureFileName</key>
            <string>monster156.png</string>
        </dict>
    </dict>
</plist>
