<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster173_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,482},{110,134}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,130},{114,138}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,111},{114,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,120},{116,140}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,109},{116,140}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{116,142}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,107},{116,142}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{128,124}}</string>
                <key>offset</key>
                <string>{-11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,124},{128,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,588},{132,124}}</string>
                <key>offset</key>
                <string>{-13,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,124},{132,124}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,126}}</string>
                <key>offset</key>
                <string>{-19,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,122},{144,126}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,132}}</string>
                <key>offset</key>
                <string>{-19,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,117},{148,132}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,482},{110,134}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,352},{136,128}}</string>
                <key>offset</key>
                <string>{17,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,121},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{136,128}}</string>
                <key>offset</key>
                <string>{17,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,121},{136,128}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,482},{110,134}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,115},{110,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{110,136}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,113},{110,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,246},{110,138}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,112},{110,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,238},{112,138}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,112},{112,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{112,138}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,112},{112,138}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,358},{112,136}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,114},{112,136}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,472},{114,134}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,115},{114,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster173_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{112,134}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,115},{112,134}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster173.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d6e13b387ffbf9a0cbaad3ed292d63f:1/1$</string>
            <key>textureFileName</key>
            <string>monster173.png</string>
        </dict>
    </dict>
</plist>
