<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_000_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,314}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{246,314}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{238,192}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,141},{238,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1},{248,186}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,150},{248,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,275},{260,194}}</string>
                <key>offset</key>
                <string>{8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,145},{260,194}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{272,202}}</string>
                <key>offset</key>
                <string>{10,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,140},{272,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,317},{272,208}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,136},{272,208}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{276,214}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,131},{276,214}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,591},{270,218}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,128},{270,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,595},{274,220}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,126},{274,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,195},{234,220}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,123},{234,220}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,417},{228,162}}</string>
                <key>offset</key>
                <string>{7,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,148},{228,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>effect_000_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,871},{128,74}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,198},{128,74}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_000.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad5bcb5e5ff2872c03bc50ac8336c73e:1/1$</string>
            <key>textureFileName</key>
            <string>effect_000.png</string>
        </dict>
    </dict>
</plist>
