<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_death_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,393},{112,108}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,144},{112,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,377},{120,132}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,125},{120,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{140,174}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,87},{140,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{170,194}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{170,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{162,194}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{162,194}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,197},{178,154}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,95},{178,154}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>monster_death_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,393},{102,188}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,60},{102,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_death.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e1afe528c686b2c2e42d9fba65acba:1/1$</string>
            <key>textureFileName</key>
            <string>monster_death.png</string>
        </dict>
    </dict>
</plist>
