<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_death2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,459},{88,76}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,85},{88,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,639},{158,146}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,52},{158,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,459},{194,178}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{194,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{206,194}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{206,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{220,206}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{220,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,237},{236,220}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{236,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{248,234}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{248,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>monster_death2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,244}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{250,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_death2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453dcee95922af1513f8ec14d5e84967:1/1$</string>
            <key>textureFileName</key>
            <string>monster_death2.png</string>
        </dict>
    </dict>
</plist>
