{sub_dirs, ["rel"]}.  

{pre_hooks, [{clean, "rm -f ./src/*flymake*"}]}.

{xref_warnings, true}.

%% xref checks to run
{xref_checks, [exports_not_used, undefined_function_calls]}.

{plugin_dir, ["deps/boss_db/priv/rebar"]}.
{plugins, [boss_db_rebar]}.
{boss_db_opts, [{model_root, "src/model"}]}.

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "test/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-name 1@127.0.0.1 -setcookie efg -pz ../deps/erlsom/ebin -pz ../deps/boss_db/ebin -pz ../deps/boss_db/deps/poolboy/ebin -pz ../deps/boss_db/deps/mysql/ebin -pz ../deps/boss_db/deps/tiny_pq/ebin -pz ../deps/boss_db/deps/uuid/ebin -pz ../boss_db/deps/protobuffs/ebin -pz ../boss_db/deps/meck/ebin -pz ../boss_db/deps/jsx/ebin -pz ../boss_db/deps/gen_server2/ebin -pz ../boss_db/deps/aleppo/ebin -pz ../deps/boss_db/deps/ets_cache/ebin -pz ../deps/boss_db/deps/erlydtl/ebin ../deps/boss_db/deps/redo/ebin -boot start_sasl -config elog -s inets -eval 'application:start(game)'"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.