<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>points_backgroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,791}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,791}}</string>
                <key>sourceSize</key>
                <string>{720,791}</string>
            </dict>
            <key>points_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,872},{75,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,29}}</string>
                <key>sourceSize</key>
                <string>{75,29}</string>
            </dict>
            <key>points_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,794},{139,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,59}}</string>
                <key>sourceSize</key>
                <string>{139,59}</string>
            </dict>
            <key>points_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,794},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>points_tuita.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,935},{79,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,37}}</string>
                <key>sourceSize</key>
                <string>{79,37}</string>
            </dict>
            <key>points_zhuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,935},{79,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,37}}</string>
                <key>sourceSize</key>
                <string>{79,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dup_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5756d84a109efbc61258037cac582fe9:1/1$</string>
            <key>textureFileName</key>
            <string>dup_ui.png</string>
        </dict>
    </dict>
</plist>
