<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightOver_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,526},{362,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,273}}</string>
                <key>sourceSize</key>
                <string>{362,273}</string>
            </dict>
            <key>fightOver_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,264},{471,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,260}}</string>
                <key>sourceSize</key>
                <string>{471,260}</string>
            </dict>
            <key>fightOver_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,260},{480,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,257}}</string>
                <key>sourceSize</key>
                <string>{480,257}</string>
            </dict>
            <key>fightlose_btn_qianghua.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,890},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fightlose_btn_skillup.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,890},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fightlose_btn_xiangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,890},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>fightlose_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,261}}</string>
                <key>sourceSize</key>
                <string>{480,261}</string>
            </dict>
            <key>fightreward_item_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,731},{106,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fightreward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,526},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>pushtower_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{480,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,257}}</string>
                <key>sourceSize</key>
                <string>{480,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fightOver.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48559fa7377562df66b5b51d7fc7814:1/1$</string>
            <key>textureFileName</key>
            <string>fightOver.png</string>
        </dict>
    </dict>
</plist>
