<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friends_Modify_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,26},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>friends_Modify_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,127},{429,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,223}}</string>
                <key>sourceSize</key>
                <string>{429,223}</string>
            </dict>
            <key>friends_Modify_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{351,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,78}}</string>
                <key>sourceSize</key>
                <string>{351,78}</string>
            </dict>
            <key>friends_Modify_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{519,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,606}}</string>
                <key>sourceSize</key>
                <string>{519,606}</string>
            </dict>
            <key>friends_Modify_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,2},{443,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,123}}</string>
                <key>sourceSize</key>
                <string>{443,123}</string>
            </dict>
            <key>friends_Modify_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,610},{200,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,34}}</string>
                <key>sourceSize</key>
                <string>{200,34}</string>
            </dict>
            <key>friends_Modify_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,823},{122,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,36}}</string>
                <key>sourceSize</key>
                <string>{122,36}</string>
            </dict>
            <key>friends_Modify_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,610},{187,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,36}}</string>
                <key>sourceSize</key>
                <string>{187,36}</string>
            </dict>
            <key>friends_Modify_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,610},{350,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,56}}</string>
                <key>sourceSize</key>
                <string>{350,56}</string>
            </dict>
            <key>friends_Modify_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,483},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>friends_Modify_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,610},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>friends_Modify_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,109},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>friends_Modify_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,67},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>friends_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,823},{111,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,58}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>friends_add_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,151},{68,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,165}}</string>
                <key>sourceSize</key>
                <string>{68,165}</string>
            </dict>
            <key>friends_addlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,959},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,63}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>friends_addlight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,610},{76,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,165}}</string>
                <key>sourceSize</key>
                <string>{76,165}</string>
            </dict>
            <key>friends_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,812},{143,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,55}}</string>
                <key>sourceSize</key>
                <string>{143,55}</string>
            </dict>
            <key>friends_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{111,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,58}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>friends_listfriend_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,777},{75,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,165}}</string>
                <key>sourceSize</key>
                <string>{75,165}</string>
            </dict>
            <key>friends_listfriend_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,318},{68,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,163}}</string>
                <key>sourceSize</key>
                <string>{68,163}</string>
            </dict>
            <key>friends_listlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,823},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,63}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>friends_text_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,936},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>friends_text_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,936},{55,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,22}}</string>
                <key>sourceSize</key>
                <string>{55,22}</string>
            </dict>
            <key>friends_text_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{54,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,22}}</string>
                <key>sourceSize</key>
                <string>{54,22}</string>
            </dict>
            <key>friends_text_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,823},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
            <key>friends_text_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,944},{76,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,37}}</string>
                <key>sourceSize</key>
                <string>{76,37}</string>
            </dict>
            <key>friends_text_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,799},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>friends_text_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,610},{211,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,60}}</string>
                <key>sourceSize</key>
                <string>{211,60}</string>
            </dict>
            <key>friends_text_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,610},{211,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,60}}</string>
                <key>sourceSize</key>
                <string>{211,60}</string>
            </dict>
            <key>friends_text_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,610},{211,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,60}}</string>
                <key>sourceSize</key>
                <string>{211,60}</string>
            </dict>
            <key>friends_text_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,962},{211,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,60}}</string>
                <key>sourceSize</key>
                <string>{211,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friends.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8e1ee2e65fc410a1483dae42635df90:1/1$</string>
            <key>textureFileName</key>
            <string>friends.png</string>
        </dict>
    </dict>
</plist>
