<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuben1_backgroud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{720,807}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,807}}</string>
                <key>sourceSize</key>
                <string>{720,807}</string>
            </dict>
            <key>fuben1_jy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,810},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,92}}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
            <key>fuben1_pt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,810},{166,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,140}}</string>
                <key>sourceSize</key>
                <string>{166,140}</string>
            </dict>
            <key>fuben1_pt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,810},{176,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,143}}</string>
                <key>sourceSize</key>
                <string>{176,143}</string>
            </dict>
            <key>fuben1_pt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,810},{166,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,147}}</string>
                <key>sourceSize</key>
                <string>{166,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuben1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1ec70571ed02be6e375c4022876ff2:1/1$</string>
            <key>textureFileName</key>
            <string>fuben1.png</string>
        </dict>
    </dict>
</plist>
