<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blackframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,578},{362,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,51}}</string>
                <key>sourceSize</key>
                <string>{362,51}</string>
            </dict>
            <key>blackframe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,315},{193,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,51}}</string>
                <key>sourceSize</key>
                <string>{193,51}</string>
            </dict>
            <key>blackframe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,407},{470,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,51}}</string>
                <key>sourceSize</key>
                <string>{470,51}</string>
            </dict>
            <key>blackframe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,522},{241,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,51}}</string>
                <key>sourceSize</key>
                <string>{241,51}</string>
            </dict>
            <key>blackframe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,50},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,41}}</string>
                <key>sourceSize</key>
                <string>{189,41}</string>
            </dict>
            <key>btn_add_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,926},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>btn_close_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,522},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>btn_guanbi_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,641},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_pause_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,575},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>button_long_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,195},{178,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,58}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>combaticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,888},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>combaticon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,619},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>commonlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,578},{450,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,260}}</string>
                <key>sourceSize</key>
                <string>{450,260}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,864},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>flag_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,464},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>flag_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,791},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>friends_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,840},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,46}}</string>
                <key>sourceSize</key>
                <string>{119,46}</string>
            </dict>
            <key>friends_downlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,840},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,46}}</string>
                <key>sourceSize</key>
                <string>{119,46}</string>
            </dict>
            <key>friends_lookforbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,56},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>friends_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,488},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>friends_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,438},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>friends_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,840},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,46}}</string>
                <key>sourceSize</key>
                <string>{119,46}</string>
            </dict>
            <key>friends_uplight.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,840},{119,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,46}}</string>
                <key>sourceSize</key>
                <string>{119,46}</string>
            </dict>
            <key>fsicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,396},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>fuben_leftright.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,791},{47,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,64}}</string>
                <key>sourceSize</key>
                <string>{47,64}</string>
            </dict>
            <key>gemicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,241},{41,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{41,33}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>gemx.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,707},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>goldicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,91},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>itemicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,464},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>lockicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,683},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>public_Ball_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,888},{132,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>public_Ball_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,888},{130,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,131}}</string>
                <key>sourceSize</key>
                <string>{130,131}</string>
            </dict>
            <key>public_Ball_Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,888},{128,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,131}}</string>
                <key>sourceSize</key>
                <string>{128,131}</string>
            </dict>
            <key>public_Ball_Purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,888},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>public_Ball_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,97},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>public_Ball_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,888},{137,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,131}}</string>
                <key>sourceSize</key>
                <string>{137,131}</string>
            </dict>
            <key>public_Box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,879},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>public_Box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{104,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,46}}</string>
                <key>sourceSize</key>
                <string>{104,46}</string>
            </dict>
            <key>public_Box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,81},{232,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,69}}</string>
                <key>sourceSize</key>
                <string>{232,69}</string>
            </dict>
            <key>public_Box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,276},{118,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,40}}</string>
                <key>sourceSize</key>
                <string>{118,40}</string>
            </dict>
            <key>public_Box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,50},{189,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,41}}</string>
                <key>sourceSize</key>
                <string>{189,41}</string>
            </dict>
            <key>public_Box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{148,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,52}}</string>
                <key>sourceSize</key>
                <string>{148,52}</string>
            </dict>
            <key>public_Box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,56},{85,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,33}}</string>
                <key>sourceSize</key>
                <string>{85,33}</string>
            </dict>
            <key>public_Decoration_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,578},{284,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,60}}</string>
                <key>sourceSize</key>
                <string>{284,60}</string>
            </dict>
            <key>public_Decoration_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,257},{138,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,88}}</string>
                <key>sourceSize</key>
                <string>{138,88}</string>
            </dict>
            <key>public_friend_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,195},{143,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,60}}</string>
                <key>sourceSize</key>
                <string>{143,60}</string>
            </dict>
            <key>public_friend_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{444,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,106}}</string>
                <key>sourceSize</key>
                <string>{444,106}</string>
            </dict>
            <key>public_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,478},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>public_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{96,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,93}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>public_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,791},{46,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,99}}</string>
                <key>sourceSize</key>
                <string>{46,99}</string>
            </dict>
            <key>public_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,575},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>public_lv_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,478},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>public_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,840},{46,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,99}}</string>
                <key>sourceSize</key>
                <string>{46,99}</string>
            </dict>
            <key>public_verb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,578},{308,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,73}}</string>
                <key>sourceSize</key>
                <string>{308,73}</string>
            </dict>
            <key>public_verb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,407},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>public_verb_3h.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,375},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,63}}</string>
                <key>sourceSize</key>
                <string>{111,63}</string>
            </dict>
            <key>public_verb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,133},{209,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,60}}</string>
                <key>sourceSize</key>
                <string>{209,60}</string>
            </dict>
            <key>rmbicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,91},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>scroll_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,864},{45,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,18}}</string>
                <key>sourceSize</key>
                <string>{45,18}</string>
            </dict>
            <key>scroll_bar_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,909},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>shortbutton_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,438},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,58}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>shortbutton_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,438},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,58}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,942},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sureback.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,347},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,58}}</string>
                <key>sourceSize</key>
                <string>{140,60}</string>
            </dict>
            <key>tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,50},{81,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,61}}</string>
                <key>sourceSize</key>
                <string>{81,61}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,888},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ui_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,574}}</string>
                <key>sourceSize</key>
                <string>{450,574}</string>
            </dict>
            <key>uibag_bg_framer.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,575},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,888},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8feafc9dec9c74a4a93c9ce166195bf2:1/1$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
