<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friends_bigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1591},{579,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{579,172}}</string>
                <key>sourceSize</key>
                <string>{579,172}</string>
            </dict>
            <key>friends_chatback.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{674,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,726}}</string>
                <key>sourceSize</key>
                <string>{674,726}</string>
            </dict>
            <key>friends_foreground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1117},{556,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,125}}</string>
                <key>sourceSize</key>
                <string>{556,125}</string>
            </dict>
            <key>friends_infoforegroundlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1881},{557,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,126}}</string>
                <key>sourceSize</key>
                <string>{557,126}</string>
            </dict>
            <key>friends_inputback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,2},{582,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,125}}</string>
                <key>sourceSize</key>
                <string>{582,125}</string>
            </dict>
            <key>friends_msgback.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1117},{585,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{585,442}}</string>
                <key>sourceSize</key>
                <string>{585,442}</string>
            </dict>
            <key>friends_msgback_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1329},{450,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,260}}</string>
                <key>sourceSize</key>
                <string>{450,260}</string>
            </dict>
            <key>public2_Backpack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,730},{666,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,385}}</string>
                <key>sourceSize</key>
                <string>{666,385}</string>
            </dict>
            <key>public2_Decoration_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,807}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,807}}</string>
                <key>sourceSize</key>
                <string>{720,807}</string>
            </dict>
            <key>public2_Decoration_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1539},{637,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,453}}</string>
                <key>sourceSize</key>
                <string>{637,453}</string>
            </dict>
            <key>public2_Decoration_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{674,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,726}}</string>
                <key>sourceSize</key>
                <string>{674,726}</string>
            </dict>
            <key>public2_Decoration_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1765},{580,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,114}}</string>
                <key>sourceSize</key>
                <string>{580,114}</string>
            </dict>
            <key>public2_Rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,881},{446,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,504}}</string>
                <key>sourceSize</key>
                <string>{446,504}</string>
            </dict>
            <key>public2_Rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1561},{458,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,528}}</string>
                <key>sourceSize</key>
                <string>{458,528}</string>
            </dict>
            <key>public2_Rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{514,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{514,580}}</string>
                <key>sourceSize</key>
                <string>{514,580}</string>
            </dict>
            <key>public2_Roller_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,811},{30,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,212}}</string>
                <key>sourceSize</key>
                <string>{30,212}</string>
            </dict>
            <key>public2_Roller_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{22,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,140}}</string>
                <key>sourceSize</key>
                <string>{22,140}</string>
            </dict>
            <key>public2_Text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,881},{594,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,59}}</string>
                <key>sourceSize</key>
                <string>{594,59}</string>
            </dict>
            <key>uiiteminfo_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,584},{295,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,508}}</string>
                <key>sourceSize</key>
                <string>{295,508}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8eed5c61cd02e8e7de7073c0b56006f:1/1$</string>
            <key>textureFileName</key>
            <string>public2.png</string>
        </dict>
    </dict>
</plist>
