<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>push_tower_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{638,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,502}}</string>
                <key>sourceSize</key>
                <string>{638,502}</string>
            </dict>
            <key>push_tower_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1},{553,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,30}}</string>
                <key>sourceSize</key>
                <string>{553,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>push_tower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c496deb7719e8b607da73d4f519ef1:1/1$</string>
            <key>textureFileName</key>
            <string>push_tower.png</string>
        </dict>
    </dict>
</plist>
