<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rank_adorn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{146,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,183}}</string>
                <key>sourceSize</key>
                <string>{146,183}</string>
            </dict>
            <key>Rank_adorn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,664},{391,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,224}}</string>
                <key>sourceSize</key>
                <string>{391,224}</string>
            </dict>
            <key>Rank_adorn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{464,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,155}}</string>
                <key>sourceSize</key>
                <string>{464,155}</string>
            </dict>
            <key>Rank_adorn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,766},{290,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,305}}</string>
                <key>sourceSize</key>
                <string>{290,305}</string>
            </dict>
            <key>Rank_adorn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,754}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,754}}</string>
                <key>sourceSize</key>
                <string>{660,754}</string>
            </dict>
            <key>Rank_adorn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Rank_adorn_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,36},{657,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,252}}</string>
                <key>sourceSize</key>
                <string>{657,252}</string>
            </dict>
            <key>Rank_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,695},{316,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,69}}</string>
                <key>sourceSize</key>
                <string>{316,69}</string>
            </dict>
            <key>Rank_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,929},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>Rank_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>Rank_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,853},{130,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,110}}</string>
                <key>sourceSize</key>
                <string>{130,110}</string>
            </dict>
            <key>Rank_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{355,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,30}}</string>
                <key>sourceSize</key>
                <string>{355,30}</string>
            </dict>
            <key>Rank_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1041},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Rank_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,965},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Rank_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,821},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rank.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5af3bcfb5ec2c25f7cc53ca43df393:1/1$</string>
            <key>textureFileName</key>
            <string>Rank.png</string>
        </dict>
    </dict>
</plist>
