<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SkillsHome_Modify_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,294},{592,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,45}}</string>
                <key>sourceSize</key>
                <string>{592,45}</string>
            </dict>
            <key>SkillsHome_Modify_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{290,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,79}}</string>
                <key>sourceSize</key>
                <string>{290,79}</string>
            </dict>
            <key>SkillsHome_Modify_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{576,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,175}}</string>
                <key>sourceSize</key>
                <string>{576,175}</string>
            </dict>
            <key>SkillsHome_Modify_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,294},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
            <key>SkillsHome_Modify_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,888},{403,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,109}}</string>
                <key>sourceSize</key>
                <string>{403,109}</string>
            </dict>
            <key>SkillsHome_Package_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1141},{290,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,302}}</string>
                <key>sourceSize</key>
                <string>{290,302}</string>
            </dict>
            <key>SkillsHome_Package_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{670,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,475}}</string>
                <key>sourceSize</key>
                <string>{670,475}</string>
            </dict>
            <key>public2_Decoration_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,580},{574,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,152}}</string>
                <key>sourceSize</key>
                <string>{574,152}</string>
            </dict>
            <key>public2_Decoration_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{660,751}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,751}}</string>
                <key>sourceSize</key>
                <string>{660,751}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SkillsHome.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a3524f1167954c5cc2953449100d13:1/1$</string>
            <key>textureFileName</key>
            <string>SkillsHome.png</string>
        </dict>
    </dict>
</plist>
