<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Task_button_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,280},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>Task_button_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,277},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>Task_button_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,169},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>Task_button_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,172},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>Task_button_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,64},{112,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,106}</string>
            </dict>
            <key>Task_mark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,388},{84,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,107}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>Task_mark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,385},{84,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,107}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>Task_other_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,121}}</string>
                <key>sourceSize</key>
                <string>{373,121}</string>
            </dict>
            <key>Task_other_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{576,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,217}}</string>
                <key>sourceSize</key>
                <string>{576,217}</string>
            </dict>
            <key>Task_other_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,200},{26,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,52}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
            <key>Task_other_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,172},{59,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,25}}</string>
                <key>sourceSize</key>
                <string>{59,25}</string>
            </dict>
            <key>Task_other_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{335,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,42}}</string>
                <key>sourceSize</key>
                <string>{335,42}</string>
            </dict>
            <key>Task_other_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>Task_other_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,125},{73,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,30}}</string>
                <key>sourceSize</key>
                <string>{73,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Task.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc19a95b46ec74f8ab2e293f84d043e7:1/1$</string>
            <key>textureFileName</key>
            <string>Task.png</string>
        </dict>
    </dict>
</plist>
