<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cast_skill_before_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,475},{130,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{130,130}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,521},{96,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,77},{96,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{154,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,46},{154,156}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,409},{108,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{108,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{140,138}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,49},{140,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,243},{232,230}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{232,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{244,240}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{244,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>cast_skill_before_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cast_skill_before.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c98f9ef42e33572597a32b3f75ffba9:1/1$</string>
            <key>textureFileName</key>
            <string>cast_skill_before.png</string>
        </dict>
    </dict>
</plist>
