<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_033_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,858},{146,120}}</string>
                <key>offset</key>
                <string>{22,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,218},{146,120}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,246},{172,188}}</string>
                <key>offset</key>
                <string>{21,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,164},{172,188}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,816},{186,202}}</string>
                <key>offset</key>
                <string>{15,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,148},{186,202}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,810},{200,228}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,118},{200,228}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{198,242}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,105},{198,242}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{196,272}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,77},{196,272}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{196,284}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,64},{196,284}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,578},{194,278}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{194,278}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{180,282}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,65},{180,282}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{176,284}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,60},{176,284}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,288}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,63},{174,288}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,288},{174,278}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{174,278}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,276},{166,272}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{166,272}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{154,262}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,55},{154,262}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,550},{144,258}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,55},{144,258}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
            <key>effect_033_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,550},{116,264}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,40},{116,264}}</string>
                <key>sourceSize</key>
                <string>{300,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_033.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b86af5520aa4a3dea063cae9c93e620:1/1$</string>
            <key>textureFileName</key>
            <string>effect_033.png</string>
        </dict>
    </dict>
</plist>
