<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_221_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{344,212}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,70},{344,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,249},{306,198}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,85},{306,198}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{314,186}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{314,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,559},{302,170}}</string>
                <key>offset</key>
                <string>{26,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,100},{302,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,557},{304,150}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,110},{304,150}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,423},{312,134}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,121},{312,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1},{250,122}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,134},{250,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,125},{226,122}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,127},{226,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,279},{340,142}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,117},{340,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{364,152}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,112},{364,152}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{376,162}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,114},{376,162}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_221_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,155},{350,122}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,127},{350,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_221.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec71bb64a41c3cad30ffbd59bbc69f69:f12dbcc674d586c91c570c8ff699af61:e5f4faa5766475adb8c5a881257c8ca9$</string>
            <key>textureFileName</key>
            <string>effect_221.png</string>
        </dict>
    </dict>
</plist>
