<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_065l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,332}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{60,332}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
            <key>effect_065l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,330}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{64,330}}</string>
                <key>sourceSize</key>
                <string>{100,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_065l.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e455171f503a13b7b507229f63be6a3f:1/1$</string>
            <key>textureFileName</key>
            <string>effect_065l.png</string>
        </dict>
    </dict>
</plist>
