<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_087f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{288,104}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{288,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{298,104}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,47},{298,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{304,104}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{304,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{302,104}}</string>
                <key>offset</key>
                <string>{-20,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{302,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{316,104}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{316,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,531},{286,104}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,47},{286,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,607},{264,104}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,47},{264,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{302,104}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{302,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>effect_087f_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,307},{298,104}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,47},{298,104}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_087f.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61cbddacfbbcb435c933d9e5a0a5e5bf:1/1$</string>
            <key>textureFileName</key>
            <string>effect_087f.png</string>
        </dict>
    </dict>
</plist>
