<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_063d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,693},{244,124}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,248},{244,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1},{246,124}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,248},{246,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,443},{248,126}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,247},{248,126}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,249},{254,128}}</string>
                <key>offset</key>
                <string>{3,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,245},{254,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,429},{258,130}}</string>
                <key>offset</key>
                <string>{3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,244},{258,130}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,299},{262,132}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,244},{262,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,293},{268,134}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,243},{268,134}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,153},{272,138}}</string>
                <key>offset</key>
                <string>{3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,240},{272,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{278,140}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,240},{278,140}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,299},{282,142}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,239},{282,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{286,144}}</string>
                <key>offset</key>
                <string>{3,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,237},{286,144}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,151},{290,146}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,237},{290,146}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1},{294,148}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,236},{294,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,1},{298,150}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,235},{298,150}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_063d_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,150}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,235},{300,150}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_063d.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27634cb13755674c35671d262f7228b5:1/1$</string>
            <key>textureFileName</key>
            <string>effect_063d.png</string>
        </dict>
    </dict>
</plist>
