<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_066u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{228,268}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{228,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{228,268}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{228,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,449},{172,244}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{172,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{182,248}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{182,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,271},{176,248}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{176,248}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{196,244}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{196,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{172,216}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,5},{172,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,787},{174,212}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,8},{174,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_066u_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,787},{162,174}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,19},{162,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_066u.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc5de60ac2d673e3f3f349ae7a694d8:1/1$</string>
            <key>textureFileName</key>
            <string>effect_066u.png</string>
        </dict>
    </dict>
</plist>
