<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_225_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>effect_225_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>effect_225_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
            <key>effect_225_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{220,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,70}}</string>
                <key>sourceSize</key>
                <string>{220,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_225.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:068bbcacea05bd5c704055fb4b2774d6:7675090e69401e91646431f385b2e621:e1b428fb4df8904fb32fbfce5745d2fd$</string>
            <key>textureFileName</key>
            <string>effect_225.png</string>
        </dict>
    </dict>
</plist>
