<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_068d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{1,1}}</string>
                <key>offset</key>
                <string>{-179.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,112},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,108}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,153},{218,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>effect_068d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,332},{216,108}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,153},{216,108}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_068d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d17fb59e26ae0f160e23c4ba330e037:1/1$</string>
            <key>textureFileName</key>
            <string>effect_068d.png</string>
        </dict>
    </dict>
</plist>
