<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_209_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,119},{74,52}}</string>
                <key>offset</key>
                <string>{7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,260},{74,52}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{116,74}}</string>
                <key>offset</key>
                <string>{9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,240},{116,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,697},{154,90}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,224},{154,90}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,925},{164,96}}</string>
                <key>offset</key>
                <string>{4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,218},{164,96}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,925},{166,96}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,216},{166,96}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,595},{168,100}}</string>
                <key>offset</key>
                <string>{2,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,212},{168,100}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,789},{180,108}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,204},{180,108}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,593},{202,128}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,184},{202,128}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{200,178}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,169},{200,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{202,188}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,162},{202,188}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,401},{206,192}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,159},{206,192}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,205},{210,194}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,159},{210,194}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{216,198}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,156},{216,198}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{212,200}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{212,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{212,202}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{212,202}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_209_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,723},{182,94}}</string>
                <key>offset</key>
                <string>{-4,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,264},{182,94}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_209.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f07dffd96332e62d6e53fc4579741f2:7e2db4e5ded4290ab9d4c8199438a3f9:f3f77594d138134067e2a6ccebc5a267$</string>
            <key>textureFileName</key>
            <string>effect_209.png</string>
        </dict>
    </dict>
</plist>
