<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_228_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,104},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,99}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>effect_228_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{241,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,101}}</string>
                <key>sourceSize</key>
                <string>{241,101}</string>
            </dict>
            <key>effect_228_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{239,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,101}}</string>
                <key>sourceSize</key>
                <string>{239,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_228.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:703685f1398724c0a5402e85dda1b737:a61e6cad34f75c15edbe81a9eec01d3a:f50d64af7fbdee947f882c8f211c8f52$</string>
            <key>textureFileName</key>
            <string>effect_228.png</string>
        </dict>
    </dict>
</plist>
