<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_205_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1},{218,228}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{218,228}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,219},{236,236}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,109},{236,236}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{308,238}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,107},{308,238}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,221},{236,236}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{236,236}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1},{218,240}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,105},{218,240}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{216,242}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,103},{216,242}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,231},{210,230}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,101},{210,230}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,443},{162,200}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,100},{162,200}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{160,178}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,122},{160,178}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{158,176}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,124},{158,176}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,607},{158,164}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,136},{158,164}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,773},{154,164}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,136},{154,164}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,773},{154,166}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,134},{154,166}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,713},{150,168}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,132},{150,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,459},{148,168}}</string>
                <key>offset</key>
                <string>{-14,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,132},{148,168}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{146,170}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,130},{146,170}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,457},{148,170}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,130},{148,170}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{148,170}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,130},{148,170}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,241},{128,140}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,149},{128,140}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>effect_205_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,383},{102,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,173},{102,108}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_205.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:884f4f1436ebd1b0468806df27d90adc:a0ec6c06153d614abffe6b1391d7805e:0b1901eca2e6e671363eb0ff05879467$</string>
            <key>textureFileName</key>
            <string>effect_205.png</string>
        </dict>
    </dict>
</plist>
