<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_046u_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,587},{153,146}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,233},{153,146}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,476},{199,158}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,229},{199,158}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,288},{247,218}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,207},{247,218}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{269,234}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,200},{269,234}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{281,246}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,194},{281,246}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{311,260}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,187},{311,260}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,250},{337,270}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,182},{337,270}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{349,284}}</string>
                <key>offset</key>
                <string>{10,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,176},{349,284}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,284}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,176},{373,284}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,288},{211,186}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,194},{211,186}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{229,82}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,233},{229,82}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,288},{163,46}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,230},{163,46}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046u_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,537},{133,48}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,221},{133,48}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_046u.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:230e2f0adb0704ae073094ed651ad5ce:1/1$</string>
            <key>textureFileName</key>
            <string>effect_046u.png</string>
        </dict>
    </dict>
</plist>
