<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_082d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{244,100}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,232},{244,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{246,100}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,232},{246,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{248,100}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,232},{248,100}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{254,102}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,230},{254,102}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,294},{258,104}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,229},{258,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,242},{262,108}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,227},{262,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{268,108}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,228},{268,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,240},{272,110}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,226},{272,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,126},{278,112}}</string>
                <key>offset</key>
                <string>{6,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,226},{278,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{282,116}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,223},{282,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,124},{286,116}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,223},{286,116}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{290,118}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,222},{290,118}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{294,120}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,221},{294,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{298,122}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,220},{298,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,122}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,220},{300,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>effect_082d_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,242},{136,48}}</string>
                <key>offset</key>
                <string>{2,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,256},{136,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_082d.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d12624978cc638013ca3f8d088a03d7:1/1$</string>
            <key>textureFileName</key>
            <string>effect_082d.png</string>
        </dict>
    </dict>
</plist>
