<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_222_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{151,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{151,60}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>effect_222_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>effect_222_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,67},{173,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,62}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>effect_222_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{169,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{169,58}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>effect_222_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1},{149,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{149,56}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_222.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cd383da9f519223f4b5026c8257664f:9f58d063c17583ad87a2609ae3914818:8136a5d9c0e120f4d29e0f7535d43776$</string>
            <key>textureFileName</key>
            <string>effect_222.png</string>
        </dict>
    </dict>
</plist>
