<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_093_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,486},{140,112}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,160},{140,112}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,250},{164,234}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{164,234}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{208,246}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,63},{208,246}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,256},{248,252}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,58},{248,252}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{268,252}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{268,252}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,252}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{270,252}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{268,248}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{268,248}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,252},{262,244}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,68},{262,244}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{250,246}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,67},{250,246}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,498},{250,244}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,70},{250,244}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{254,250}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,64},{254,250}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,506},{248,226}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,78},{248,226}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
            <key>effect_093_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,734},{224,224}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{224,224}}</string>
                <key>sourceSize</key>
                <string>{300,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_093.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea508fe422403b785a308501af392147:1/1$</string>
            <key>textureFileName</key>
            <string>effect_093.png</string>
        </dict>
    </dict>
</plist>
