<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_046d_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{247,144}}</string>
                <key>offset</key>
                <string>{1,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,254},{247,144}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,346},{255,150}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,250},{255,150}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{259,156}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,248},{259,156}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,336},{267,160}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,246},{267,160}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,178},{279,166}}</string>
                <key>offset</key>
                <string>{6,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,243},{279,166}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{287,170}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,241},{287,170}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{293,174}}</string>
                <key>offset</key>
                <string>{6,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,239},{293,174}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,174}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,241},{299,174}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{299,172}}</string>
                <key>offset</key>
                <string>{5,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,242},{299,172}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,176},{289,158}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,250},{289,158}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,193},{271,144}}</string>
                <key>offset</key>
                <string>{3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,255},{271,144}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{189,96}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,279},{189,96}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
            <key>effect_046d_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,466},{185,94}}</string>
                <key>offset</key>
                <string>{-1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,279},{185,94}}</string>
                <key>sourceSize</key>
                <string>{417,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_046d.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11de03a5212e26039fcd848f3adacb20:1/1$</string>
            <key>textureFileName</key>
            <string>effect_046d.png</string>
        </dict>
    </dict>
</plist>
