<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_070_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,175},{176,210}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,90},{176,210}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{174,212}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,81},{174,212}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{172,220}}</string>
                <key>offset</key>
                <string>{5,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{172,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,220}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,67},{180,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,585},{154,220}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,62},{154,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{174,198}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,75},{174,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,353},{174,198}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,65},{174,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,761},{162,198}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,60},{162,198}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{146,202}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,60},{146,202}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,529},{148,230}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,27},{148,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,761},{112,226}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,22},{112,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,807},{88,222}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,22},{88,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,353},{92,230}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,11},{92,230}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>effect_070_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,897},{88,216}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,24},{88,216}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_070.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aff7dcbccb16d36073684e3d127de33:1/1$</string>
            <key>textureFileName</key>
            <string>effect_070.png</string>
        </dict>
    </dict>
</plist>
