<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_072_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,262},{208,252}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{208,252}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,764},{232,258}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,33},{232,258}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,766},{242,254}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{242,254}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{284,250}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{284,250}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{268,262}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{268,262}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{286,258}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,38},{286,258}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{256,252}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,43},{256,252}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{280,258}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{280,258}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,240}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{288,240}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,496},{266,246}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,27},{266,246}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,262},{226,212}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{226,212}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,442},{192,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,84},{192,164}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>effect_072_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,262},{192,178}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,79},{192,178}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_072.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bed274aff9ac16634a0c721c4234d3a:1/1$</string>
            <key>textureFileName</key>
            <string>effect_072.png</string>
        </dict>
    </dict>
</plist>
