<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_118_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,548},{192,176}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,31},{192,176}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{214,184}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{214,184}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,358},{240,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{240,188}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,186}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{256,186}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,180},{250,176}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{250,176}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{250,176}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{250,176}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
            <key>effect_118_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{250,172}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{250,172}}</string>
                <key>sourceSize</key>
                <string>{270,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_118.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:753b8f02fbe902e6ab8b5e6fd51e9e92:1/1$</string>
            <key>textureFileName</key>
            <string>effect_118.png</string>
        </dict>
    </dict>
</plist>
