<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reboundplayer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,195},{90,38}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,102},{90,38}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{182,76}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,64},{182,76}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1},{192,82}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,58},{192,82}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,131},{202,102}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{202,102}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,118}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{212,118}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1},{210,128}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{210,128}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{204,126}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{204,126}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
            <key>reboundplayer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,249},{166,116}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{166,116}}</string>
                <key>sourceSize</key>
                <string>{222,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reboundplayer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46660c36bc8b30628498098d8eca27e4:1/1$</string>
            <key>textureFileName</key>
            <string>reboundplayer.png</string>
        </dict>
    </dict>
</plist>
