<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster004_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,116},{100,92}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{100,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,310},{94,88}}</string>
                <key>offset</key>
                <string>{2,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,134},{94,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,400},{88,86}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,136},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,304},{88,84}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,138},{88,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,92}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,130},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{128,118}}</string>
                <key>offset</key>
                <string>{-25,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,104},{128,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,116}}</string>
                <key>offset</key>
                <string>{-24,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,106},{130,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{114,112}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,402},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,102},{98,104}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{98,104}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,402},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{94,92}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,122},{96,92}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{96,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{94,92}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,216},{94,92}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,210},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,202},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster004_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{94,92}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,130},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster004.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b621b7d44eb1489e9a9839ea65e94de3:1/1$</string>
            <key>textureFileName</key>
            <string>monster004.png</string>
        </dict>
    </dict>
</plist>
