<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster237_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{76,78}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,234},{76,74}}</string>
                <key>offset</key>
                <string>{6,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,147},{76,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{82,72}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,150},{82,72}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,80},{88,80}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,141},{88,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,84}}</string>
                <key>offset</key>
                <string>{-9,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,137},{124,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{116,92}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,129},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{90,84}}</string>
                <key>offset</key>
                <string>{8,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,137},{90,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,248},{76,74}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,147},{76,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,168},{76,78}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{70,80}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,141},{70,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{70,80}}</string>
                <key>offset</key>
                <string>{10,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,141},{70,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,168},{76,78}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,172},{76,76}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,145},{76,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,92},{82,78}}</string>
                <key>offset</key>
                <string>{10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,144},{82,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{88,78}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,144},{88,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{92,76}}</string>
                <key>offset</key>
                <string>{14,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,146},{92,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{92,78}}</string>
                <key>offset</key>
                <string>{15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,144},{92,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,88},{88,78}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,144},{88,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster237_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,170},{78,76}}</string>
                <key>offset</key>
                <string>{8,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,145},{78,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster237.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6fba772d6275fc225f73532d2db60c7:ca4b08f982f7e396e27dd9a96945dfee:48cb45104169d698cf3fb9e608292f0a$</string>
            <key>textureFileName</key>
            <string>monster237.png</string>
        </dict>
    </dict>
</plist>
