<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster159_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,304},{76,94}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,127},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,190},{58,82}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,139},{58,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,292},{72,84}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,137},{72,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{106,96}}</string>
                <key>offset</key>
                <string>{-20,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,125},{106,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{112,96}}</string>
                <key>offset</key>
                <string>{-24,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,125},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{118,96}}</string>
                <key>offset</key>
                <string>{-27,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,125},{118,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{126,96}}</string>
                <key>offset</key>
                <string>{-30,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,125},{126,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,96}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,125},{132,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,400},{76,94}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,127},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,100},{88,88}}</string>
                <key>offset</key>
                <string>{26,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,400},{88,88}}</string>
                <key>offset</key>
                <string>{26,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,400},{76,94}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,127},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,304},{76,94}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,126},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,196},{76,94}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,127},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{78,94}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,126},{78,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,208},{78,94}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,126},{78,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{78,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,125},{78,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{78,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,125},{78,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster159_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{78,94}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,127},{78,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster159.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3ba8920f686c222c66e4da6ba30ffeb:91ce9d05975531bc659bd747ece14836:63a1037cab61ad2ab56d9eea991fe4eb$</string>
            <key>textureFileName</key>
            <string>monster159.png</string>
        </dict>
    </dict>
</plist>
