<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster208_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,131},{128,130}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,91},{128,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,369},{114,128}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,94},{114,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,131},{90,118}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,104},{90,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,251},{90,116}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,106},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{130,128}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,93},{130,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{138,128}}</string>
                <key>offset</key>
                <string>{-26,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,93},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1},{140,128}}</string>
                <key>offset</key>
                <string>{-28,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,92},{140,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,130}}</string>
                <key>offset</key>
                <string>{-23,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,91},{152,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,261},{112,130}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,489},{116,120}}</string>
                <key>offset</key>
                <string>{40,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,101},{116,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,499},{116,120}}</string>
                <key>offset</key>
                <string>{40,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,101},{116,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,371},{112,130}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{112,130}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{114,132}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,89},{114,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,375},{112,130}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,131},{120,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,89},{120,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,253},{116,130}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,91},{116,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,485},{112,130}}</string>
                <key>offset</key>
                <string>{5,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster208_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{112,130}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,91},{112,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster208.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6397ce3a3477f78efdb8020e3baa49a6:e55dcbaa0fbdc4676d00c72e6767b415:fd95433953683e82e8162563ba29d6fb$</string>
            <key>textureFileName</key>
            <string>monster208.png</string>
        </dict>
    </dict>
</plist>
