<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster135_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{84,82}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,193},{82,70}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,152},{82,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,193},{82,70}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,152},{82,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{108,102}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,118},{108,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,110}}</string>
                <key>offset</key>
                <string>{-9,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,110},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{104,106}}</string>
                <key>offset</key>
                <string>{-4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,114},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,105},{88,86}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,135},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{80,78}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,143},{80,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{84,82}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,265},{78,74}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,146},{78,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{78,74}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,146},{78,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{84,82}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1},{84,82}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1},{84,82}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,85},{84,82}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,85},{84,82}}</string>
                <key>offset</key>
                <string>{4,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,107},{84,82}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,169},{84,82}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster135_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,191},{84,82}}</string>
                <key>offset</key>
                <string>{3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster135.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af507b7991c4c93842073eb14d32ae2:269d061c2a64ffc3113a76e917aec570:e8bf104c1ff297b6dc82ae1c448658e3$</string>
            <key>textureFileName</key>
            <string>monster135.png</string>
        </dict>
    </dict>
</plist>
