<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster140_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,269},{76,124}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{76,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{90,126}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,88},{90,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,279},{72,136}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,77},{72,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{80,138}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{80,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{88,138}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,73},{88,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,411},{100,128}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,91},{100,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{106,88}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,133},{106,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,395},{114,120}}</string>
                <key>offset</key>
                <string>{4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,102},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,139},{76,134}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,129},{80,118}}</string>
                <key>offset</key>
                <string>{16,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,96},{80,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,423},{80,126}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,88},{80,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{76,134}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,275},{76,134}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,80},{76,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,141},{76,136}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{76,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{76,136}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,78},{76,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,283},{76,138}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,75},{76,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{78,138}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,75},{78,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,140}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,74},{80,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster140_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,137},{78,130}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,84},{78,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster140.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f279a28794332155c41893e0531b4f55:6a5e885ec6085b8816270705bd1ead99:a33b2cb097121cf05fe6b3ff6f6511de$</string>
            <key>textureFileName</key>
            <string>monster140.png</string>
        </dict>
    </dict>
</plist>
