<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster213_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{100,122}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,99},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,358},{102,124}}</string>
                <key>offset</key>
                <string>{8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,97},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{104,126}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,95},{104,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{106,128}}</string>
                <key>offset</key>
                <string>{10,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,93},{106,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{116,112}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,108},{116,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{120,112}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,108},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{130,114}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,106},{130,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,118}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,103},{134,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{100,122}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,99},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{122,116}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,105},{122,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,240},{122,116}}</string>
                <key>offset</key>
                <string>{18,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,105},{122,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{100,122}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,99},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,668},{100,122}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,99},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{100,122}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,99},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{100,124}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,98},{100,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,462},{100,124}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,98},{100,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,122}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,100},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,770},{102,120}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,101},{102,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster213_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,564},{102,122}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,99},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster213.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc5fc4e8936306578629961323e3d71:d712eecd08f115b71dbc58838fad36be:d97ddbec7389120754c3993d33a499d2$</string>
            <key>textureFileName</key>
            <string>monster213.png</string>
        </dict>
    </dict>
</plist>
