<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster160_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,97},{66,92}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{66,92}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,129},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,289},{68,90}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,131},{68,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,383},{64,92}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,129},{64,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{72,96}}</string>
                <key>offset</key>
                <string>{24,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,124},{72,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,96}}</string>
                <key>offset</key>
                <string>{9,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,197},{94,92}}</string>
                <key>offset</key>
                <string>{-21,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,128},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,99},{94,92}}</string>
                <key>offset</key>
                <string>{-19,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,128},{94,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,97},{66,92}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{80,94}}</string>
                <key>offset</key>
                <string>{30,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,127},{80,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,293},{80,94}}</string>
                <key>offset</key>
                <string>{30,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,127},{80,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,97},{66,92}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,129},{66,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,389},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,129},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,293},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,195},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,387},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,289},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,129},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster160_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,195},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,128},{68,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster160.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecce670fe545528c46cadc04c3e9f32b:b102c0e6b4c329492a372ea9c14dcd6d:cb073caf1964cb6f9cd8cae9540bedad$</string>
            <key>textureFileName</key>
            <string>monster160.png</string>
        </dict>
    </dict>
</plist>
