<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster130_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,89},{86,96}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,125},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,265},{90,92}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,129},{90,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{98,90}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,132},{98,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{78,124}}</string>
                <key>offset</key>
                <string>{15,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,95},{78,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{80,122}}</string>
                <key>offset</key>
                <string>{21,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,97},{80,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,128}}</string>
                <key>offset</key>
                <string>{-31,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,94},{124,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{122,112}}</string>
                <key>offset</key>
                <string>{-30,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,110},{122,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,131},{122,96}}</string>
                <key>offset</key>
                <string>{-28,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,125},{122,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,177},{86,96}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,125},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{88,100}}</string>
                <key>offset</key>
                <string>{24,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,121},{88,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,381},{88,100}}</string>
                <key>offset</key>
                <string>{24,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,121},{88,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,325},{86,96}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,125},{86,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{86,98}}</string>
                <key>offset</key>
                <string>{-3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,123},{86,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{86,98}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,123},{86,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,355},{88,98}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,122},{88,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,225},{88,98}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,122},{88,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,255},{90,98}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,122},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,125},{90,98}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,123},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster130_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,101},{88,98}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,123},{88,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster130.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eddbfb96ef2d061d65142d267c2f678f:0c065e3b39dd89174381e7cba3ddfcc1:27025211e46b575b24eeffbec7a2e7a5$</string>
            <key>textureFileName</key>
            <string>monster130.png</string>
        </dict>
    </dict>
</plist>
