<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster112_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{96,124}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,118}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,102},{88,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{88,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,103},{88,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{92,126}}</string>
                <key>offset</key>
                <string>{27,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,92},{92,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{90,130}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,88},{90,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,390},{120,152}}</string>
                <key>offset</key>
                <string>{-32,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,70},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{120,122}}</string>
                <key>offset</key>
                <string>{-32,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,99},{120,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,388},{126,120}}</string>
                <key>offset</key>
                <string>{-29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,100},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,94},{96,124}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,92},{96,112}}</string>
                <key>offset</key>
                <string>{30,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,108},{96,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,96},{96,112}}</string>
                <key>offset</key>
                <string>{30,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,108},{96,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{96,124}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,192},{96,124}}</string>
                <key>offset</key>
                <string>{3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,96},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,194},{96,122}}</string>
                <key>offset</key>
                <string>{2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,97},{96,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,194},{96,124}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,95},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{96,124}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,95},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,290},{96,124}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,95},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,292},{96,124}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,95},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster112_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,292},{96,124}}</string>
                <key>offset</key>
                <string>{4,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,96},{96,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster112.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc5cc6a6d5772478fcf865bae23b862:f5c47fa0d03120c7c2f6103e82fb0742:62938ef67c38d86362097b54114d86dd$</string>
            <key>textureFileName</key>
            <string>monster112.png</string>
        </dict>
    </dict>
</plist>
