<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster105_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{112,132}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,89},{112,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,454},{116,102}}</string>
                <key>offset</key>
                <string>{-10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,119},{116,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{130,114}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,107},{130,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,230},{106,126}}</string>
                <key>offset</key>
                <string>{16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,95},{106,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{128,136}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,85},{128,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,96}}</string>
                <key>offset</key>
                <string>{-42,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,125},{150,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,246},{132,94}}</string>
                <key>offset</key>
                <string>{-31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,127},{132,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,472},{100,102}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,119},{100,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{112,132}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,90},{112,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,342},{124,110}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,112},{124,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{124,110}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,112},{124,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,116},{112,132}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,89},{112,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,342},{120,112}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{132,110}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,111},{132,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,456},{100,108}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,113},{100,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,132},{112,132}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,89},{112,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,358},{120,112}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,230},{132,110}}</string>
                <key>offset</key>
                <string>{-3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,111},{132,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster105_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{100,110}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,111},{100,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster105.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d102ac74b40fed61d58b22b689379a8:a6c2ee5eb8c14ac47f435ad91973a0a1:6bb2d453416104503ae7be1d7e831fb5$</string>
            <key>textureFileName</key>
            <string>monster105.png</string>
        </dict>
    </dict>
</plist>
