<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster314_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,143},{122,176}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,70},{122,176}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1},{106,180}}</string>
                <key>offset</key>
                <string>{-10,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{106,180}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{112,180}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,70},{112,180}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,533},{116,172}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,75},{116,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,409},{114,168}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{114,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{214,172}}</string>
                <key>offset</key>
                <string>{37,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,75},{214,172}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,168}}</string>
                <key>offset</key>
                <string>{35,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{218,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{198,164}}</string>
                <key>offset</key>
                <string>{27,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,83},{198,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{142,162}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,85},{142,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,539},{98,170}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,76},{98,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,409},{128,174}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,71},{128,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,597},{134,168}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{134,168}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,79},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,457},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,257},{140,174}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,175},{140,174}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,267},{140,174}}</string>
                <key>offset</key>
                <string>{15,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,251},{140,174}}</string>
                <key>offset</key>
                <string>{14,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,71},{140,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,115},{140,176}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,69},{140,176}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,109},{140,176}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,69},{140,176}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{140,176}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,69},{140,176}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,399},{138,174}}</string>
                <key>offset</key>
                <string>{13,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,393},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster314_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,317},{138,174}}</string>
                <key>offset</key>
                <string>{12,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{138,174}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster314.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbe34496d22c842c4dcaf246616a598b:1/1$</string>
            <key>textureFileName</key>
            <string>monster314.png</string>
        </dict>
    </dict>
</plist>
