<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster165_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,378},{98,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,134},{98,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{100,82}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,138},{100,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,178},{106,80}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,140},{106,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,92},{106,84}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,136},{106,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,100}}</string>
                <key>offset</key>
                <string>{-22,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,120},{142,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{130,120}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,100},{130,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{116,96}}</string>
                <key>offset</key>
                <string>{-8,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,124},{116,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,214},{102,80}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,140},{102,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,378},{98,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,134},{98,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,260},{90,82}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,138},{90,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,260},{90,84}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{90,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,378},{98,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,134},{98,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{100,86}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,135},{100,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{106,88}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{106,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{106,88}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{106,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,124},{104,88}}</string>
                <key>offset</key>
                <string>{5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,133},{104,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,92},{106,88}}</string>
                <key>offset</key>
                <string>{7,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,133},{106,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{104,86}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,135},{104,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster165_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,182},{102,86}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,135},{102,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster165.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77450699a733d4e49d22bb993ff84b62:7c3169125fab84dca2ff46218905763b:51f63541e700540e30a6f237641b810d$</string>
            <key>textureFileName</key>
            <string>monster165.png</string>
        </dict>
    </dict>
</plist>
