<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster231_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,356},{108,110}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,466},{104,106}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,115},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,570},{92,102}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,120},{92,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,134},{98,118}}</string>
                <key>offset</key>
                <string>{20,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,100},{98,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,460},{108,110}}</string>
                <key>offset</key>
                <string>{27,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,107},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{148,130}}</string>
                <key>offset</key>
                <string>{-36,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,92},{148,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{144,126}}</string>
                <key>offset</key>
                <string>{-36,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,96},{144,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,106}}</string>
                <key>offset</key>
                <string>{-28,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,115},{154,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,348},{110,110}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,110},{110,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{118,118}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,122},{118,118}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,102},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,356},{108,110}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{110,110}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,110},{110,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{108,110}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,109},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,354},{110,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,107},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,234},{112,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,107},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{112,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,107},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,242},{112,110}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,109},{112,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster231_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,242},{112,112}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,108},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster231.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:911059ec0405551c0791c26bc53b75d1:5b8d587dfbd165b8f95836dd53af0b6d:12fb4fc738a44c14e9eee089d298fc74$</string>
            <key>textureFileName</key>
            <string>monster231.png</string>
        </dict>
    </dict>
</plist>
