<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster246_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{98,104}}</string>
                <key>offset</key>
                <string>{-3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,118},{98,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{86,102}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{86,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,350},{106,108}}</string>
                <key>offset</key>
                <string>{31,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,112},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,124},{112,102}}</string>
                <key>offset</key>
                <string>{36,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,118},{112,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{128,134}}</string>
                <key>offset</key>
                <string>{-44,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,88},{128,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,120}}</string>
                <key>offset</key>
                <string>{-45,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,102},{124,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,116}}</string>
                <key>offset</key>
                <string>{-34,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,105},{140,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{120,110}}</string>
                <key>offset</key>
                <string>{42,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,111},{120,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,228},{120,110}}</string>
                <key>offset</key>
                <string>{42,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,111},{120,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,674},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,114},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,780},{104,106}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,114},{104,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,114},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,458},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,114},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,115},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster246_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,566},{106,106}}</string>
                <key>offset</key>
                <string>{-2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,115},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster246.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60bdfc86fa67366519da8c659f8bfc3:93df1420cf7e69c573bbb40426383108:fccab5ee141e2aaf29aa6bf54cedc908$</string>
            <key>textureFileName</key>
            <string>monster246.png</string>
        </dict>
    </dict>
</plist>
