<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster218_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,92},{90,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,276},{86,108}}</string>
                <key>offset</key>
                <string>{10,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{86,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{88,110}}</string>
                <key>offset</key>
                <string>{28,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,110},{88,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,282},{104,102}}</string>
                <key>offset</key>
                <string>{35,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,118},{104,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,112}}</string>
                <key>offset</key>
                <string>{-36,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,110},{118,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{114,104}}</string>
                <key>offset</key>
                <string>{-35,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,118},{114,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{112,94}}</string>
                <key>offset</key>
                <string>{-34,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,128},{112,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,290},{90,104}}</string>
                <key>offset</key>
                <string>{-15,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,117},{90,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,92},{90,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{98,98}}</string>
                <key>offset</key>
                <string>{32,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,123},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{98,98}}</string>
                <key>offset</key>
                <string>{32,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,123},{98,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,92},{90,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{90,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,108},{90,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{90,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,184},{90,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,190},{90,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,200},{88,108}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,113},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster218_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,108}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,113},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster218.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05fadb8486a2e0d2a6f6a28e8a48403:a497858867a0e17f78b62e767a110f1a:bf67d07dc1459649c90e4dc6e9630eb2$</string>
            <key>textureFileName</key>
            <string>monster218.png</string>
        </dict>
    </dict>
</plist>
