<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster206_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,238},{106,118}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,103},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{104,116}}</string>
                <key>offset</key>
                <string>{7,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,105},{104,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,346},{108,110}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,112},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,454},{104,108}}</string>
                <key>offset</key>
                <string>{23,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,114},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{130,122}}</string>
                <key>offset</key>
                <string>{-29,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,98},{130,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{142,124}}</string>
                <key>offset</key>
                <string>{-35,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,96},{142,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,124}}</string>
                <key>offset</key>
                <string>{-38,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,96},{146,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,126},{110,120}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,100},{110,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,342},{106,118}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,103},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,556},{98,106}}</string>
                <key>offset</key>
                <string>{35,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,116},{98,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{98,106}}</string>
                <key>offset</key>
                <string>{35,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,116},{98,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{106,118}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,103},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,238},{106,118}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,102},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{108,118}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,102},{108,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{108,120}}</string>
                <key>offset</key>
                <string>{3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,100},{108,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,128},{106,120}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,100},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{104,120}}</string>
                <key>offset</key>
                <string>{4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,100},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,450},{104,118}}</string>
                <key>offset</key>
                <string>{4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster206_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,346},{106,118}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,102},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster206.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:850daffe52b4f8eb8332c28decaa6fbf:901052c2f48f9b5d8a9f40d139316444:b5805fb78861a255fe6ab8f8a6ca9f6c$</string>
            <key>textureFileName</key>
            <string>monster206.png</string>
        </dict>
    </dict>
</plist>
