<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster133_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,353},{84,84}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,136},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,173},{84,80}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,141},{84,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{84,70}}</string>
                <key>offset</key>
                <string>{1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,151},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,441},{82,70}}</string>
                <key>offset</key>
                <string>{3,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,152},{82,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{108,114}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,106},{108,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,120}}</string>
                <key>offset</key>
                <string>{-12,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,100},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{104,112}}</string>
                <key>offset</key>
                <string>{-7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,108},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{86,86}}</string>
                <key>offset</key>
                <string>{6,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,134},{86,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,239},{84,84}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,136},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,87},{80,74}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{80,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1},{80,74}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,145},{80,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,123},{84,84}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,136},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{84,84}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,325},{84,84}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{84,82}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,295},{84,82}}</string>
                <key>offset</key>
                <string>{4,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,139},{84,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,411},{84,84}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,209},{84,84}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,137},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster133_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,87},{84,84}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,136},{84,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster133.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a4a39b780fa278fc4402cf2e96e833a:8e82bb3f3c63ce5a12515109db906672:13a6ad4a308ef7bf5d153bb6bbfeca2d$</string>
            <key>textureFileName</key>
            <string>monster133.png</string>
        </dict>
    </dict>
</plist>
