<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster174_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{100,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,422},{88,122}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,100},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,414},{78,130}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,92},{78,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,422},{82,124}}</string>
                <key>offset</key>
                <string>{25,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,98},{82,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,122}}</string>
                <key>offset</key>
                <string>{-24,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,100},{132,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{134,108}}</string>
                <key>offset</key>
                <string>{-24,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,114},{134,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,110}}</string>
                <key>offset</key>
                <string>{-23,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,112},{132,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,112},{106,116}}</string>
                <key>offset</key>
                <string>{-9,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,106},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,218},{100,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,226},{92,122}}</string>
                <key>offset</key>
                <string>{35,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,100},{92,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{92,122}}</string>
                <key>offset</key>
                <string>{35,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,100},{92,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{100,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,220},{100,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{102,118}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,104},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,122},{102,118}}</string>
                <key>offset</key>
                <string>{-3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,114},{102,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,104},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,320},{100,118}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,322},{98,118}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,104},{98,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster174_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{100,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,104},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster174.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f10a92651c1ab8b9cab511a1e7e325:4836388475649c54a44b87c6a6ebf1d0:8894860bf44b323d6c19894c7a2447ad$</string>
            <key>textureFileName</key>
            <string>monster174.png</string>
        </dict>
    </dict>
</plist>
