<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster123_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,350},{114,120}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,588},{98,116}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,105},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,580},{94,120}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,102},{94,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,130},{108,142}}</string>
                <key>offset</key>
                <string>{33,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,77},{108,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,136},{106,140}}</string>
                <key>offset</key>
                <string>{35,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,78},{106,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,150}}</string>
                <key>offset</key>
                <string>{-37,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,72},{142,150}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,132}}</string>
                <key>offset</key>
                <string>{-35,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,89},{144,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{144,126}}</string>
                <key>offset</key>
                <string>{-34,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,95},{144,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,464},{114,120}}</string>
                <key>offset</key>
                <string>{7,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,100},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{108,126}}</string>
                <key>offset</key>
                <string>{44,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,94},{108,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,240},{108,126}}</string>
                <key>offset</key>
                <string>{44,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,94},{108,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,472},{114,120}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{114,120}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{116,120}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,100},{116,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,244},{114,122}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,98},{114,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{114,122}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,98},{114,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,350},{112,122}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,98},{112,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,360},{110,122}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,98},{110,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster123_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,466},{112,120}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,100},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster123.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02aaff425dc9561c39e55cb098590a77:bb9766769d6b697543cab5538dbc50da:1192c941e0746d6f7a6d58d91c4d75ad$</string>
            <key>textureFileName</key>
            <string>monster123.png</string>
        </dict>
    </dict>
</plist>
