<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster198_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{118,116}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,104},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,514},{106,110}}</string>
                <key>offset</key>
                <string>{12,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,111},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,272},{96,100}}</string>
                <key>offset</key>
                <string>{20,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,122},{96,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{160,122}}</string>
                <key>offset</key>
                <string>{-26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,100},{160,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,126},{170,122}}</string>
                <key>offset</key>
                <string>{-31,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,100},{170,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{178,122}}</string>
                <key>offset</key>
                <string>{-35,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,100},{178,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{182,122}}</string>
                <key>offset</key>
                <string>{-36,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,100},{182,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,116}}</string>
                <key>offset</key>
                <string>{-33,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,105},{190,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{118,116}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,104},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{138,128}}</string>
                <key>offset</key>
                <string>{47,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,92},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,142},{138,128}}</string>
                <key>offset</key>
                <string>{47,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,92},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,490},{118,116}}</string>
                <key>offset</key>
                <string>{9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,104},{118,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,394},{118,118}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,102},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,514},{116,118}}</string>
                <key>offset</key>
                <string>{10,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{116,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,394},{118,120}}</string>
                <key>offset</key>
                <string>{10,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,100},{118,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{120,120}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,272},{120,120}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,250},{122,118}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,102},{122,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster198_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,370},{120,118}}</string>
                <key>offset</key>
                <string>{9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,102},{120,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster198.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a018d4f036a1149297c36c083115469a:c87fd2c5249d979c5c9bf935772c9deb:27e88b737b42f5f6d6adc71eee4c205a$</string>
            <key>textureFileName</key>
            <string>monster198.png</string>
        </dict>
    </dict>
</plist>
