<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster141_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,372},{88,88}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,131},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,182},{88,84}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,136},{88,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,92},{88,74}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,146},{88,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{84,74}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,147},{84,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{114,120}}</string>
                <key>offset</key>
                <string>{-13,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,99},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,126}}</string>
                <key>offset</key>
                <string>{-15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,93},{120,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{110,118}}</string>
                <key>offset</key>
                <string>{-9,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,101},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{92,90}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,129},{92,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,252},{88,88}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,131},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,432},{84,78}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{84,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,432},{84,78}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{84,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{88,88}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,131},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,400},{88,86}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,133},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{88,88}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,92},{88,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,134},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{88,86}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,134},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,342},{88,88}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,220},{88,88}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster141_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,310},{88,88}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,131},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster141.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c862d60f45a90cdcbc21235b882fa2:028307e23e5f62ae86062ec9797c051c:8af9de3cbf2281f5e2ed98ae0231d937$</string>
            <key>textureFileName</key>
            <string>monster141.png</string>
        </dict>
    </dict>
</plist>
