<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster184_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,174},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,214},{94,86}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,134},{94,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,144},{112,84}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,137},{112,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,102},{92,86}}</string>
                <key>offset</key>
                <string>{3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,133},{92,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{78,126}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,90},{78,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{66,132}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,83},{66,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,140}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,76},{84,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{104,78}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,139},{104,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,360},{98,78}}</string>
                <key>offset</key>
                <string>{5,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,143},{98,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{110,80}}</string>
                <key>offset</key>
                <string>{2,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,140},{110,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,258},{100,92}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,128},{100,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,360},{98,90}}</string>
                <key>offset</key>
                <string>{-4,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,131},{98,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,260},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,114},{90,98}}</string>
                <key>offset</key>
                <string>{11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{90,98}}</string>
                <key>offset</key>
                <string>{11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,122},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,266},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,344},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,428},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,350},{82,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{84,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,130},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,88},{84,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,130},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{86,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,130},{86,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster184_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,174},{84,90}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,130},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster184.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12962a80463f2465f5a2b1837d13980a:541eaac7cb363dfc6eea7af2aa333ff6:a7933f4f15316ac01a9f3f031a1d7d8c$</string>
            <key>textureFileName</key>
            <string>monster184.png</string>
        </dict>
    </dict>
</plist>
