<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster233_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,778},{108,110}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{102,106}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,115},{102,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,230},{90,100}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,122},{90,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{96,118}}</string>
                <key>offset</key>
                <string>{24,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,100},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{108,110}}</string>
                <key>offset</key>
                <string>{31,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{148,130}}</string>
                <key>offset</key>
                <string>{-32,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,92},{148,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{144,126}}</string>
                <key>offset</key>
                <string>{-32,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,96},{144,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,106}}</string>
                <key>offset</key>
                <string>{-26,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,115},{152,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,778},{108,110}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,118}}</string>
                <key>offset</key>
                <string>{32,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,102},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,434},{118,118}}</string>
                <key>offset</key>
                <string>{32,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,102},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,778},{108,110}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,888},{108,110}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,110},{108,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,322},{106,110}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,109},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{108,112}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,107},{108,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{112,112}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,107},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,554},{110,112}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,107},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{110,112}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,107},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster233_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,666},{110,112}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,108},{110,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster233.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022fca49f603689b515beca2f4d59149:b974548eb709347cbd2a3b01ea828d18:d56a1cce45292d5a0021e86c085cd112$</string>
            <key>textureFileName</key>
            <string>monster233.png</string>
        </dict>
    </dict>
</plist>
