<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster263_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,598},{136,130}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,870},{134,120}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,101},{134,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{132,106}}</string>
                <key>offset</key>
                <string>{-5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,115},{132,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,126},{138,100}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,121},{138,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{174,204}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{174,204}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,206}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,11},{174,206}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{162,202}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,14},{162,202}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{188,122}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,100},{188,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,206},{160,122}}</string>
                <key>offset</key>
                <string>{-26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,100},{160,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{154,122}}</string>
                <key>offset</key>
                <string>{-33,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,100},{154,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{156,122}}</string>
                <key>offset</key>
                <string>{-34,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,100},{156,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,896},{128,126}}</string>
                <key>offset</key>
                <string>{-12,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,96},{128,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,598},{136,130}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{142,134}}</string>
                <key>offset</key>
                <string>{39,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,87},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,330},{142,134}}</string>
                <key>offset</key>
                <string>{39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,87},{142,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,598},{136,130}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,492},{136,128}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{136,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,760},{134,130}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,90},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,622},{136,130}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,90},{136,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,228},{138,130}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{138,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,360},{138,130}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,90},{138,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,466},{138,130}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,90},{138,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster263_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,730},{138,128}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,92},{138,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster263.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8369ad9d53470e05eb9614f22fa3c3f:771151f58e4b9915bd8b55384ee5a3d7:83aeaffc34e6fb2a2e7e6e252402b192$</string>
            <key>textureFileName</key>
            <string>monster263.png</string>
        </dict>
    </dict>
</plist>
