<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster207_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{106,114}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,107},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,403},{102,110}}</string>
                <key>offset</key>
                <string>{9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,111},{102,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,505},{98,106}}</string>
                <key>offset</key>
                <string>{20,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{98,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{152,120}}</string>
                <key>offset</key>
                <string>{-23,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,100},{152,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,123},{160,120}}</string>
                <key>offset</key>
                <string>{-27,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,100},{160,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{168,120}}</string>
                <key>offset</key>
                <string>{-31,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,100},{168,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1},{172,122}}</string>
                <key>offset</key>
                <string>{-32,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,98},{172,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{176,114}}</string>
                <key>offset</key>
                <string>{-31,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,106},{176,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{106,114}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,107},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,393},{114,110}}</string>
                <key>offset</key>
                <string>{20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,111},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,451},{114,110}}</string>
                <key>offset</key>
                <string>{20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,111},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{106,114}}</string>
                <key>offset</key>
                <string>{5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,107},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{106,116}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,285},{104,116}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,104},{104,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,285},{106,116}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,104},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,125},{106,118}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,343},{106,116}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,104},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,233},{108,116}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster207_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{106,116}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster207.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa3c351d37bb38371c813f2b537a4265:87f854dd292f9f1718af6e1db5fc439a:fbb5069126ce46d74843937a5d3d0d63$</string>
            <key>textureFileName</key>
            <string>monster207.png</string>
        </dict>
    </dict>
</plist>
