<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster179_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,244},{80,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,132},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,258},{82,88}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,134},{82,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,326},{80,88}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,134},{80,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{82,96}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,126},{82,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{78,112}}</string>
                <key>offset</key>
                <string>{19,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,110},{78,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{82,102}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,120},{82,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,96}}</string>
                <key>offset</key>
                <string>{-14,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,126},{116,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{114,94}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,128},{114,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,258},{80,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,132},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,82},{74,98}}</string>
                <key>offset</key>
                <string>{21,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,124},{74,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,98},{74,98}}</string>
                <key>offset</key>
                <string>{21,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,124},{74,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{80,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,132},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,86},{82,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,178},{82,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,86},{84,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,158},{84,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,172},{84,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,132},{84,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{82,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster179_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{82,90}}</string>
                <key>offset</key>
                <string>{-1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,132},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster179.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d00b78f0f9d73a4132fd936bce48388:b964a01103830aa3c08f599a87f02470:4b3625a978c198a5897e5306cb864732$</string>
            <key>textureFileName</key>
            <string>monster179.png</string>
        </dict>
    </dict>
</plist>
