<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster242_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,288},{140,138}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{138,164}}</string>
                <key>offset</key>
                <string>{14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{138,164}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{132,178}}</string>
                <key>offset</key>
                <string>{27,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,43},{132,178}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,686},{140,166}}</string>
                <key>offset</key>
                <string>{32,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{140,166}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,208}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{226,208}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{226,208}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{226,208}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{226,208}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{226,208}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,288},{140,138}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,288},{140,138}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,590},{124,146}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{124,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,454},{134,146}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,75},{134,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,430},{140,138}}</string>
                <key>offset</key>
                <string>{1,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,84},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,146},{140,140}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,82},{140,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{142,140}}</string>
                <key>offset</key>
                <string>{3,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,81},{142,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,306},{146,140}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,81},{146,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{152,140}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,81},{152,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,854},{158,140}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,81},{158,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,854},{154,138}}</string>
                <key>offset</key>
                <string>{9,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,83},{154,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster242_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,156},{148,140}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,82},{148,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster242.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83126dc1d6537bc4a04108a3d352c443:bea67e6954c171c6984258eeffa7b7c2:cdc0fd26e0768e9314b7127f5dbf149b$</string>
            <key>textureFileName</key>
            <string>monster242.png</string>
        </dict>
    </dict>
</plist>
