<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster260_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,124},{104,120}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{102,122}}</string>
                <key>offset</key>
                <string>{13,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,100},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{106,122}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,100},{106,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,246},{106,122}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{106,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,120}}</string>
                <key>offset</key>
                <string>{-39,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,102},{162,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{156,120}}</string>
                <key>offset</key>
                <string>{-36,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,102},{156,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{154,120}}</string>
                <key>offset</key>
                <string>{-35,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,102},{154,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,370},{108,120}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,102},{108,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,124},{104,120}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,326},{98,124}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,98},{98,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{98,124}}</string>
                <key>offset</key>
                <string>{9,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,98},{98,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,124},{104,120}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,102},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,426},{102,122}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,100},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,324},{100,126}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,96},{100,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,226},{98,128}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,94},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,224},{98,128}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,94},{98,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,124},{98,130}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,92},{98,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,124},{100,134}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,88},{100,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster260_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{102,134}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,88},{102,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster260.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da315db09decdb820b4f22ee58bd696:1/1$</string>
            <key>textureFileName</key>
            <string>monster260.png</string>
        </dict>
    </dict>
</plist>
