<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster152_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,351},{110,134}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,88},{110,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{96,168}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,54},{96,168}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{104,142}}</string>
                <key>offset</key>
                <string>{28,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,80},{104,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{102,136}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,86},{102,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,107},{138,126}}</string>
                <key>offset</key>
                <string>{7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,96},{138,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,127},{158,126}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,96},{158,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,124}}</string>
                <key>offset</key>
                <string>{-19,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,98},{178,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{178,124}}</string>
                <key>offset</key>
                <string>{-28,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,98},{178,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,463},{108,134}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,593},{110,128}}</string>
                <key>offset</key>
                <string>{32,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{110,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,665},{110,128}}</string>
                <key>offset</key>
                <string>{32,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{110,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,483},{108,134}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,573},{106,134}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,88},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{112,134}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,88},{112,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,235},{114,134}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,88},{114,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,371},{110,134}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,88},{110,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,255},{114,134}}</string>
                <key>offset</key>
                <string>{-10,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,88},{114,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,443},{110,134}}</string>
                <key>offset</key>
                <string>{-8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,88},{110,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster152_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{108,134}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster152.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51f702ee61b1c4d75fc50a36f77159f5:733a9068d97fe298ebfe359ab62a9ea7:0b8ebf7389d8a6e5dbf1eef40671c3d3$</string>
            <key>textureFileName</key>
            <string>monster152.png</string>
        </dict>
    </dict>
</plist>
