<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster228_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,416},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,416},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,298},{88,116}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,106},{88,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,106},{96,118}}</string>
                <key>offset</key>
                <string>{-9,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,104},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{102,118}}</string>
                <key>offset</key>
                <string>{-12,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,104},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{112,118}}</string>
                <key>offset</key>
                <string>{-17,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,104},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,118}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,104},{120,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,118}}</string>
                <key>offset</key>
                <string>{-21,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,104},{124,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,298},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,122},{96,112}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,110},{96,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{96,112}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,110},{96,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,416},{92,116}}</string>
                <key>offset</key>
                <string>{-3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,298},{92,118}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,104},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{92,116}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{92,118}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{92,118}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,104},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,204},{92,118}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,116},{92,118}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,104},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster228_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,418},{92,116}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,106},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster228.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72cdc03c4f6a51d42c194ff9b2943be5:1/1$</string>
            <key>textureFileName</key>
            <string>monster228.png</string>
        </dict>
    </dict>
</plist>
