<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster168_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,418},{116,118}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,103},{116,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,178},{126,114}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,108},{126,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,140},{132,108}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,114},{132,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,84},{92,136}}</string>
                <key>offset</key>
                <string>{15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,85},{92,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{80,140}}</string>
                <key>offset</key>
                <string>{15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,81},{80,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{152,144}}</string>
                <key>offset</key>
                <string>{-31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,77},{152,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{154,136}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,85},{154,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,114}}</string>
                <key>offset</key>
                <string>{-23,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,107},{156,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,418},{116,118}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,103},{116,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,294},{106,122}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,99},{106,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,294},{106,122}}</string>
                <key>offset</key>
                <string>{31,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,99},{106,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,418},{116,118}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,103},{116,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{118,118}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,103},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,372},{120,120}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,102},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{120,120}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,102},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,250},{120,122}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,100},{120,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{118,122}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,100},{118,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,402},{118,120}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,102},{118,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster168_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,494},{118,120}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,101},{118,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster168.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94f07cc2aa11c99f79120764660eb496:ef40dc01ff0c397e2743ccabd306c253:b17ec52a40c0da975229be1c2fad878c$</string>
            <key>textureFileName</key>
            <string>monster168.png</string>
        </dict>
    </dict>
</plist>
