<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster250_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,704},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,109},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{82,108}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,110},{82,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{86,108}}</string>
                <key>offset</key>
                <string>{18,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,110},{86,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,906},{84,106}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,111},{84,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,402},{114,106}}</string>
                <key>offset</key>
                <string>{-48,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,114},{114,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,320},{124,106}}</string>
                <key>offset</key>
                <string>{-53,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,114},{124,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,220},{128,98}}</string>
                <key>offset</key>
                <string>{-56,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,123},{128,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,330},{96,100}}</string>
                <key>offset</key>
                <string>{-38,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,121},{96,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{146,156}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,62},{146,156}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{144,158}}</string>
                <key>offset</key>
                <string>{-27,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,59},{144,158}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,166}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{118,166}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{98,124}}</string>
                <key>offset</key>
                <string>{-7,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,94},{98,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,704},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,109},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,108},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{80,114}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,104},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{78,116}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,102},{78,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{112,104}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,115},{112,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,510},{112,104}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,116},{112,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,428},{112,104}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,116},{112,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,432},{112,102}}</string>
                <key>offset</key>
                <string>{-6,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,118},{112,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{110,100}}</string>
                <key>offset</key>
                <string>{-5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,120},{110,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,148},{70,140}}</string>
                <key>offset</key>
                <string>{-3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,75},{70,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,176},{72,132}}</string>
                <key>offset</key>
                <string>{-5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{72,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,326},{74,120}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,98},{74,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,806},{94,80}}</string>
                <key>offset</key>
                <string>{0,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,142},{94,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,888},{104,64}}</string>
                <key>offset</key>
                <string>{-3,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,158},{104,64}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,250},{126,74}}</string>
                <key>offset</key>
                <string>{-10,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,148},{126,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,90},{158,84}}</string>
                <key>offset</key>
                <string>{-11,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,138},{158,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_dead_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,86}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,136},{162,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,704},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,109},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,616},{110,102}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,117},{110,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,534},{110,102}}</string>
                <key>offset</key>
                <string>{28,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,117},{110,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,704},{80,110}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,109},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{80,108}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,111},{80,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,804},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{82,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,722},{82,108}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{82,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,720},{82,110}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,108},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,638},{82,110}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,108},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,620},{82,110}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,108},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster250_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,536},{82,110}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,109},{82,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster250.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ffcd0dfb5637a1395ff09dee585eecc:1/1$</string>
            <key>textureFileName</key>
            <string>monster250.png</string>
        </dict>
    </dict>
</plist>
