<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster211_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{100,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,117},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,110},{94,106}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,115},{94,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,196},{90,106}}</string>
                <key>offset</key>
                <string>{6,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,115},{90,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{88,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,113},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{110,94}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,126},{110,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{114,94}}</string>
                <key>offset</key>
                <string>{-8,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,126},{114,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,94}}</string>
                <key>offset</key>
                <string>{-12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,126},{124,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,100}}</string>
                <key>offset</key>
                <string>{-11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,120},{128,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{100,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,117},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{118,106}}</string>
                <key>offset</key>
                <string>{19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,115},{118,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{118,106}}</string>
                <key>offset</key>
                <string>{19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,115},{118,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{100,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,117},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,288},{100,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,117},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,308},{100,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,117},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{102,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,117},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,92},{102,106}}</string>
                <key>offset</key>
                <string>{4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,115},{102,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{102,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,117},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,296},{102,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,117},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster211_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,402},{102,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,117},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster211.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3998b697d01ba4f053f5d940adfd2781:020b6bac139c0f4f8626a0bc17f89e0f:d998cf1b4229c858dd80d9416548b732$</string>
            <key>textureFileName</key>
            <string>monster211.png</string>
        </dict>
    </dict>
</plist>
