<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster244_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,150},{86,68}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,74},{90,68}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,151},{90,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,80},{92,68}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{92,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,86},{92,66}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,154},{92,66}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{76,92}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,123},{76,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,72},{70,100}}</string>
                <key>offset</key>
                <string>{7,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,114},{70,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,140},{100,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,68}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,154},{102,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,70}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,152},{102,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,72}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,150},{102,72}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,144},{86,68}}</string>
                <key>offset</key>
                <string>{7,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,150},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{86,70}}</string>
                <key>offset</key>
                <string>{7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,148},{86,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{86,68}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,144},{86,68}}</string>
                <key>offset</key>
                <string>{7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,154},{86,68}}</string>
                <key>offset</key>
                <string>{7,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,220},{86,68}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,220},{86,68}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,149},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,214},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,214},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,224},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,290},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster244_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,308},{84,70}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,147},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster244.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10be9cd2e893b8fe1aff2a13fa181355:a9d39d3376fbf7f6d9b9f102f0cfa4c3:4cafe97fd36193fac44036f05b10eb67$</string>
            <key>textureFileName</key>
            <string>monster244.png</string>
        </dict>
    </dict>
</plist>
