<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster223_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,192},{94,102}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{92,98}}</string>
                <key>offset</key>
                <string>{4,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,123},{92,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,366},{80,92}}</string>
                <key>offset</key>
                <string>{8,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,130},{80,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,270},{80,96}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,125},{80,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,196},{94,102}}</string>
                <key>offset</key>
                <string>{40,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{84,104}}</string>
                <key>offset</key>
                <string>{29,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,117},{84,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,106}}</string>
                <key>offset</key>
                <string>{-17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,115},{116,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,96}}</string>
                <key>offset</key>
                <string>{-11,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,125},{118,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{94,102}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,98},{84,104}}</string>
                <key>offset</key>
                <string>{36,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,117},{84,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,184},{84,104}}</string>
                <key>offset</key>
                <string>{36,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,117},{84,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,192},{94,102}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,270},{94,102}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,292},{92,102}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,119},{92,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,98},{92,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{94,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{94,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,104}}</string>
                <key>offset</key>
                <string>{4,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{96,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster223_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,288},{94,102}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster223.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5ebf1ac30b362cb0bee208707a21f7:837268e39f20bd230a74af59de3b04ce:639952c6e054c04e5abcbc93c042af4a$</string>
            <key>textureFileName</key>
            <string>monster223.png</string>
        </dict>
    </dict>
</plist>
