<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster129_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,577},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,465},{114,110}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,111},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,561},{126,104}}</string>
                <key>offset</key>
                <string>{-6,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,118},{126,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,463},{96,134}}</string>
                <key>offset</key>
                <string>{20,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,85},{96,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{98,136}}</string>
                <key>offset</key>
                <string>{27,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,83},{98,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,142}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,80},{136,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{134,124}}</string>
                <key>offset</key>
                <string>{-34,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,98},{134,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{136,96}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,125},{136,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,577},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,889},{100,112}}</string>
                <key>offset</key>
                <string>{28,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,109},{100,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,889},{100,112}}</string>
                <key>offset</key>
                <string>{28,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,109},{100,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,577},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,667},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,779},{108,112}}</string>
                <key>offset</key>
                <string>{-5,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,108},{108,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,689},{110,114}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,106},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,237},{112,116}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,104},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,351},{112,116}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,104},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{110,116}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,104},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster129_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,119},{110,116}}</string>
                <key>offset</key>
                <string>{-5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,105},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster129.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892fe53a5ee45f4a169628e459f0ffef:1f766c4bd41ea78752d187a30a5c3d3f:132dfc14c239f37d4d554791338302bc$</string>
            <key>textureFileName</key>
            <string>monster129.png</string>
        </dict>
    </dict>
</plist>
