<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster172_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,113},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,292},{98,110}}</string>
                <key>offset</key>
                <string>{4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,111},{98,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,102},{94,112}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,109},{94,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,198},{92,112}}</string>
                <key>offset</key>
                <string>{5,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,109},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{114,98}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,122},{114,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,114},{118,98}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,122},{118,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{128,98}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,122},{128,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,106}}</string>
                <key>offset</key>
                <string>{-14,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,115},{134,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,113},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{124,110}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,111},{124,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,102},{124,110}}</string>
                <key>offset</key>
                <string>{18,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,111},{124,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{106,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,113},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,404},{104,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,113},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,402},{104,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,113},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,292},{104,110}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,111},{104,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,110}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,112},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{106,110}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,111},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,292},{108,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,113},{108,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster172_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,404},{106,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,113},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster172.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:925ee9577ec997c99a5d215632effe74:f5a94921adfa8c8ede540d88b80301c7:ea116b582f39464866eabdbaf81498a0$</string>
            <key>textureFileName</key>
            <string>monster172.png</string>
        </dict>
    </dict>
</plist>
