<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster315_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,325},{138,160}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{138,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,473},{142,148}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,102},{142,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,641},{142,148}}</string>
                <key>offset</key>
                <string>{15,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,102},{142,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,321},{150,144}}</string>
                <key>offset</key>
                <string>{29,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,106},{150,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,655},{170,158}}</string>
                <key>offset</key>
                <string>{19,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,92},{170,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,655},{198,184}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{198,184}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{206,216}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,34},{206,216}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,216}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,34},{206,216}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{190,216}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,34},{190,216}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,827},{170,156}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,94},{170,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,325},{138,160}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{138,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,437},{140,160}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,163},{138,160}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{138,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,623},{138,148}}</string>
                <key>offset</key>
                <string>{-23,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,102},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,791},{138,148}}</string>
                <key>offset</key>
                <string>{-23,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,102},{138,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{138,160}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{138,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,481},{140,158}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{140,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,161},{142,158}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{142,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,807},{146,158}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,92},{146,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,647},{148,158}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,92},{148,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,487},{150,158}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,91},{150,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,855},{142,160}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,90},{142,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,321},{142,158}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{142,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{140,158}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,92},{140,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,161},{142,158}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,92},{142,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{144,158}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,92},{144,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster315_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,855},{144,160}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,90},{144,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster315.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5a0e6443cb7520903635cd19d9c920d:1/1$</string>
            <key>textureFileName</key>
            <string>monster315.png</string>
        </dict>
    </dict>
</plist>
