<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster241_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{146,144}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,204},{144,172}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,50},{144,172}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{138,186}}</string>
                <key>offset</key>
                <string>{27,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,35},{138,186}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,142},{146,174}}</string>
                <key>offset</key>
                <string>{33,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,47},{146,174}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,216}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{236,216}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{232,216}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{232,216}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{200,216}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,216}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{146,144}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,290},{164,164}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,85},{164,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster241_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{146,144}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{128,154}}</string>
                <key>offset</key>
                <string>{20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{128,154}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{138,154}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{138,154}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,368},{146,144}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,350},{146,146}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{146,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,220},{148,146}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{148,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,158},{154,146}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{154,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,454},{160,146}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,75},{160,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,306},{164,146}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,76},{164,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{160,146}}</string>
                <key>offset</key>
                <string>{9,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,76},{160,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster241_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,220},{152,146}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,76},{152,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster241.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07df3b6deb7de1abc8dd95682eb8f934:542f4f048fef54f68aa6a641f0de402d:5603c948d86c9bff7010fca8be39da18$</string>
            <key>textureFileName</key>
            <string>monster241.png</string>
        </dict>
    </dict>
</plist>
