<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster006_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,199},{82,98}}</string>
                <key>offset</key>
                <string>{-6,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,123},{82,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,123},{74,100}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,121},{74,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,101},{92,100}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,121},{92,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{122,98}}</string>
                <key>offset</key>
                <string>{-20,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,123},{122,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1},{128,98}}</string>
                <key>offset</key>
                <string>{-18,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,123},{128,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{136,114}}</string>
                <key>offset</key>
                <string>{-12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,107},{136,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{120,118}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,103},{120,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,101},{100,106}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{100,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{100,106}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,115},{100,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,283},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,289},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,295},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,195},{92,98}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,123},{92,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,203},{90,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,123},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{90,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,123},{90,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster006_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{90,96}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster006.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d01abf3bc23ebf1a3970e996a334ffcc:da22367518a22104ab66a19bd2720dcd:3edc37d1be8564bb16b4991a4e690001$</string>
            <key>textureFileName</key>
            <string>monster006.png</string>
        </dict>
    </dict>
</plist>
