<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster247_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,109},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,758},{98,110}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,112},{98,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{88,102}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,120},{88,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{100,104}}</string>
                <key>offset</key>
                <string>{31,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,116},{100,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,654},{110,102}}</string>
                <key>offset</key>
                <string>{36,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,118},{110,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{132,134}}</string>
                <key>offset</key>
                <string>{-43,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,88},{132,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{126,118}}</string>
                <key>offset</key>
                <string>{-42,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,104},{126,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,110}}</string>
                <key>offset</key>
                <string>{-32,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,111},{144,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,109},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,544},{110,108}}</string>
                <key>offset</key>
                <string>{41,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,113},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{110,108}}</string>
                <key>offset</key>
                <string>{41,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,113},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,332},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,109},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,109},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{102,110}}</string>
                <key>offset</key>
                <string>{-1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{102,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,438},{104,112}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,108},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{106,112}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,108},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,116},{106,112}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,108},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,224},{106,112}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,109},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster247_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{104,112}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,109},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster247.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50acca936f62e2fc5320c4c39b18ed15:18669f3d8a9af9ad88614142599e6ae5:71d64b7f8c5ae09caa4138858627773f$</string>
            <key>textureFileName</key>
            <string>monster247.png</string>
        </dict>
    </dict>
</plist>
