<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster212_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,388},{92,100}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,120},{92,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,112},{96,104}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,116},{96,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,96},{96,106}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,114},{96,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,108}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,112},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{108,92}}</string>
                <key>offset</key>
                <string>{-8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,128},{108,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{112,94}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,126},{112,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,94}}</string>
                <key>offset</key>
                <string>{-15,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,126},{122,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,98}}</string>
                <key>offset</key>
                <string>{-15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,122},{124,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,388},{92,100}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,120},{92,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{112,108}}</string>
                <key>offset</key>
                <string>{16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,112},{112,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,98},{112,108}}</string>
                <key>offset</key>
                <string>{16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,112},{112,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,388},{92,100}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,120},{92,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,210},{94,102}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,208},{94,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{94,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{94,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,392},{96,102}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,119},{96,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,194},{96,102}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,119},{96,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster212_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,292},{94,102}}</string>
                <key>offset</key>
                <string>{2,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,119},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster212.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb549ade3699eca8c9a0a5473428cef2:99cdf7f5c5f41df76c253dd924bde648:16c824b5469ab0c2e5325a05fce850cf$</string>
            <key>textureFileName</key>
            <string>monster212.png</string>
        </dict>
    </dict>
</plist>
