<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster176_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,190},{88,96}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,384},{86,92}}</string>
                <key>offset</key>
                <string>{3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,128},{86,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{88,92}}</string>
                <key>offset</key>
                <string>{4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,128},{88,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{90,92}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,128},{90,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,106}}</string>
                <key>offset</key>
                <string>{-21,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,114},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,104}}</string>
                <key>offset</key>
                <string>{-19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,116},{124,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{114,98}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,122},{114,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,102},{92,98}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,122},{92,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,190},{88,96}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{98,92}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,128},{98,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,96},{98,92}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,128},{98,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,196},{88,96}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{88,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,123},{88,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{88,96}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{88,96}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{90,96}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,125},{90,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,280},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,286},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster176_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,288},{88,96}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster176.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0671e481fa951e83bd00acda2b7db900:a6d979c2c985973fce1e2bc74faf967e:f05b2bc01abd3428cd4aee5afc10c8b3$</string>
            <key>textureFileName</key>
            <string>monster176.png</string>
        </dict>
    </dict>
</plist>
