<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster158_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,68},{86,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,98},{90,90}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,132},{90,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,282},{90,86}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,136},{90,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{86,88}}</string>
                <key>offset</key>
                <string>{6,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,134},{86,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{64,104}}</string>
                <key>offset</key>
                <string>{20,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,118},{64,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{80,106}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,116},{80,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{108,102}}</string>
                <key>offset</key>
                <string>{-23,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,120},{108,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,88}}</string>
                <key>offset</key>
                <string>{-16,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,134},{114,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,92},{86,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{76,94}}</string>
                <key>offset</key>
                <string>{26,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,128},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,244},{76,94}}</string>
                <key>offset</key>
                <string>{26,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,128},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,68},{86,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,106},{86,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{86,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{88,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,128},{88,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{86,94}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{86,94}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{86,94}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster158_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,180},{86,94}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,128},{86,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster158.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2655473e368a2b4c64d6978f40c9ef6:b3835e08a6d4337ae5815ce02903d692:e197e18f1bf035ee3c48bdc1d3dc49c4$</string>
            <key>textureFileName</key>
            <string>monster158.png</string>
        </dict>
    </dict>
</plist>
