<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster253_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,374},{110,116}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,105},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{108,112}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{108,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,590},{102,106}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,116},{102,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,120},{114,144}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,76},{114,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,138},{114,138}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,81},{114,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,146}}</string>
                <key>offset</key>
                <string>{-22,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,75},{166,146}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,134}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,87},{166,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{164,116}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,105},{164,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{110,116}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,105},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{124,136}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,85},{124,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,236},{124,136}}</string>
                <key>offset</key>
                <string>{31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,85},{124,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{110,116}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,105},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,478},{110,116}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,105},{110,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,486},{108,116}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,362},{110,118}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,104},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,362},{114,118}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,104},{114,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{116,118}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,104},{116,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,254},{118,118}}</string>
                <key>offset</key>
                <string>{3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,103},{118,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster253_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,474},{114,116}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{114,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster253.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53a165f46227ae0bb49100b74f093841:286a667c463aae7ed3f458e75f469528:5b5c2ab0108ddef8e8a4c8c8e74ee18f$</string>
            <key>textureFileName</key>
            <string>monster253.png</string>
        </dict>
    </dict>
</plist>
