<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster203_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{104,112}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,108},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,108},{96,112}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,109},{96,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,418},{88,110}}</string>
                <key>offset</key>
                <string>{-2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,111},{88,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{88,130}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,90},{88,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{92,124}}</string>
                <key>offset</key>
                <string>{32,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,96},{92,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{130,126}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,95},{130,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{128,114}}</string>
                <key>offset</key>
                <string>{-25,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,107},{128,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,112}}</string>
                <key>offset</key>
                <string>{-22,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,108},{132,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{104,112}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,108},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,118},{102,124}}</string>
                <key>offset</key>
                <string>{36,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,96},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,130},{102,124}}</string>
                <key>offset</key>
                <string>{36,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,96},{102,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{104,112}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,108},{104,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,314},{102,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,106},{102,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,330},{102,114}}</string>
                <key>offset</key>
                <string>{4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,106},{102,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{104,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,106},{104,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,206},{106,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,106},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,222},{106,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,106},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,234},{106,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,106},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster203_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{104,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,106},{104,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster203.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d24c6002b8c8977ffa2152606a569b92:02581f3b753805067f40166bd5f64e2a:31af99bfa5862e8354137c18071ef5a0$</string>
            <key>textureFileName</key>
            <string>monster203.png</string>
        </dict>
    </dict>
</plist>
