<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster225_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{108,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,470},{94,118}}</string>
                <key>offset</key>
                <string>{28,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,103},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,892},{96,116}}</string>
                <key>offset</key>
                <string>{31,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,105},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{96,118}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,104},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,234},{118,124}}</string>
                <key>offset</key>
                <string>{-24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,96},{118,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{114,126}}</string>
                <key>offset</key>
                <string>{-23,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,94},{114,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{110,130}}</string>
                <key>offset</key>
                <string>{-21,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,90},{110,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,130}}</string>
                <key>offset</key>
                <string>{-11,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,90},{122,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{108,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{114,120}}</string>
                <key>offset</key>
                <string>{43,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,101},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,118},{114,120}}</string>
                <key>offset</key>
                <string>{43,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,101},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{108,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,566},{108,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{108,118}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,103},{108,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{108,116}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,104},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,360},{108,118}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,102},{108,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,676},{108,116}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,104},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{106,116}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,104},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster225_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{108,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,105},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster225.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f68ec7ce38999fdb3882dab6b7480c4e:042d1cff3e29c4678aebd156407a5d0c:e13a452506577e07d1ea22e0c28996c5$</string>
            <key>textureFileName</key>
            <string>monster225.png</string>
        </dict>
    </dict>
</plist>
