<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster171_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,380},{92,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,117},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,206},{84,106}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,115},{84,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,98},{82,108}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,113},{82,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{80,110}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{108,94}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,127},{108,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{112,96}}</string>
                <key>offset</key>
                <string>{-9,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,125},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{122,96}}</string>
                <key>offset</key>
                <string>{-13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,125},{122,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,100}}</string>
                <key>offset</key>
                <string>{-14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,121},{126,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,380},{92,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,117},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{114,108}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,113},{114,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,100},{114,108}}</string>
                <key>offset</key>
                <string>{17,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,113},{114,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,380},{92,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,117},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,274},{90,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,117},{90,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,292},{90,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,117},{90,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,182},{90,106}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,116},{90,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,112},{92,106}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,116},{92,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{94,104}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,118},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,210},{96,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,117},{96,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster171_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{94,104}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,117},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster171.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c336365830fa98f2d1055318dfba9a7a:96b47efc78716fc7a16c6ba8b9b71b40:7a8d0055f39f529f9967e5aee9430742$</string>
            <key>textureFileName</key>
            <string>monster171.png</string>
        </dict>
    </dict>
</plist>
