<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster116_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{78,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,130},{78,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{80,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,134},{80,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,168},{82,82}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,138},{82,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{74,98}}</string>
                <key>offset</key>
                <string>{10,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,122},{74,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{70,102}}</string>
                <key>offset</key>
                <string>{19,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,118},{70,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,74},{70,98}}</string>
                <key>offset</key>
                <string>{8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,122},{70,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,90}}</string>
                <key>offset</key>
                <string>{-15,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,130},{102,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,84}}</string>
                <key>offset</key>
                <string>{-14,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,136},{102,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,160},{78,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,130},{78,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,228},{72,90}}</string>
                <key>offset</key>
                <string>{22,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,130},{72,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,252},{72,90}}</string>
                <key>offset</key>
                <string>{22,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,130},{72,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,160},{78,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,130},{78,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,88},{80,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{80,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,78},{80,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{82,90}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,130},{82,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,86},{80,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,146},{80,90}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster116_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,170},{80,90}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,130},{80,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster116.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9598884b33a31666b4e95b1cb649c89:10ad3ae03b880d6c3878030fb4b29da2:b6e622a03a2029e9eca7190fc206863f$</string>
            <key>textureFileName</key>
            <string>monster116.png</string>
        </dict>
    </dict>
</plist>
