<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster205_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,350},{104,120}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,101},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,456},{94,116}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,460},{110,110}}</string>
                <key>offset</key>
                <string>{23,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,109},{110,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,242},{112,108}}</string>
                <key>offset</key>
                <string>{26,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,111},{112,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,144}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,77},{154,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{150,132}}</string>
                <key>offset</key>
                <string>{-34,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,89},{150,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{148,116}}</string>
                <key>offset</key>
                <string>{-34,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,105},{148,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,120},{120,120}}</string>
                <key>offset</key>
                <string>{-15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,101},{120,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,350},{104,120}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,101},{104,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{110,98}}</string>
                <key>offset</key>
                <string>{34,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,123},{110,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{110,98}}</string>
                <key>offset</key>
                <string>{34,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,123},{110,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,136},{106,120}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,101},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,352},{106,118}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,102},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{106,120}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,100},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,242},{106,120}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,100},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,244},{106,120}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,100},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{106,120}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,100},{106,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{104,118}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster205_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,356},{104,118}}</string>
                <key>offset</key>
                <string>{-3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster205.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21a2f5dc4576abd392f0853d7e317604:1074b5f2080f2642b137116f94b63042:6afff6f9d76ff3c0d357e6c53c9ca194$</string>
            <key>textureFileName</key>
            <string>monster205.png</string>
        </dict>
    </dict>
</plist>
