<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster191_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,470},{152,148}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{152,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,178},{170,140}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,81},{170,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{182,132}}</string>
                <key>offset</key>
                <string>{9,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,89},{182,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,120},{130,178}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,42},{130,178}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{116,186}}</string>
                <key>offset</key>
                <string>{33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,34},{116,186}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{192,184}}</string>
                <key>offset</key>
                <string>{-27,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,37},{192,184}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{198,174}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{198,174}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,144}}</string>
                <key>offset</key>
                <string>{-18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,77},{204,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{152,148}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{152,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{138,162}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,59},{138,162}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,136},{138,162}}</string>
                <key>offset</key>
                <string>{49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,59},{138,162}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,294},{152,148}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{152,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,402},{154,148}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,73},{154,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,252},{156,148}}</string>
                <key>offset</key>
                <string>{5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,73},{156,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,320},{156,148}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,73},{156,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{154,150}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{154,150}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,142},{154,150}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{154,150}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,276},{154,150}}</string>
                <key>offset</key>
                <string>{7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,71},{154,150}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster191_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,428},{152,148}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,73},{152,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster191.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f302d171c564b0cf0d8146031c3c1f58:4d7d0ec9ae52ff8cfbc770e641f3876b:48e6c2b68eb18fcaa13f8145c6c4e3f0$</string>
            <key>textureFileName</key>
            <string>monster191.png</string>
        </dict>
    </dict>
</plist>
