<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster209_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,510},{128,122}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,99},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,518},{120,118}}</string>
                <key>offset</key>
                <string>{26,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{120,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,634},{122,122}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{122,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{152,124}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,97},{152,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,118},{156,128}}</string>
                <key>offset</key>
                <string>{-9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,94},{156,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{158,130}}</string>
                <key>offset</key>
                <string>{-10,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,92},{158,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,128}}</string>
                <key>offset</key>
                <string>{-16,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,94},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{166,114}}</string>
                <key>offset</key>
                <string>{-17,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,108},{166,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{128,122}}</string>
                <key>offset</key>
                <string>{11,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,100},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,134},{134,126}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,96},{134,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,248},{132,130}}</string>
                <key>offset</key>
                <string>{28,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,92},{132,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,510},{128,122}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,99},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,392},{128,124}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,98},{128,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{128,126}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{128,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,518},{124,126}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,96},{124,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,380},{128,128}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,94},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{130,132}}</string>
                <key>offset</key>
                <string>{11,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,90},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,262},{128,130}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{128,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster209_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,638},{120,116}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,106},{120,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster209.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ff174ef2e14bc943e691f897915c2f9:55af57709adccfb09ef6776091c1ba90:560ca6725135d257ae0a0715c7d062b5$</string>
            <key>textureFileName</key>
            <string>monster209.png</string>
        </dict>
    </dict>
</plist>
