<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster227_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{110,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{108,114}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,107},{108,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,904},{102,106}}</string>
                <key>offset</key>
                <string>{-5,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,116},{102,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{100,126}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,94},{100,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,342},{108,124}}</string>
                <key>offset</key>
                <string>{45,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,96},{108,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,132}}</string>
                <key>offset</key>
                <string>{-29,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,89},{128,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{126,126}}</string>
                <key>offset</key>
                <string>{-29,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,95},{126,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,116}}</string>
                <key>offset</key>
                <string>{-24,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,105},{132,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{110,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{114,112}}</string>
                <key>offset</key>
                <string>{49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,109},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,790},{114,112}}</string>
                <key>offset</key>
                <string>{49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,109},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,230},{110,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,566},{110,118}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{110,118}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,102},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{112,118}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,102},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,452},{112,120}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{112,120}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,100},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,116},{112,118}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,102},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster227_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,678},{110,118}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,102},{110,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster227.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dfa9c54331aef724da55b3b9b7a38db:c0df9644c0e18a90d543a33920701d6a:3935bc39f57822e6965b300e16f5f91f$</string>
            <key>textureFileName</key>
            <string>monster227.png</string>
        </dict>
    </dict>
</plist>
