<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster117_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{94,98}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,396},{88,98}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,124},{88,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,302},{92,96}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,126},{92,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,106},{92,102}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,120},{92,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{102,102}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,120},{102,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,104},{100,102}}</string>
                <key>offset</key>
                <string>{4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,120},{100,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{142,100}}</string>
                <key>offset</key>
                <string>{-18,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,122},{142,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,102}}</string>
                <key>offset</key>
                <string>{-30,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,120},{164,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,102},{94,98}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,396},{92,94}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,128},{92,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,300},{92,94}}</string>
                <key>offset</key>
                <string>{20,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,128},{92,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,102},{94,98}}</string>
                <key>offset</key>
                <string>{2,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,124},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{94,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,123},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,200},{96,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,123},{96,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,202},{96,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,123},{96,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{96,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,123},{96,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,206},{94,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,123},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{94,98}}</string>
                <key>offset</key>
                <string>{1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,123},{94,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster117_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{92,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,123},{92,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster117.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79875917b4ca8b06d3df592c0c68c63c:78df075b92e775bfa847112977801eae:e55c7139e2fa2bd6b30994cd654d0945$</string>
            <key>textureFileName</key>
            <string>monster117.png</string>
        </dict>
    </dict>
</plist>
