<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster334_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,378},{130,168}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{130,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,404},{128,168}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,78},{128,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,138},{104,170}}</string>
                <key>offset</key>
                <string>{-11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,76},{104,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,140},{100,170}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,79},{100,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,510},{112,164}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,83},{112,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{110,160}}</string>
                <key>offset</key>
                <string>{0,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,87},{110,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{214,166}}</string>
                <key>offset</key>
                <string>{37,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{214,166}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,162}}</string>
                <key>offset</key>
                <string>{35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,85},{218,162}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{200,158}}</string>
                <key>offset</key>
                <string>{27,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,89},{200,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,510},{142,158}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,89},{142,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,562},{98,164}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,82},{98,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,440},{120,168}}</string>
                <key>offset</key>
                <string>{10,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,77},{120,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,378},{130,168}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{130,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{126,164}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,83},{126,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,442},{126,164}}</string>
                <key>offset</key>
                <string>{-15,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,83},{126,164}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,378},{130,168}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,77},{130,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,244},{132,168}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{132,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,138},{132,168}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,77},{132,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,242},{134,168}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,170},{134,168}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{134,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{134,170}}</string>
                <key>offset</key>
                <string>{15,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,75},{134,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{136,170}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,75},{136,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{134,170}}</string>
                <key>offset</key>
                <string>{14,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,75},{134,170}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{132,168}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{132,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,306},{132,168}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,77},{132,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,272},{130,168}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{130,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster334_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,272},{130,168}}</string>
                <key>offset</key>
                <string>{14,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,77},{130,168}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster334.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd52b4407e7e4eef2cb94381c5d8851:1/1$</string>
            <key>textureFileName</key>
            <string>monster334.png</string>
        </dict>
    </dict>
</plist>
