<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster262_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,312},{84,112}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,109},{84,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,102},{104,116}}</string>
                <key>offset</key>
                <string>{12,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,105},{104,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{148,106}}</string>
                <key>offset</key>
                <string>{35,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,114},{148,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,114},{146,112}}</string>
                <key>offset</key>
                <string>{-22,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,110},{146,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{176,110}}</string>
                <key>offset</key>
                <string>{-35,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,112},{176,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,96}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,126},{184,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{134,98}}</string>
                <key>offset</key>
                <string>{-10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,124},{134,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,398},{104,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,113},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,322},{82,112}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,109},{82,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{108,102}}</string>
                <key>offset</key>
                <string>{43,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,119},{108,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,406},{108,102}}</string>
                <key>offset</key>
                <string>{43,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,119},{108,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{84,112}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,109},{84,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,376},{80,112}}</string>
                <key>offset</key>
                <string>{18,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,109},{80,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,296},{78,114}}</string>
                <key>offset</key>
                <string>{17,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,107},{78,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{80,114}}</string>
                <key>offset</key>
                <string>{18,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,107},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,228},{82,114}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,107},{82,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,208},{86,114}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,107},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,114}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,107},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster262_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,208},{86,112}}</string>
                <key>offset</key>
                <string>{19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,109},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster262.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b99e10715f6ac546bb2ec4e5c0111ca3:16fe71e145530f97fe39043a19cb5a7e:f5276f81365a09dc319ea633c90113fd$</string>
            <key>textureFileName</key>
            <string>monster262.png</string>
        </dict>
    </dict>
</plist>
