<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster120_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,250},{72,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,128},{72,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,230},{70,94}}</string>
                <key>offset</key>
                <string>{2,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,128},{70,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,324},{70,92}}</string>
                <key>offset</key>
                <string>{3,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,129},{70,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,96},{76,96}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,125},{76,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{72,102}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,119},{72,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{106,102}}</string>
                <key>offset</key>
                <string>{-29,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,119},{106,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{116,92}}</string>
                <key>offset</key>
                <string>{-29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,129},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,92}}</string>
                <key>offset</key>
                <string>{-21,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,129},{126,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{74,94}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,128},{74,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,76},{78,96}}</string>
                <key>offset</key>
                <string>{15,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,126},{78,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{78,96}}</string>
                <key>offset</key>
                <string>{15,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,126},{78,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{74,94}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,128},{74,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,156},{74,94}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,128},{74,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,106},{76,94}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,128},{76,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{74,94}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,127},{74,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{72,94}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,127},{72,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,232},{70,94}}</string>
                <key>offset</key>
                <string>{2,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,127},{70,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,260},{70,94}}</string>
                <key>offset</key>
                <string>{1,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,127},{70,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster120_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,156},{72,94}}</string>
                <key>offset</key>
                <string>{1,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,128},{72,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster120.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5acae8e8ee2a61c2cf9ae0cf006c9f92:207662929ba3bacf342634249e50553a:a44c8730496fbfc2604769f59eb1eec5$</string>
            <key>textureFileName</key>
            <string>monster120.png</string>
        </dict>
    </dict>
</plist>
