<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster008_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,395},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,97},{108,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{112,118}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,103},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,599},{110,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,111},{110,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,483},{118,120}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,101},{118,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,143},{138,142}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,79},{138,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1},{142,152}}</string>
                <key>offset</key>
                <string>{-9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,69},{142,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,166}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,55},{150,166}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{140,164}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,57},{140,164}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,97},{108,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,485},{112,120}}</string>
                <key>offset</key>
                <string>{19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,505},{112,120}}</string>
                <key>offset</key>
                <string>{19,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,101},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,373},{108,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,97},{108,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,283},{110,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,97},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{110,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,97},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,259},{112,124}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,97},{112,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{112,126}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,95},{112,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{112,126}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,95},{112,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,145},{112,126}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,95},{112,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster008_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,373},{110,124}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,97},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster008.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f8f71d0760bfcf76d89287c6f16368d:834d07479523d7fab8ed50225ee7bef2:8dcabbad0ebc8eac14f6502f68b7f4c0$</string>
            <key>textureFileName</key>
            <string>monster008.png</string>
        </dict>
    </dict>
</plist>
