<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster248_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,434},{148,144}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{148,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{140,144}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,78},{140,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,570},{136,148}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{136,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,278},{138,152}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,70},{138,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,294},{128,154}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,68},{128,154}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{206,136}}</string>
                <key>offset</key>
                <string>{-18,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{206,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,136}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{226,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,136}}</string>
                <key>offset</key>
                <string>{-15,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{226,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{224,136}}</string>
                <key>offset</key>
                <string>{-16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{224,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{224,138}}</string>
                <key>offset</key>
                <string>{-16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{224,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,140},{212,136}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{212,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,418},{150,140}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,82},{150,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,560},{148,144}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{148,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{162,152}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,70},{162,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,140},{162,152}}</string>
                <key>offset</key>
                <string>{10,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,70},{162,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,424},{148,144}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{148,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,304},{150,144}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,78},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,278},{152,144}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,78},{152,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{152,144}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{152,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,424},{152,144}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,78},{152,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,288},{160,144}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,142},{160,144}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,78},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster248_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,142},{160,144}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{160,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster248.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ab1114600660e8c975d49424f63900:1/1$</string>
            <key>textureFileName</key>
            <string>monster248.png</string>
        </dict>
    </dict>
</plist>
