<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster234_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,378},{114,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,458},{108,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,112},{108,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,492},{98,102}}</string>
                <key>offset</key>
                <string>{6,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,119},{98,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{98,126}}</string>
                <key>offset</key>
                <string>{19,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,92},{98,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{108,116}}</string>
                <key>offset</key>
                <string>{27,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{108,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,136}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,85},{150,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{146,130}}</string>
                <key>offset</key>
                <string>{-38,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,91},{146,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,108}}</string>
                <key>offset</key>
                <string>{-31,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,112},{152,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{114,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,102},{122,122}}</string>
                <key>offset</key>
                <string>{30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{122,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{122,122}}</string>
                <key>offset</key>
                <string>{30,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,97},{122,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{114,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,342},{114,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,107},{114,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,456},{112,112}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,107},{112,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,342},{114,114}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,105},{114,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{118,114}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,105},{118,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,226},{118,114}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,105},{118,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,226},{116,114}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,105},{116,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster234_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,264},{116,112}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,107},{116,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster234.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e9787cdeed23ddd4acd2e955c6947fa:a793bea816c1a0e1617f109b9541bb85:77f848e92bd2fe8a8c5091ece47b94a1$</string>
            <key>textureFileName</key>
            <string>monster234.png</string>
        </dict>
    </dict>
</plist>
