<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster157_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,352},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,676},{100,116}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,106},{100,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{96,114}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,108},{96,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,870},{86,114}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,107},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{106,116}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,116}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,105},{138,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{134,116}}</string>
                <key>offset</key>
                <string>{-14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,105},{134,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,122},{122,116}}</string>
                <key>offset</key>
                <string>{-10,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,105},{122,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,460},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{90,116}}</string>
                <key>offset</key>
                <string>{26,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,105},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,778},{90,116}}</string>
                <key>offset</key>
                <string>{26,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,105},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,460},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,568},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,105},{106,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{106,118}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,103},{106,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{104,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,103},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,246},{104,118}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,103},{104,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{102,118}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,103},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster157_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{104,116}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,105},{104,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster157.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e341377702c41ce615c2dbdd9d7ca7d6:49d3f7db09a8a6a06557e6d42ec78968:5ca817bfee558a7ead3feb8d66e05412$</string>
            <key>textureFileName</key>
            <string>monster157.png</string>
        </dict>
    </dict>
</plist>
