<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster167_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,103},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,250},{122,112}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{122,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,140},{130,108}}</string>
                <key>offset</key>
                <string>{3,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,114},{130,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,86},{92,132}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,89},{92,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{82,136}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,84},{82,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{146,144}}</string>
                <key>offset</key>
                <string>{-27,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,77},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,136}}</string>
                <key>offset</key>
                <string>{-26,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,85},{152,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,114}}</string>
                <key>offset</key>
                <string>{-23,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,107},{156,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,103},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{108,120}}</string>
                <key>offset</key>
                <string>{30,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,101},{108,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,412},{108,120}}</string>
                <key>offset</key>
                <string>{30,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,101},{108,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,103},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,418},{112,118}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,103},{112,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,478},{114,118}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,103},{114,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{114,120}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,101},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,180},{114,122}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,100},{114,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,296},{114,120}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,101},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,296},{114,120}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,101},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster167_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,364},{112,120}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,101},{112,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster167.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68cfef6c5a61fc8d9e52ddebbcb1c642:587d231cca7b603b69f48ae513f79880:81d384e155b9a078c6c89a8c02f75d2f$</string>
            <key>textureFileName</key>
            <string>monster167.png</string>
        </dict>
    </dict>
</plist>
