<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster236_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{76,78}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{74,74}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,147},{74,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,226},{82,72}}</string>
                <key>offset</key>
                <string>{7,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,150},{82,72}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,80},{86,82}}</string>
                <key>offset</key>
                <string>{6,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,139},{86,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,84}}</string>
                <key>offset</key>
                <string>{-12,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,137},{124,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{116,92}}</string>
                <key>offset</key>
                <string>{-9,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,129},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{90,86}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,135},{90,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,176},{76,74}}</string>
                <key>offset</key>
                <string>{2,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,147},{76,74}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,168},{76,78}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{70,80}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,141},{70,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,74},{70,80}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,141},{70,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,168},{76,78}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,242},{74,78}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,143},{74,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,146},{82,78}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,143},{82,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,90},{86,76}}</string>
                <key>offset</key>
                <string>{10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,145},{86,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{90,76}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,145},{90,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{92,76}}</string>
                <key>offset</key>
                <string>{12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,145},{92,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,164},{86,76}}</string>
                <key>offset</key>
                <string>{10,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,145},{86,76}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster236_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{78,78}}</string>
                <key>offset</key>
                <string>{5,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,143},{78,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster236.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43aa36dcc02e908d7196eed7eb9c4a4d:04f278bf20e3dbd0e4a65ac5eb0bc7c8:292cbdebcc73ab6ce5cb0cdbc784dd3a$</string>
            <key>textureFileName</key>
            <string>monster236.png</string>
        </dict>
    </dict>
</plist>
