<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster210_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,292},{96,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,112},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{88,112}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,108},{88,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,104},{86,114}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,106},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,118},{84,114}}</string>
                <key>offset</key>
                <string>{8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,106},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{112,98}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,122},{112,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{116,100}}</string>
                <key>offset</key>
                <string>{-10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,120},{116,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{126,102}}</string>
                <key>offset</key>
                <string>{-14,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,118},{126,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,104}}</string>
                <key>offset</key>
                <string>{-15,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{130,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,292},{96,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,112},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{120,114}}</string>
                <key>offset</key>
                <string>{17,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,106},{120,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,106},{120,114}}</string>
                <key>offset</key>
                <string>{17,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,106},{120,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,292},{96,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,112},{96,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,390},{94,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,112},{94,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,222},{94,110}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,111},{94,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{94,110}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{94,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,192},{98,110}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,111},{98,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,204},{98,110}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,111},{98,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{100,108}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,113},{100,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster210_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,394},{98,108}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,113},{98,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster210.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4fa0f5132260b62a3fad33e429cd276:2b6540833a180f19d77bc9a4377e2193:36df72049c084d071e31dbd1b1d10c71$</string>
            <key>textureFileName</key>
            <string>monster210.png</string>
        </dict>
    </dict>
</plist>
