<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster103_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{130,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{130,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,867},{136,154}}</string>
                <key>offset</key>
                <string>{17,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,96},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,161},{140,152}}</string>
                <key>offset</key>
                <string>{19,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,98},{140,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,249},{126,236}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{126,236}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{130,238}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,11},{130,238}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,246}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{154,246}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{218,200}}</string>
                <key>offset</key>
                <string>{30,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,50},{218,200}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{224,182}}</string>
                <key>offset</key>
                <string>{26,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,68},{224,182}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,489},{236,144}}</string>
                <key>offset</key>
                <string>{24,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,106},{236,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{204,146}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,104},{204,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,227},{212,146}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,104},{212,146}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,487},{216,144}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,106},{216,144}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{130,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{130,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,441},{136,150}}</string>
                <key>offset</key>
                <string>{-16,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,100},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,303},{136,150}}</string>
                <key>offset</key>
                <string>{-16,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,100},{136,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,163},{130,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{130,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,369},{132,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,603},{132,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1},{132,160}}</string>
                <key>offset</key>
                <string>{17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1},{132,158}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{132,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,163},{132,158}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{132,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,765},{134,158}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,92},{134,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,325},{132,158}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{132,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,531},{132,158}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,92},{132,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,207},{132,160}}</string>
                <key>offset</key>
                <string>{17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,441},{132,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster103_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,705},{132,160}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{132,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster103.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cbb0bfc60b832b7186f64dd648b87de:1/1$</string>
            <key>textureFileName</key>
            <string>monster103.png</string>
        </dict>
    </dict>
</plist>
