<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster252_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,266},{76,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,134},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,258},{76,82}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,139},{76,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,342},{76,78}}</string>
                <key>offset</key>
                <string>{-5,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,143},{76,78}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,96},{82,102}}</string>
                <key>offset</key>
                <string>{19,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,118},{82,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,114},{84,98}}</string>
                <key>offset</key>
                <string>{22,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,121},{84,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,110}}</string>
                <key>offset</key>
                <string>{-23,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,111},{126,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,100}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,121},{128,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{126,80}}</string>
                <key>offset</key>
                <string>{-20,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,141},{126,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,354},{76,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,134},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{102,92}}</string>
                <key>offset</key>
                <string>{28,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,128},{102,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{102,92}}</string>
                <key>offset</key>
                <string>{28,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,128},{102,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,354},{76,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,134},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,180},{76,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,134},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,180},{76,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,134},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,180},{76,86}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,133},{76,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{78,88}}</string>
                <key>offset</key>
                <string>{2,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,132},{78,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{80,86}}</string>
                <key>offset</key>
                <string>{2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,134},{80,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,96},{82,86}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,134},{82,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster252_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{80,86}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,134},{80,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster252.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:000f58d61141f212f0526179ea3094aa:ef3a4fc8e9aa754d9cc7f268aeeb6c77:852e87b400597ec70021fea84250dd6f$</string>
            <key>textureFileName</key>
            <string>monster252.png</string>
        </dict>
    </dict>
</plist>
