<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster149_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{88,108}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,351},{88,104}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,117},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,271},{88,100}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,121},{88,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1},{74,124}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,95},{74,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,141},{82,124}}</string>
                <key>offset</key>
                <string>{30,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,94},{82,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{130,138}}</string>
                <key>offset</key>
                <string>{-28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{130,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,279},{132,116}}</string>
                <key>offset</key>
                <string>{-27,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,105},{132,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{136,108}}</string>
                <key>offset</key>
                <string>{-25,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,113},{136,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,413},{90,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,267},{82,112}}</string>
                <key>offset</key>
                <string>{30,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,108},{82,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,127},{82,112}}</string>
                <key>offset</key>
                <string>{30,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,108},{82,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1},{88,108}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,91},{88,108}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,112},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,181},{88,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,112},{88,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{90,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,241},{90,108}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,111},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{90,110}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,110},{90,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,111},{90,108}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster149_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{90,108}}</string>
                <key>offset</key>
                <string>{3,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,112},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster149.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bee3031314e98dcc0ec29c675d864d8:7ea18079cefe7c8d8bc99355b3ff8f80:8931d729a5ecc6ef74fe195e3d1032d4$</string>
            <key>textureFileName</key>
            <string>monster149.png</string>
        </dict>
    </dict>
</plist>
