<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster011_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{94,88}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{94,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{88,86}}</string>
                <key>offset</key>
                <string>{4,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,135},{88,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,290},{82,84}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{82,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,292},{78,82}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,139},{78,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{100,90}}</string>
                <key>offset</key>
                <string>{-12,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,131},{100,90}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{118,106}}</string>
                <key>offset</key>
                <string>{-21,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,115},{118,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,108}}</string>
                <key>offset</key>
                <string>{-21,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,113},{124,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{106,106}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,115},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,186},{88,88}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,94},{90,94}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,127},{90,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,110},{90,94}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,127},{90,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,186},{88,88}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,200},{88,88}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,110},{90,88}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{90,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,186},{88,88}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,276},{88,88}}</string>
                <key>offset</key>
                <string>{1,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,276},{88,88}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{88,88}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster011_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,202},{88,88}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,133},{88,88}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster011.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8eb31b7077f2eacd4a3a5dc492727cf:a8211d885f8de4e788767ea3334b6d39:5f15dc5515957697c3fc4303941b8d4c$</string>
            <key>textureFileName</key>
            <string>monster011.png</string>
        </dict>
    </dict>
</plist>
