<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster309_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,277},{136,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{136,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,427},{154,152}}</string>
                <key>offset</key>
                <string>{-6,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,98},{154,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,415},{156,148}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,102},{156,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,277},{144,148}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,102},{144,148}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{170,192}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,58},{170,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,199},{146,192}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{146,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{146,194}}</string>
                <key>offset</key>
                <string>{-46,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{146,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,196}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{178,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{170,190}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,60},{170,190}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,589},{174,156}}</string>
                <key>offset</key>
                <string>{37,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,94},{174,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,765},{170,150}}</string>
                <key>offset</key>
                <string>{37,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,100},{170,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,277},{136,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{136,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,139},{136,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{136,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,555},{154,158}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{154,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,751},{154,158}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{154,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{136,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,92},{136,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,161},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,323},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{140,160}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,193},{140,160}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,765},{142,160}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,90},{142,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,393},{140,160}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,589},{140,160}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,90},{140,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,163},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster309_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,355},{138,158}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,92},{138,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster309.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b01c07852d44575f4cc6fe01883a35b:1/1$</string>
            <key>textureFileName</key>
            <string>monster309.png</string>
        </dict>
    </dict>
</plist>
