<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster261_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{140,138}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,442},{150,130}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,91},{150,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,168},{176,116}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,106},{176,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{132,160}}</string>
                <key>offset</key>
                <string>{38,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,60},{132,160}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,310},{130,160}}</string>
                <key>offset</key>
                <string>{39,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,59},{130,160}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{194,164}}</string>
                <key>offset</key>
                <string>{-31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{194,164}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{182,162}}</string>
                <key>offset</key>
                <string>{-37,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{182,162}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,152}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,68},{204,152}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{140,138}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,420},{154,148}}</string>
                <key>offset</key>
                <string>{49,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{154,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{154,148}}</string>
                <key>offset</key>
                <string>{49,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{154,148}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{140,138}}</string>
                <key>offset</key>
                <string>{18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,83},{140,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{134,138}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,82},{134,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{126,138}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,82},{126,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,710},{132,140}}</string>
                <key>offset</key>
                <string>{17,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,80},{132,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,574},{138,140}}</string>
                <key>offset</key>
                <string>{18,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,80},{138,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,168},{146,140}}</string>
                <key>offset</key>
                <string>{18,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,80},{146,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{156,138}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,82},{156,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster261_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,570},{148,138}}</string>
                <key>offset</key>
                <string>{18,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{148,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster261.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1909a65b4b9d1034db3c745f3e2a14:563cdd003c70d148974453f81bb18c22:10ddfe557a6b1d328ac06026c9083582$</string>
            <key>textureFileName</key>
            <string>monster261.png</string>
        </dict>
    </dict>
</plist>
