<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster243_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,214},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{92,68}}</string>
                <key>offset</key>
                <string>{4,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,152},{92,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,72},{92,68}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,153},{92,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,80},{92,66}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,155},{92,66}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{76,92}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,125},{76,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,70},{72,100}}</string>
                <key>offset</key>
                <string>{4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,115},{72,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{100,80}}</string>
                <key>offset</key>
                <string>{-3,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,142},{100,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,66}}</string>
                <key>offset</key>
                <string>{-1,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,156},{102,66}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,68}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,154},{102,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{100,70}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,152},{100,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,84},{88,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,151},{88,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,144},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,154},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,220},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,284},{86,68}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,151},{86,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,142},{86,70}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,149},{86,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{84,70}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,149},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,284},{84,68}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,150},{84,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{84,70}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,148},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{84,70}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,149},{84,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,214},{84,68}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,150},{84,68}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster243_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,148},{86,70}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,149},{86,70}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster243.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d3bc88154992c4b7617d2ec771f443e:6616d19b30068b04e1ba04ed3d70f956:7affac11e262366edb06dbab143d89fb$</string>
            <key>textureFileName</key>
            <string>monster243.png</string>
        </dict>
    </dict>
</plist>
