<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster163_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,379},{100,86}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,136},{100,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,295},{100,82}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,140},{100,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,175},{106,80}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,142},{106,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{110,84}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,138},{110,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{142,102}}</string>
                <key>offset</key>
                <string>{-21,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,120},{142,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{130,116}}</string>
                <key>offset</key>
                <string>{-17,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,106},{130,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{114,96}}</string>
                <key>offset</key>
                <string>{-6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,126},{114,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{102,80}}</string>
                <key>offset</key>
                <string>{-1,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,142},{102,80}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,379},{100,86}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,136},{100,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,295},{90,82}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,140},{90,82}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,379},{90,84}}</string>
                <key>offset</key>
                <string>{7,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,138},{90,84}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,379},{100,86}}</string>
                <key>offset</key>
                <string>{2,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,136},{100,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,207},{102,86}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,136},{102,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,89},{106,86}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,136},{106,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{108,86}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{108,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,119},{106,86}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{106,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,87},{108,86}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{108,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{106,86}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,136},{106,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster163_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,291},{102,86}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,136},{102,86}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster163.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07cdaaf8863a4db3b53c52d5c5320519:b9b7990916c3a2654e3825a0498fd898:b2e7e1080db7b3243cf6d8beb3bb9a16$</string>
            <key>textureFileName</key>
            <string>monster163.png</string>
        </dict>
    </dict>
</plist>
