<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster005_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,249},{96,118}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,395},{106,114}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,107},{106,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{114,114}}</string>
                <key>offset</key>
                <string>{-1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,107},{114,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{110,124}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,97},{110,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{114,138}}</string>
                <key>offset</key>
                <string>{-8,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,83},{114,138}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{118,144}}</string>
                <key>offset</key>
                <string>{-10,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,77},{118,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,293},{110,142}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{110,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{112,144}}</string>
                <key>offset</key>
                <string>{-7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,77},{112,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,249},{96,118}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,103},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,147},{98,130}}</string>
                <key>offset</key>
                <string>{12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,91},{98,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,141},{98,130}}</string>
                <key>offset</key>
                <string>{12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,91},{98,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,249},{96,118}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,127},{96,120}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{96,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,117},{98,120}}</string>
                <key>offset</key>
                <string>{-2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,101},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,239},{98,120}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,293},{100,120}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{100,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,361},{98,120}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,100},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,415},{96,120}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{96,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster005_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,273},{96,120}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{96,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster005.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45a72a022c7484302aa9c47d2d85eeb9:156606176950e46493355f1db4c7bc2e:3e94a81c0253284e50ed2fb324d8c34a$</string>
            <key>textureFileName</key>
            <string>monster005.png</string>
        </dict>
    </dict>
</plist>
