<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster333_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,784},{136,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,636},{146,150}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,100},{146,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,476},{150,150}}</string>
                <key>offset</key>
                <string>{-10,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,100},{150,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,636},{144,152}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,98},{144,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{178,192}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,58},{178,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{150,194}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,56},{150,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{150,194}}</string>
                <key>offset</key>
                <string>{-48,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,56},{150,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,196}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{178,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{170,190}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,60},{170,190}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,786},{176,160}}</string>
                <key>offset</key>
                <string>{36,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,90},{176,160}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,200},{172,154}}</string>
                <key>offset</key>
                <string>{36,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,96},{172,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,784},{136,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,784},{136,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,374},{154,158}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,91},{154,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{154,158}}</string>
                <key>offset</key>
                <string>{-21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,91},{154,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{136,154}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{136,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,160},{136,156}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,318},{136,156}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,160},{138,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,320},{138,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{140,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{140,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,162},{140,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{140,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,534},{140,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{140,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,478},{138,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,320},{138,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,478},{136,156}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster333_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{136,156}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster333.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e50a254738fd4faf75bb4e86bf9b8cc3:1/1$</string>
            <key>textureFileName</key>
            <string>monster333.png</string>
        </dict>
    </dict>
</plist>
