<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster151_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,747},{94,112}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,108},{94,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{92,108}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,113},{92,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,95},{90,108}}</string>
                <key>offset</key>
                <string>{-4,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,114},{90,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{86,132}}</string>
                <key>offset</key>
                <string>{25,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,87},{86,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,187},{96,134}}</string>
                <key>offset</key>
                <string>{35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,85},{96,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{134,136}}</string>
                <key>offset</key>
                <string>{-29,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,86},{134,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{142,116}}</string>
                <key>offset</key>
                <string>{-26,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,105},{142,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{144,114}}</string>
                <key>offset</key>
                <string>{-24,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,107},{144,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,323},{94,114}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,107},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,459},{94,122}}</string>
                <key>offset</key>
                <string>{34,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,99},{94,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,515},{94,122}}</string>
                <key>offset</key>
                <string>{34,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,99},{94,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,747},{94,112}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,108},{94,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,803},{94,112}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{94,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{94,112}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,108},{94,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,419},{94,114}}</string>
                <key>offset</key>
                <string>{0,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{94,114}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,611},{94,114}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{94,114}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster151_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,707},{94,114}}</string>
                <key>offset</key>
                <string>{1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster151.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:306912bf5338161b8f915f6094361216:a7cc0dd89fdb5ad9bdd6d0a9d6320191:f160d784a11c9102860f98a63a8d9e78$</string>
            <key>textureFileName</key>
            <string>monster151.png</string>
        </dict>
    </dict>
</plist>
