<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster305_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,634},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,476},{152,150}}</string>
                <key>offset</key>
                <string>{-10,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,100},{152,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,532},{156,150}}</string>
                <key>offset</key>
                <string>{-12,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,100},{156,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,636},{146,150}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,100},{146,150}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{176,192}}</string>
                <key>offset</key>
                <string>{-28,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,58},{176,192}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{148,194}}</string>
                <key>offset</key>
                <string>{-44,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,56},{148,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{148,194}}</string>
                <key>offset</key>
                <string>{-47,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{148,194}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,196}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{178,196}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{170,190}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,60},{170,190}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,786},{176,158}}</string>
                <key>offset</key>
                <string>{36,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,92},{176,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,200},{170,152}}</string>
                <key>offset</key>
                <string>{37,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,98},{170,152}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,634},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,372},{152,158}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{152,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{152,158}}</string>
                <key>offset</key>
                <string>{-20,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{152,158}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,160},{134,154}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,96},{134,154}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,318},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,476},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,160},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,784},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,320},{138,156}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{138,156}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,162},{138,156}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{138,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,784},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,478},{136,156}}</string>
                <key>offset</key>
                <string>{-3,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,94},{136,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,318},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
            <key>monster305_wait_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{134,156}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{134,156}}</string>
                <key>sourceSize</key>
                <string>{288,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster305.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ff8517269962b47c1143f1bb7f50e1:1/1$</string>
            <key>textureFileName</key>
            <string>monster305.png</string>
        </dict>
    </dict>
</plist>
