<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster111_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{94,102}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,118},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,288},{82,98}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,123},{82,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,214},{72,98}}</string>
                <key>offset</key>
                <string>{-9,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,123},{72,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{84,116}}</string>
                <key>offset</key>
                <string>{28,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,103},{84,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{84,120}}</string>
                <key>offset</key>
                <string>{28,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,99},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,120}}</string>
                <key>offset</key>
                <string>{-28,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{114,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{116,108}}</string>
                <key>offset</key>
                <string>{-28,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,113},{116,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,124},{116,102}}</string>
                <key>offset</key>
                <string>{-26,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,119},{116,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{94,102}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,118},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,226},{88,104}}</string>
                <key>offset</key>
                <string>{30,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,108},{88,104}}</string>
                <key>offset</key>
                <string>{30,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{94,102}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,118},{94,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{94,104}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,364},{94,104}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,242},{94,104}}</string>
                <key>offset</key>
                <string>{2,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,120},{94,104}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,116},{94,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{92,104}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,348},{92,104}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,116},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster111_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,194},{92,102}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,118},{92,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster111.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d230992ed73acefe0f473996ad8809f6:519033a0b19bd89388579c52b9e5bcea:ae263c4da76bedcde3bba82bdd2a785a$</string>
            <key>textureFileName</key>
            <string>monster111.png</string>
        </dict>
    </dict>
</plist>
