<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster230_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,500},{112,96}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,123},{112,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,300},{120,98}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,121},{120,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,194},{126,102}}</string>
                <key>offset</key>
                <string>{7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,117},{126,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{124,104}}</string>
                <key>offset</key>
                <string>{6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,115},{124,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,96},{140,96}}</string>
                <key>offset</key>
                <string>{-18,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,126},{140,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{158,96}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,126},{158,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{162,92}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,130},{162,92}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,96}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,125},{166,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,400},{112,98}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,121},{112,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{114,102}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,117},{114,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,398},{114,102}}</string>
                <key>offset</key>
                <string>{17,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,117},{114,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,400},{112,98}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,121},{112,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{120,98}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,121},{120,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,298},{122,98}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,121},{122,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,200},{120,98}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,121},{120,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,300},{114,98}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,121},{114,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,200},{124,98}}</string>
                <key>offset</key>
                <string>{5,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,121},{124,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{132,98}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,121},{132,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster230_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,100},{128,98}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,121},{128,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster230.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7196bc0124962c1821b71a4dd4da98b:1/1$</string>
            <key>textureFileName</key>
            <string>monster230.png</string>
        </dict>
    </dict>
</plist>
