<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster202_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,123},{110,108}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,403},{102,104}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,117},{102,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,403},{90,94}}</string>
                <key>offset</key>
                <string>{-3,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,127},{90,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,97},{84,124}}</string>
                <key>offset</key>
                <string>{30,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,96},{84,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,97},{94,114}}</string>
                <key>offset</key>
                <string>{36,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{126,120}}</string>
                <key>offset</key>
                <string>{-23,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,101},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{124,108}}</string>
                <key>offset</key>
                <string>{-22,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,113},{124,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,106}}</string>
                <key>offset</key>
                <string>{-19,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,115},{128,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,123},{110,108}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{94,124}}</string>
                <key>offset</key>
                <string>{34,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,96},{94,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{94,124}}</string>
                <key>offset</key>
                <string>{34,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,96},{94,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,123},{110,108}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{110,108}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,183},{110,108}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,233},{110,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{110,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,193},{110,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,293},{110,108}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,112},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster202_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,343},{110,108}}</string>
                <key>offset</key>
                <string>{1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,113},{110,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster202.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d99b8363b5139047a8095839ba7282:c7302f412527f517c389673292b3d326:e0fddaf5311bb23202c43a09dd1499ee$</string>
            <key>textureFileName</key>
            <string>monster202.png</string>
        </dict>
    </dict>
</plist>
