<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster002_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{88,96}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,282},{88,94}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,126},{88,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{88,96}}</string>
                <key>offset</key>
                <string>{5,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,386},{90,94}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,126},{90,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,108}}</string>
                <key>offset</key>
                <string>{-20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,112},{128,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{124,104}}</string>
                <key>offset</key>
                <string>{-18,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,116},{124,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{118,98}}</string>
                <key>offset</key>
                <string>{-6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,122},{118,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{92,98}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{92,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,192},{88,96}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,96},{96,94}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,126},{96,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,102},{96,94}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,126},{96,94}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{88,96}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,124},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,282},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,380},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,198},{88,96}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,288},{88,96}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,386},{88,96}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster002_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,288},{88,96}}</string>
                <key>offset</key>
                <string>{3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,125},{88,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster002.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91698f7cd1928c3e4a3f6f100f82267f:8c59e8343a95050e1fcadc1cb1200026:80e84a644171af5b4fcff702717d1a6e$</string>
            <key>textureFileName</key>
            <string>monster002.png</string>
        </dict>
    </dict>
</plist>
