<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster201_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,241},{94,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,231},{76,102}}</string>
                <key>offset</key>
                <string>{15,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,120},{76,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,349},{88,104}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,118},{88,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{130,120}}</string>
                <key>offset</key>
                <string>{-17,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,102},{130,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{138,120}}</string>
                <key>offset</key>
                <string>{-21,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,102},{138,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{146,120}}</string>
                <key>offset</key>
                <string>{-25,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,102},{146,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{154,120}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,102},{154,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{162,118}}</string>
                <key>offset</key>
                <string>{-32,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,103},{162,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,241},{94,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,241},{106,106}}</string>
                <key>offset</key>
                <string>{42,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,115},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,123},{106,106}}</string>
                <key>offset</key>
                <string>{42,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,115},{106,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,241},{94,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,123},{94,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,359},{94,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,105},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,375},{96,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,105},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,243},{96,116}}</string>
                <key>offset</key>
                <string>{6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,104},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{96,118}}</string>
                <key>offset</key>
                <string>{7,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,103},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,123},{96,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,105},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster201_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,361},{96,116}}</string>
                <key>offset</key>
                <string>{6,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,105},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster201.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02d816da4fb81a86791c562b5a5c722a:94d2e9af94246837f22afc2b44d4b405:0c1ce3ece33c14fea1c86b47bdd76a14$</string>
            <key>textureFileName</key>
            <string>monster201.png</string>
        </dict>
    </dict>
</plist>
