<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster145_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1},{80,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{80,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,339},{76,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,113},{76,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,247},{74,106}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,116},{74,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{80,112}}</string>
                <key>offset</key>
                <string>{23,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,109},{80,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,116}}</string>
                <key>offset</key>
                <string>{32,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,105},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{88,114}}</string>
                <key>offset</key>
                <string>{20,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,107},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,235},{112,110}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,111},{112,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{104,108}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,113},{104,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,83},{80,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{80,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,119},{86,112}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,109},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{86,112}}</string>
                <key>offset</key>
                <string>{29,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,109},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,165},{80,108}}</string>
                <key>offset</key>
                <string>{7,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,113},{80,108}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,349},{80,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,233},{80,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,115},{80,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{80,110}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,345},{80,110}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,113},{78,110}}</string>
                <key>offset</key>
                <string>{8,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,111},{78,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster145_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,227},{80,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,111},{80,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster145.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34feeb1cadc0fb782ef72153fe7aac88:34bf1c9f7b31437943f22e89ce6433dd:fd5d027621209c52b4dd4e2fd670cc9f$</string>
            <key>textureFileName</key>
            <string>monster145.png</string>
        </dict>
    </dict>
</plist>
