<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster183_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,418},{134,130}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{138,140}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,81},{138,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,144}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,77},{140,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,144}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,77},{140,144}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{132,142}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,79},{132,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,136},{132,142}}</string>
                <key>offset</key>
                <string>{5,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,79},{132,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,142}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,79},{128,142}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{132,140}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,81},{132,140}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{134,130}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,538},{128,134}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{128,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,550},{128,134}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,87},{128,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{134,130}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,91},{134,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{136,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{136,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,270},{138,132}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{138,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,284},{138,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,89},{138,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,404},{134,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,89},{134,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{132,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,89},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,668},{130,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,89},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster183_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{132,132}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,89},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster183.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7c306451584faa8b3939cb0249469e3:efe6d8eefb71ca080d5844a789964b70:45b7ab776615fca7573956f95e0bd1a1$</string>
            <key>textureFileName</key>
            <string>monster183.png</string>
        </dict>
    </dict>
</plist>
