<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster154_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,418},{80,100}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,121},{80,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{76,100}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,121},{76,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,308},{74,98}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,123},{74,98}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,314},{70,102}}</string>
                <key>offset</key>
                <string>{15,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,119},{70,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,104}}</string>
                <key>offset</key>
                <string>{20,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,117},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{78,104}}</string>
                <key>offset</key>
                <string>{12,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,117},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{102,100}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,121},{102,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{100,100}}</string>
                <key>offset</key>
                <string>{-10,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,121},{100,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,104},{80,100}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{80,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,206},{74,100}}</string>
                <key>offset</key>
                <string>{20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,121},{74,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{74,100}}</string>
                <key>offset</key>
                <string>{20,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,121},{74,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,104},{80,100}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,121},{80,100}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,318},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,422},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,210},{78,102}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,119},{78,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster154_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,106},{80,102}}</string>
                <key>offset</key>
                <string>{0,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,119},{80,102}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster154.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0737ffafb1a8afcf9fbd4a7bd978e9e2:a1e278c72f34d5e3225b2da6d43eb18c:360a40b85313779cf12ef8ed87493144$</string>
            <key>textureFileName</key>
            <string>monster154.png</string>
        </dict>
    </dict>
</plist>
