<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster189_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,364},{102,110}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,111},{102,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{98,110}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,111},{98,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,492},{100,110}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,111},{100,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,468},{106,112}}</string>
                <key>offset</key>
                <string>{-4,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,109},{106,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,488},{108,114}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,107},{108,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,130},{134,116}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,105},{134,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{160,116}}</string>
                <key>offset</key>
                <string>{-29,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,105},{160,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,118}}</string>
                <key>offset</key>
                <string>{-33,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,103},{170,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,248},{114,110}}</string>
                <key>offset</key>
                <string>{7,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,111},{114,110}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{126,106}}</string>
                <key>offset</key>
                <string>{31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,115},{126,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{136,106}}</string>
                <key>offset</key>
                <string>{37,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,115},{136,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,248},{128,116}}</string>
                <key>offset</key>
                <string>{12,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,105},{128,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,372},{126,118}}</string>
                <key>offset</key>
                <string>{14,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,103},{126,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,366},{126,120}}</string>
                <key>offset</key>
                <string>{15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{126,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{128,120}}</string>
                <key>offset</key>
                <string>{15,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{128,120}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,248},{130,122}}</string>
                <key>offset</key>
                <string>{15,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,98},{130,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{134,124}}</string>
                <key>offset</key>
                <string>{14,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,97},{134,124}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{136,126}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,95},{136,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster189_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,120},{136,126}}</string>
                <key>offset</key>
                <string>{15,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,95},{136,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster189.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbeffe43b360210bee57319d15cf3dbb:dd1d4afc741aff08d9a33ebcbe74589d:fb944e30eb4191700d40ecb0cc0c1391$</string>
            <key>textureFileName</key>
            <string>monster189.png</string>
        </dict>
    </dict>
</plist>
