<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster226_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,470},{94,116}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{92,112}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,108},{92,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,928},{92,104}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,117},{92,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{100,128}}</string>
                <key>offset</key>
                <string>{32,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,91},{100,128}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{110,126}}</string>
                <key>offset</key>
                <string>{40,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,93},{110,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,132},{124,118}}</string>
                <key>offset</key>
                <string>{-29,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,102},{124,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{128,112}}</string>
                <key>offset</key>
                <string>{-32,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,108},{128,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,114}}</string>
                <key>offset</key>
                <string>{-28,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,106},{138,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{96,116}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,104},{96,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{112,116}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,104},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,356},{112,116}}</string>
                <key>offset</key>
                <string>{39,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,104},{112,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{94,116}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,566},{94,116}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{94,116}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,662},{94,116}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,103},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{94,116}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,103},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,758},{94,116}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,103},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,258},{96,118}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,102},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster226_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{94,116}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster226.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4de17ea1ae761a20048d89bfcf28c185:57614a453b7ceed032163125652ee718:bb4348c1d8050b8f221cd6dce917167c$</string>
            <key>textureFileName</key>
            <string>monster226.png</string>
        </dict>
    </dict>
</plist>
