<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster215_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{84,114}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,107},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{82,112}}</string>
                <key>offset</key>
                <string>{2,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,110},{82,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,86},{78,106}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,116},{78,106}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,100},{78,104}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,118},{78,104}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{94,114}}</string>
                <key>offset</key>
                <string>{-15,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,106},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{102,114}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,106},{102,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,116}}</string>
                <key>offset</key>
                <string>{-26,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,104},{116,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{94,114}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,107},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{84,114}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,107},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,166},{98,96}}</string>
                <key>offset</key>
                <string>{32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{98,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{98,96}}</string>
                <key>offset</key>
                <string>{32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{98,96}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{84,114}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,107},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,352},{86,114}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,107},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{86,114}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,107},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,120},{86,114}}</string>
                <key>offset</key>
                <string>{2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,107},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,236},{86,114}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,106},{86,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{84,114}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,106},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,118},{84,114}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,107},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster215_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,236},{84,114}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,107},{84,114}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster215.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fbd940c158d003ab8721173d93a27805:1/1$</string>
            <key>textureFileName</key>
            <string>monster215.png</string>
        </dict>
    </dict>
</plist>
