<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster186_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{132,132}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,88},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,154},{136,132}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,89},{136,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{150,126}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,95},{150,126}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,136},{128,130}}</string>
                <key>offset</key>
                <string>{1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,89},{128,130}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{120,176}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{120,176}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{118,184}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{118,184}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,200}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,15},{142,200}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{164,112}}</string>
                <key>offset</key>
                <string>{3,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,105},{164,112}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{150,116}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,105},{150,116}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{136,122}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,99},{136,122}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,714},{134,134}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,87},{134,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_attack_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,370},{132,136}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,86},{132,136}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_hited_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,778},{130,132}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_hited_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{144,134}}</string>
                <key>offset</key>
                <string>{15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,86},{144,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_hited_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,568},{144,134}}</string>
                <key>offset</key>
                <string>{15,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,86},{144,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,778},{130,132}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,276},{130,132}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,644},{132,132}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,88},{132,132}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,850},{134,134}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,87},{134,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{136,134}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,87},{136,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,508},{134,134}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,87},{134,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,292},{132,134}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,86},{132,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
            <key>monster186_wait_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,140},{130,134}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{130,134}}</string>
                <key>sourceSize</key>
                <string>{256,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster186.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b56a4ced7d451ab78ed71891a0c0848:a8d95064f2ee1621aae09052affb777f:a8f93ee23413915839cfa29b9f9549e1$</string>
            <key>textureFileName</key>
            <string>monster186.png</string>
        </dict>
    </dict>
</plist>
