%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "game", "1",
        [
         kernel,
         stdlib,
         sasl,
		 inets,
         game
        ]},
		{rel, "start_clean", "",
			[
			kernel,
			stdlib
			]},
		{boot_rel, "game"},
		{profile, embedded},
		{incl_cond, derived},
		{excl_archive_filters, [".*"]}, %% Do not archive built libs
		{excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
		{excl_app_filters, ["\.gitignore"]},
		{app, bson, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/bson"}]},
		{app, erlsom, [{incl_cond, include}, {lib_dir, "../deps/erlsom"}]},
		{app, erlcron, [{incl_cond, include}, {lib_dir, "../deps/erlcron"}]},
		{app, boss_db, [{incl_cond, include}, {lib_dir, "../deps/boss_db"}]},
		{app, poolboy, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/poolboy"}]},
		{app, mysql, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/mysql"}]},
		{app, tiny_pq, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/tiny_pq"}]},
		{app, protobuffs, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/protobuffs"}]},
		{app, meck, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/meck"}]},
		{app, jsx, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/jsx"}]},
		{app, gen_server2, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/gen_server2"}]},
		{app, aleppo, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/aleppo"}]},
		{app, ets_cache, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/ets_cache"}]},
		{app, erlydtl, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/erlydtl"}]},
		{app, redo, [{incl_cond, include}, {lib_dir, "../deps/boss_db/deps/redo"}]},
		{app, game, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../"}]},
		{app, thrift, [{incl_cond, include}, {lib_dir, "../deps/thrift"}]}
      ]}.

{target_dir, "game"}.

{overlay, [
			{mkdir, "log/sasl"},
			{copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
			{copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
			{copy, "game/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
			{copy, "files/game", "bin/game"},
			{copy, "files/game.cmd", "bin/game.cmd"},
			{copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
			{copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
			{copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
			{copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
			{copy, "../ebin/template/", "./"},
			{copy, "../ebin/db_update.sql", "lib/game-\{\{rel_vsn\}\}/ebin/"},
			{copy, "../ebin/cache.config", "lib/game-\{\{rel_vsn\}\}/ebin/"},
			{copy, "../ebin/db.config", "lib/game-\{\{rel_vsn\}\}/ebin/"}
          ]}.
