<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuben_boss001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,614},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,830},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,614},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,614},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,512},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss009.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,410},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss011.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,308},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,206},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,104},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss017.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
            <key>fuben_boss018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,100}}</string>
                <key>sourceSize</key>
                <string>{214,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bosssmallicon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d50f5f1a7f3ee01acfc7b4c499bc4af5:1/1$</string>
            <key>textureFileName</key>
            <string>bosssmallicon.png</string>
        </dict>
    </dict>
</plist>
